designs/pages/pop_ups/airtime_details.json
[
    {
        "id": "sd_KllidtGkgXUKHnHN",
        "type": "tab",
        "createdDate": "2024-05-29T23:52:56.670Z",
        "label": "airtime_details",
        "disabled": false,
        "info": "",
        "functionSeq": 0,
        "generateNext": true,
        "serviceName": "airtime_detailsComponent"
    },
    {
        "id": "sd_zjpiWOyBFghSqCKH",
        "type": "OnInit",
        "z": "sd_KllidtGkgXUKHnHN",
        "viewType": "common",
        "nodeType": "start",
        "name": "",
        "functionName": "sd_zjpiWOyBFghSqCKH",
        "category": "Lifecycle Events",
        "x": 45,
        "y": 40,
        "wires": [
            [
                "sd_2nITGwhCd7PRhjq6"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": true,
        "serviceName": "airtime_detailsComponent"
    },
    {
        "id": "sd_L0DOWUtYu3QzOwWj",
        "type": "PageVariables",
        "z": "sd_KllidtGkgXUKHnHN",
        "viewType": "pages",
        "nodeType": "flow",
        "name": "",
        "inputs": 1,
        "outputs": 1,
        "operation": "set",
        "globalVariables": [],
        "functionName": "sd_L0DOWUtYu3QzOwWj",
        "category": "Function",
        "x": 225,
        "y": 40,
        "wires": [
            [
                "sd_m1B9ke7dS6biVQd9"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "airtime_detailsComponent",
        "generated": true
    },
    {
        "id": "sd_vbyqwlYUD9u6Q1n9",
        "type": "Script",
        "z": "sd_KllidtGkgXUKHnHN",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "script": "// console.log(\"new bh :\", bh.currentQuote.input.newQuote)\npage.currentQuote = page.loggedInUser.balance;\n\n// if (bh.currentQuote) {\n//     console.log('value');\n//     page.currentQuote = bh.currentQuote.input.newQuote;\n//     console.log(\"new bh :\", bh.currentQuote.input.newQuote);\n// } else {\n//     console.log('no value');\n// }\n\nconsole.log('page', page)\n\nconst date = new Date();\n\nconst day = date.getDate();\nconst month = date.toLocaleString('default', { month: 'long' });\nconst year = date.getFullYear();\nconst hours = String(date.getHours()).padStart(2, '0');\nconst minutes = String(date.getMinutes()).padStart(2, '0');\n\npage.formattedDate = `${day} ${month} ${year} ${hours}:${minutes}`;\n\npage.airtimeForm = new FormGroup({\n    customer: new FormControl (page.loggedInUser.name),\n    cell: new FormControl (page.loggedInUser.cell),\n    networkProvider: new FormControl(''),\n    bundleType: new FormControl('Airtime'),\n    amount: new FormControl(''),\n    fromAccount: new FormControl('Easy Zero'),\n    transactionDate: new FormControl(page.formattedDate)\n})\n\npage.networkProvider = [\n    {value: 'delhi-0', viewValue: 'Delhi'},\n   {value: 'mumbai-1', viewValue: 'Mumbai'},\n   {value: 'pune-2', viewValue: 'Pune'}\n    ]\n",
        "functionName": "sd_vbyqwlYUD9u6Q1n9",
        "category": "Function",
        "x": 405,
        "y": 40,
        "wires": [
            []
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "airtime_detailsComponent",
        "generated": true
    },
    {
        "id": "sd_m1B9ke7dS6biVQd9",
        "type": "Storage",
        "z": "sd_KllidtGkgXUKHnHN",
        "viewType": "client-pages",
        "nodeType": "flow",
        "name": "",
        "operationType": "getItem",
        "storageType": "sessionStorage",
        "outputs": 1,
        "key": {
            "type": "str",
            "value": "user"
        },
        "value": {},
        "resultMapping": {
            "type": "this.page",
            "value": "loggedInUser"
        },
        "functionName": "sd_m1B9ke7dS6biVQd9",
        "category": "Storage",
        "x": 305,
        "y": 40,
        "wires": [
            [
                "sd_vbyqwlYUD9u6Q1n9"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "airtime_detailsComponent",
        "generated": true
    },
    {
        "id": "sd_2nITGwhCd7PRhjq6",
        "type": "UseDependency",
        "z": "sd_KllidtGkgXUKHnHN",
        "viewType": "client-pages",
        "nodeType": "flow",
        "name": "",
        "inputs": 1,
        "outputs": 1,
        "property": "",
        "propertyType": "bh",
        "propertyGv": "bh.",
        "alias": "",
        "modules": [
            {
                "textIp": "FormControl",
                "typedIpValue": {
                    "type": "this.page",
                    "value": ""
                },
                "injectable": false
            },
            {
                "textIp": "FormGroup",
                "typedIpValue": {
                    "type": "this.page",
                    "value": ""
                },
                "injectable": false
            },
            {
                "textIp": "Validators",
                "typedIpValue": {
                    "type": "this.page",
                    "value": ""
                },
                "injectable": false
            }
        ],
        "import_all": false,
        "library": "@angular/forms",
        "serviceDesignerType": "pages",
        "functionName": "sd_2nITGwhCd7PRhjq6",
        "category": "Function",
        "x": 125,
        "y": 40,
        "wires": [
            [
                "sd_L0DOWUtYu3QzOwWj"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "airtime_detailsComponent",
        "generated": true
    },
    {
        "id": "sd_gqaQbtmVTkZueI6r",
        "type": "PageStart",
        "z": "sd_KllidtGkgXUKHnHN",
        "viewType": "pages",
        "nodeType": "start",
        "name": "go back to bank",
        "outputs": 1,
        "inputVariables": [],
        "localVariables": [],
        "flow_type": "sync",
        "functionName": "goBackToBank",
        "category": "General",
        "x": 105,
        "y": 260,
        "wires": [
            [
                "sd_Vu3Q5zgctIyUOJZl"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": true,
        "serviceName": "airtime_detailsComponent"
    },
    {
        "id": "sd_Vu3Q5zgctIyUOJZl",
        "type": "Navigation",
        "z": "sd_KllidtGkgXUKHnHN",
        "viewType": "client-pages",
        "nodeType": "flow",
        "name": "",
        "path": "/bank",
        "pathMap": "",
        "pathparams": "",
        "pathparamsMap": "",
        "qparams": "",
        "qparamsMap": "",
        "qparamsArray": "",
        "resultMapping": "",
        "functionName": "sd_Vu3Q5zgctIyUOJZl",
        "category": "Navigation",
        "x": 185,
        "y": 260,
        "wires": [
            []
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "airtime_detailsComponent",
        "generated": true
    },
    {
        "id": "sd_x1qBKHWc0vQI4xpo",
        "type": "PageStart",
        "z": "sd_KllidtGkgXUKHnHN",
        "viewType": "pages",
        "nodeType": "start",
        "name": "buy",
        "outputs": 1,
        "inputVariables": [],
        "localVariables": [],
        "flow_type": "sync",
        "functionName": "buy",
        "category": "General",
        "x": 85,
        "y": 140,
        "wires": [
            [
                "sd_4ROZjjy39sOjCcZW"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": true,
        "serviceName": "airtime_detailsComponent"
    },
    {
        "id": "sd_6hCfCYi0nbrxfeGQ",
        "type": "Script",
        "z": "sd_KllidtGkgXUKHnHN",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "script": "console.log('airtimeForm', page.airtimeForm.value)\n\npage.loggedInUser.balance = page.loggedInUser.balance - page.airtimeForm.value.amount;\n\nconsole.log('page', page)",
        "functionName": "sd_6hCfCYi0nbrxfeGQ",
        "category": "Function",
        "x": 265,
        "y": 140,
        "wires": [
            [
                "sd_sxgmbQZXtgUmpagW"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "airtime_detailsComponent",
        "generated": true
    },
    {
        "id": "sd_sxgmbQZXtgUmpagW",
        "type": "Storage",
        "z": "sd_KllidtGkgXUKHnHN",
        "viewType": "client-pages",
        "nodeType": "flow",
        "name": "",
        "operationType": "setItem",
        "storageType": "sessionStorage",
        "outputs": 1,
        "key": {
            "type": "str",
            "value": "user"
        },
        "value": {
            "type": "this.page",
            "value": "loggedInUser"
        },
        "resultMapping": {},
        "functionName": "sd_sxgmbQZXtgUmpagW",
        "category": "Storage",
        "x": 345,
        "y": 140,
        "wires": [
            [
                "sd_Igh9Z5stTzYOVqCk"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "airtime_detailsComponent",
        "generated": true
    },
    {
        "id": "sd_hKRqPgBx5eOz9254",
        "type": "Navigation",
        "z": "sd_KllidtGkgXUKHnHN",
        "viewType": "client-pages",
        "nodeType": "flow",
        "name": "",
        "path": "/bank",
        "pathMap": "",
        "pathparams": "",
        "pathparamsMap": "",
        "qparams": "",
        "qparamsMap": "",
        "qparamsArray": "",
        "resultMapping": "",
        "functionName": "sd_hKRqPgBx5eOz9254",
        "category": "Navigation",
        "x": 825,
        "y": 140,
        "wires": [
            []
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "airtime_detailsComponent",
        "generated": true
    },
    {
        "id": "sd_Igh9Z5stTzYOVqCk",
        "type": "Environment",
        "z": "sd_KllidtGkgXUKHnHN",
        "viewType": "client-pages",
        "nodeType": "flow",
        "name": "",
        "outputs": 1,
        "envMaps": [
            {
                "flowVar": {
                    "type": "this.page",
                    "value": "ssdUrl"
                },
                "envProperty": "ssdURL"
            }
        ],
        "functionName": "sd_Igh9Z5stTzYOVqCk",
        "category": "General",
        "x": 425,
        "y": 140,
        "wires": [
            [
                "sd_lAbfwbbbbQzhZxvw"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "airtime_detailsComponent",
        "generated": true
    },
    {
        "id": "sd_G4qQFwO4pCp2Hm3h",
        "type": "HttpRequest",
        "z": "sd_KllidtGkgXUKHnHN",
        "viewType": "client-pages",
        "nodeType": "flow",
        "name": "",
        "method": "post",
        "methodMapping": "",
        "methodMappingObj": {},
        "urlMapping": "bh.url",
        "urlMappingObj": {
            "mapVarType": "bh",
            "mapVarValue": "url"
        },
        "ret": "json",
        "retMapping": "",
        "retMappingObj": {},
        "observe": "",
        "observeMapping": "",
        "observeMappingObj": {},
        "reportProgress": false,
        "withCreds": false,
        "reqBody": "bh.body",
        "reqBodyObj": {
            "mapVarType": "bh",
            "mapVarValue": "body"
        },
        "resultMapping": "this.page.result",
        "resultMappingObj": {
            "mapVarType": "this.page",
            "mapVarValue": "result"
        },
        "headers": {},
        "headersObj": [],
        "headerMapping": "",
        "headerMappingObj": {},
        "params": {},
        "paramsObj": [],
        "paramMapping": "",
        "paramMappingObj": {},
        "functionName": "sd_G4qQFwO4pCp2Hm3h",
        "category": "HTTP",
        "x": 585,
        "y": 140,
        "wires": [
            [
                "sd_0Pb0Uhvb5rO399T1"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "airtime_detailsComponent",
        "generated": true
    },
    {
        "id": "sd_lAbfwbbbbQzhZxvw",
        "type": "Script",
        "z": "sd_KllidtGkgXUKHnHN",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "script": "bh.url = `https://111e-169-239-176-9.ngrok-free.app/api/buy-airtime`\nbh.url2 = `https://111e-169-239-176-9.ngrok-free.app/api/update`\n\nbh.body = page.airtimeForm.value\n\nbh.body2 = {\n    email: page.loggedInUser.email,\n    collection: 'users',\n    balance: page.loggedInUser.balance\n}",
        "functionName": "sd_lAbfwbbbbQzhZxvw",
        "category": "Function",
        "x": 505,
        "y": 140,
        "wires": [
            [
                "sd_G4qQFwO4pCp2Hm3h"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "airtime_detailsComponent",
        "generated": true
    },
    {
        "id": "sd_0Pb0Uhvb5rO399T1",
        "type": "HttpRequest",
        "z": "sd_KllidtGkgXUKHnHN",
        "viewType": "client-pages",
        "nodeType": "flow",
        "name": "",
        "method": "put",
        "methodMapping": "",
        "methodMappingObj": {},
        "urlMapping": "bh.url2",
        "urlMappingObj": {
            "mapVarType": "bh",
            "mapVarValue": "url2"
        },
        "ret": "json",
        "retMapping": "",
        "retMappingObj": {},
        "observe": "",
        "observeMapping": "",
        "observeMappingObj": {},
        "reportProgress": false,
        "withCreds": false,
        "reqBody": "bh.body2",
        "reqBodyObj": {
            "mapVarType": "bh",
            "mapVarValue": "body2"
        },
        "resultMapping": "this.page.update",
        "resultMappingObj": {
            "mapVarType": "this.page",
            "mapVarValue": "update"
        },
        "headers": {},
        "headersObj": [],
        "headerMapping": "",
        "headerMappingObj": {},
        "params": {},
        "paramsObj": [],
        "paramMapping": "",
        "paramMappingObj": {},
        "functionName": "sd_0Pb0Uhvb5rO399T1",
        "category": "HTTP",
        "x": 665,
        "y": 140,
        "wires": [
            [
                "sd_eIipOQSbbRJCI0Ka"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "airtime_detailsComponent",
        "generated": true
    },
    {
        "id": "sd_eIipOQSbbRJCI0Ka",
        "type": "SnackBar",
        "z": "sd_KllidtGkgXUKHnHN",
        "viewType": "client-pages",
        "nodeType": "flow",
        "name": "",
        "message": {
            "type": "str",
            "value": "Purchase Successful"
        },
        "action": {
            "type": "str",
            "value": "Ok"
        },
        "duration": {
            "type": "num",
            "value": "3000"
        },
        "horizontalPosition": "center",
        "horizontalPositionMap": "",
        "verticalPosition": "bottom",
        "verticalPositionMap": "",
        "panelClass": {
            "type": "str",
            "value": ""
        },
        "direction": "ltr",
        "functionName": "sd_eIipOQSbbRJCI0Ka",
        "category": "General",
        "x": 745,
        "y": 140,
        "wires": [
            [
                "sd_hKRqPgBx5eOz9254"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "airtime_detailsComponent",
        "generated": true
    },
    {
        "id": "sd_st5m0B8MGxGA7FgV",
        "type": "PageStart",
        "z": "sd_KllidtGkgXUKHnHN",
        "viewType": "pages",
        "nodeType": "start",
        "name": "go back",
        "outputs": 1,
        "inputVariables": [],
        "localVariables": [],
        "flow_type": "sync",
        "functionName": "goBack",
        "category": "General",
        "x": 80,
        "y": 360,
        "wires": [
            [
                "sd_RXYbpHEPujHY7QNe"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": true,
        "serviceName": "airtime_detailsComponent"
    },
    {
        "id": "sd_RXYbpHEPujHY7QNe",
        "type": "PageCallService",
        "z": "sd_KllidtGkgXUKHnHN",
        "viewType": "pages",
        "nodeType": "flow",
        "name": "",
        "outputs": 1,
        "isValidNode": true,
        "noerr": 0,
        "service": {
            "id": "sd_O7BgeFkazhosv8N2",
            "type": "tab",
            "createdDate": "2024-05-14T08:16:55.985Z",
            "label": "common",
            "disabled": false,
            "info": "",
            "functionSeq": 0,
            "tabType": "client"
        },
        "flow": {
            "flowId": "sd_jJRXnjTcMQmcijs6",
            "flowName": "goBack"
        },
        "inputVariables": [],
        "outputMapping": [],
        "serviceImportPath": "app/sd-services/common",
        "startName": "goBack",
        "inputParams": [],
        "accept_bh": false,
        "accept_csd": true,
        "functionName": "sd_RXYbpHEPujHY7QNe",
        "category": "General",
        "x": 220,
        "y": 360,
        "wires": [
            []
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "airtime_detailsComponent",
        "generated": true
    },
    {
        "id": "sd_4ROZjjy39sOjCcZW",
        "type": "PageSwitch",
        "z": "sd_KllidtGkgXUKHnHN",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "property": "loggedInUser.balance",
        "propertyType": "this.page",
        "propertyGv": "this.page.loggedInUser.balance",
        "rules": [
            {
                "t": "gte",
                "v": "airtimeForm.value.amount",
                "vt": "this.page",
                "gv": "this.page.airtimeForm.value.amount"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "false",
        "repair": false,
        "outputs": 2,
        "functionName": "sd_4ROZjjy39sOjCcZW",
        "category": "Function",
        "x": 165,
        "y": 140,
        "wires": [
            [
                "sd_6hCfCYi0nbrxfeGQ"
            ],
            [
                "sd_CujTaU6EN7rlvVg2"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "airtime_detailsComponent",
        "generated": true
    },
    {
        "id": "sd_CujTaU6EN7rlvVg2",
        "type": "SnackBar",
        "z": "sd_KllidtGkgXUKHnHN",
        "viewType": "client-pages",
        "nodeType": "flow",
        "name": "",
        "message": {
            "type": "str",
            "value": "Insufficent funds"
        },
        "action": {
            "type": "str",
            "value": "Ok"
        },
        "duration": {
            "type": "num",
            "value": "3000"
        },
        "horizontalPosition": "center",
        "horizontalPositionMap": "",
        "verticalPosition": "bottom",
        "verticalPositionMap": "",
        "panelClass": {
            "type": "str",
            "value": ""
        },
        "direction": "ltr",
        "functionName": "sd_CujTaU6EN7rlvVg2",
        "category": "General",
        "x": 280,
        "y": 240,
        "wires": [
            []
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "airtime_detailsComponent",
        "generated": true
    }
]
