designs/pages/pop_ups/airtimeAnother_details.json
[
    {
        "id": "sd_NebjxnLYDwkz9Qzy",
        "type": "tab",
        "createdDate": "2024-06-03T12:52:24.611Z",
        "label": "airtimeAnother_details",
        "disabled": false,
        "info": "",
        "functionSeq": 0,
        "generateNext": true,
        "serviceName": "airtimeAnother_detailsComponent"
    },
    {
        "id": "sd_ZWk7CgWAoxHijQE6",
        "type": "OnInit",
        "z": "sd_NebjxnLYDwkz9Qzy",
        "viewType": "common",
        "nodeType": "start",
        "name": "",
        "functionName": "sd_ZWk7CgWAoxHijQE6",
        "category": "Lifecycle Events",
        "x": 45,
        "y": 60,
        "wires": [
            [
                "sd_1ptxED68vGFSlRem"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": true,
        "serviceName": "airtimeAnother_detailsComponent"
    },
    {
        "id": "sd_I6Ck8WFM6r3yfT8O",
        "type": "PageVariables",
        "z": "sd_NebjxnLYDwkz9Qzy",
        "viewType": "pages",
        "nodeType": "flow",
        "name": "",
        "inputs": 1,
        "outputs": 1,
        "operation": "set",
        "globalVariables": [],
        "functionName": "sd_I6Ck8WFM6r3yfT8O",
        "category": "Function",
        "x": 225,
        "y": 60,
        "wires": [
            [
                "sd_qhiPYM3uEmm0N3w3"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "airtimeAnother_detailsComponent",
        "generated": true
    },
    {
        "id": "sd_rJRe6FEsisjK0BOC",
        "type": "Script",
        "z": "sd_NebjxnLYDwkz9Qzy",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "script": "// console.log(\"new bh :\", bh.currentQuote.input.newQuote)\npage.currentQuote = page.loggedInUser.balance;\n\n// if (bh.currentQuote) {\n//     console.log('value');\n//     page.currentQuote = bh.currentQuote.input.newQuote;\n//     console.log(\"new bh :\", bh.currentQuote.input.newQuote);\n// } else {\n//     console.log('no value');\n// }\n\nconsole.log('page', page)\n\nconst date = new Date();\n\nconst day = date.getDate();\nconst month = date.toLocaleString('default', { month: 'long' });\nconst year = date.getFullYear();\nconst hours = String(date.getHours()).padStart(2, '0');\nconst minutes = String(date.getMinutes()).padStart(2, '0');\n\npage.formattedDate = `${day} ${month} ${year} ${hours}:${minutes}`;\n\npage.airtimeForm = new FormGroup({\n    customer: new FormControl (page.loggedInUser.name),\n    cell: new FormControl (''),\n    networkProvider: new FormControl(''),\n    bundleType: new FormControl('Airtime'),\n    amount: new FormControl(''),\n    fromAccount: new FormControl('Easy Zero'),\n    transactionDate: new FormControl(page.formattedDate)\n})\n\npage.networkProvider = [\n    {value: 'delhi-0', viewValue: 'Delhi'},\n   {value: 'mumbai-1', viewValue: 'Mumbai'},\n   {value: 'pune-2', viewValue: 'Pune'}\n    ]\n",
        "functionName": "sd_rJRe6FEsisjK0BOC",
        "category": "Function",
        "x": 405,
        "y": 60,
        "wires": [
            []
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "airtimeAnother_detailsComponent",
        "generated": true
    },
    {
        "id": "sd_qhiPYM3uEmm0N3w3",
        "type": "Storage",
        "z": "sd_NebjxnLYDwkz9Qzy",
        "viewType": "client-pages",
        "nodeType": "flow",
        "name": "",
        "operationType": "getItem",
        "storageType": "sessionStorage",
        "outputs": 1,
        "key": {
            "type": "str",
            "value": "user"
        },
        "value": {},
        "resultMapping": {
            "type": "this.page",
            "value": "loggedInUser"
        },
        "functionName": "sd_qhiPYM3uEmm0N3w3",
        "category": "Storage",
        "x": 305,
        "y": 60,
        "wires": [
            [
                "sd_rJRe6FEsisjK0BOC"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "airtimeAnother_detailsComponent",
        "generated": true
    },
    {
        "id": "sd_1ptxED68vGFSlRem",
        "type": "UseDependency",
        "z": "sd_NebjxnLYDwkz9Qzy",
        "viewType": "client-pages",
        "nodeType": "flow",
        "name": "",
        "inputs": 1,
        "outputs": 1,
        "property": "",
        "propertyType": "bh",
        "propertyGv": "bh.",
        "alias": "",
        "modules": [
            {
                "textIp": "FormControl",
                "typedIpValue": {
                    "type": "this.page",
                    "value": ""
                },
                "injectable": false
            },
            {
                "textIp": "FormGroup",
                "typedIpValue": {
                    "type": "this.page",
                    "value": ""
                },
                "injectable": false
            },
            {
                "textIp": "Validators",
                "typedIpValue": {
                    "type": "this.page",
                    "value": ""
                },
                "injectable": false
            }
        ],
        "import_all": false,
        "library": "@angular/forms",
        "serviceDesignerType": "pages",
        "functionName": "sd_1ptxED68vGFSlRem",
        "category": "Function",
        "x": 125,
        "y": 60,
        "wires": [
            [
                "sd_I6Ck8WFM6r3yfT8O"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "airtimeAnother_detailsComponent",
        "generated": true
    },
    {
        "id": "sd_4Q1xgT0qxMdjxRHG",
        "type": "PageStart",
        "z": "sd_NebjxnLYDwkz9Qzy",
        "viewType": "pages",
        "nodeType": "start",
        "name": "go back to bank",
        "outputs": 1,
        "inputVariables": [],
        "localVariables": [],
        "flow_type": "sync",
        "functionName": "goBackToBank",
        "category": "General",
        "x": 65,
        "y": 320,
        "wires": [
            [
                "sd_SzCWSYT8XYgFrrQm"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": true,
        "serviceName": "airtimeAnother_detailsComponent"
    },
    {
        "id": "sd_SzCWSYT8XYgFrrQm",
        "type": "Navigation",
        "z": "sd_NebjxnLYDwkz9Qzy",
        "viewType": "client-pages",
        "nodeType": "flow",
        "name": "",
        "path": "/bank",
        "pathMap": "",
        "pathparams": "",
        "pathparamsMap": "",
        "qparams": "",
        "qparamsMap": "",
        "qparamsArray": "",
        "resultMapping": "",
        "functionName": "sd_SzCWSYT8XYgFrrQm",
        "category": "Navigation",
        "x": 145,
        "y": 320,
        "wires": [
            []
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "airtimeAnother_detailsComponent",
        "generated": true
    },
    {
        "id": "sd_Aoh8QiXBxIq3gyFE",
        "type": "PageStart",
        "z": "sd_NebjxnLYDwkz9Qzy",
        "viewType": "pages",
        "nodeType": "start",
        "name": "buy",
        "outputs": 1,
        "inputVariables": [],
        "localVariables": [],
        "flow_type": "sync",
        "functionName": "buy",
        "category": "General",
        "x": 85,
        "y": 160,
        "wires": [
            [
                "sd_LL8fJw3h4l2Q1sMn"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": true,
        "serviceName": "airtimeAnother_detailsComponent"
    },
    {
        "id": "sd_fUudOu6qnSN7CIJc",
        "type": "Script",
        "z": "sd_NebjxnLYDwkz9Qzy",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "script": "console.log('airtimeForm', page.airtimeForm.value)\n\npage.loggedInUser.balance = page.loggedInUser.balance - page.airtimeForm.value.amount;\n\nconsole.log('page', page)",
        "functionName": "sd_fUudOu6qnSN7CIJc",
        "category": "Function",
        "x": 245,
        "y": 160,
        "wires": [
            [
                "sd_6J0ILSu31spNrBsr"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "airtimeAnother_detailsComponent",
        "generated": true
    },
    {
        "id": "sd_6J0ILSu31spNrBsr",
        "type": "Storage",
        "z": "sd_NebjxnLYDwkz9Qzy",
        "viewType": "client-pages",
        "nodeType": "flow",
        "name": "",
        "operationType": "setItem",
        "storageType": "sessionStorage",
        "outputs": 1,
        "key": {
            "type": "str",
            "value": "user"
        },
        "value": {
            "type": "this.page",
            "value": "loggedInUser"
        },
        "resultMapping": {},
        "functionName": "sd_6J0ILSu31spNrBsr",
        "category": "Storage",
        "x": 325,
        "y": 160,
        "wires": [
            [
                "sd_xqgR99EOqaKxMYIs"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "airtimeAnother_detailsComponent",
        "generated": true
    },
    {
        "id": "sd_jQfO12W4pPzDwVAg",
        "type": "Navigation",
        "z": "sd_NebjxnLYDwkz9Qzy",
        "viewType": "client-pages",
        "nodeType": "flow",
        "name": "",
        "path": "/bank",
        "pathMap": "",
        "pathparams": "",
        "pathparamsMap": "",
        "qparams": "",
        "qparamsMap": "",
        "qparamsArray": "",
        "resultMapping": "",
        "functionName": "sd_jQfO12W4pPzDwVAg",
        "category": "Navigation",
        "x": 805,
        "y": 160,
        "wires": [
            []
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "airtimeAnother_detailsComponent",
        "generated": true
    },
    {
        "id": "sd_xqgR99EOqaKxMYIs",
        "type": "Environment",
        "z": "sd_NebjxnLYDwkz9Qzy",
        "viewType": "client-pages",
        "nodeType": "flow",
        "name": "",
        "outputs": 1,
        "envMaps": [
            {
                "flowVar": {
                    "type": "this.page",
                    "value": "ssdUrl"
                },
                "envProperty": "ssdURL"
            }
        ],
        "functionName": "sd_xqgR99EOqaKxMYIs",
        "category": "General",
        "x": 405,
        "y": 160,
        "wires": [
            [
                "sd_tdwCuy894ZgUM7nx"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "airtimeAnother_detailsComponent",
        "generated": true
    },
    {
        "id": "sd_SsPmsyckLWULE36b",
        "type": "HttpRequest",
        "z": "sd_NebjxnLYDwkz9Qzy",
        "viewType": "client-pages",
        "nodeType": "flow",
        "name": "",
        "method": "post",
        "methodMapping": "",
        "methodMappingObj": {},
        "urlMapping": "bh.url",
        "urlMappingObj": {
            "mapVarType": "bh",
            "mapVarValue": "url"
        },
        "ret": "json",
        "retMapping": "",
        "retMappingObj": {},
        "observe": "",
        "observeMapping": "",
        "observeMappingObj": {},
        "reportProgress": false,
        "withCreds": false,
        "reqBody": "bh.body",
        "reqBodyObj": {
            "mapVarType": "bh",
            "mapVarValue": "body"
        },
        "resultMapping": "this.page.result",
        "resultMappingObj": {
            "mapVarType": "this.page",
            "mapVarValue": "result"
        },
        "headers": {},
        "headersObj": [],
        "headerMapping": "",
        "headerMappingObj": {},
        "params": {},
        "paramsObj": [],
        "paramMapping": "",
        "paramMappingObj": {},
        "functionName": "sd_SsPmsyckLWULE36b",
        "category": "HTTP",
        "x": 565,
        "y": 160,
        "wires": [
            [
                "sd_151xn46uUHeCLgN3"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "airtimeAnother_detailsComponent",
        "generated": true
    },
    {
        "id": "sd_tdwCuy894ZgUM7nx",
        "type": "Script",
        "z": "sd_NebjxnLYDwkz9Qzy",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "script": "bh.url = `https://111e-169-239-176-9.ngrok-free.app/api/buy-airtime`\nbh.url2 = `https://111e-169-239-176-9.ngrok-free.app/api/update`\n\nbh.body = page.airtimeForm.value\n\nbh.body2 = {\n    email: page.loggedInUser.email,\n    collection: 'users',\n    balance: page.loggedInUser.balance\n}",
        "functionName": "sd_tdwCuy894ZgUM7nx",
        "category": "Function",
        "x": 485,
        "y": 160,
        "wires": [
            [
                "sd_SsPmsyckLWULE36b"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "airtimeAnother_detailsComponent",
        "generated": true
    },
    {
        "id": "sd_151xn46uUHeCLgN3",
        "type": "HttpRequest",
        "z": "sd_NebjxnLYDwkz9Qzy",
        "viewType": "client-pages",
        "nodeType": "flow",
        "name": "",
        "method": "put",
        "methodMapping": "",
        "methodMappingObj": {},
        "urlMapping": "bh.url2",
        "urlMappingObj": {
            "mapVarType": "bh",
            "mapVarValue": "url2"
        },
        "ret": "json",
        "retMapping": "",
        "retMappingObj": {},
        "observe": "",
        "observeMapping": "",
        "observeMappingObj": {},
        "reportProgress": false,
        "withCreds": false,
        "reqBody": "bh.body2",
        "reqBodyObj": {
            "mapVarType": "bh",
            "mapVarValue": "body2"
        },
        "resultMapping": "this.page.update",
        "resultMappingObj": {
            "mapVarType": "this.page",
            "mapVarValue": "update"
        },
        "headers": {},
        "headersObj": [],
        "headerMapping": "",
        "headerMappingObj": {},
        "params": {},
        "paramsObj": [],
        "paramMapping": "",
        "paramMappingObj": {},
        "functionName": "sd_151xn46uUHeCLgN3",
        "category": "HTTP",
        "x": 645,
        "y": 160,
        "wires": [
            [
                "sd_3kYbKQMbfceW6u51"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "airtimeAnother_detailsComponent",
        "generated": true
    },
    {
        "id": "sd_3kYbKQMbfceW6u51",
        "type": "SnackBar",
        "z": "sd_NebjxnLYDwkz9Qzy",
        "viewType": "client-pages",
        "nodeType": "flow",
        "name": "",
        "message": {
            "type": "str",
            "value": "Purchase Successful"
        },
        "action": {
            "type": "str",
            "value": "Ok"
        },
        "duration": {
            "type": "num",
            "value": "3000"
        },
        "horizontalPosition": "center",
        "horizontalPositionMap": "",
        "verticalPosition": "bottom",
        "verticalPositionMap": "",
        "panelClass": {
            "type": "str",
            "value": ""
        },
        "direction": "ltr",
        "functionName": "sd_3kYbKQMbfceW6u51",
        "category": "General",
        "x": 725,
        "y": 160,
        "wires": [
            [
                "sd_jQfO12W4pPzDwVAg"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "airtimeAnother_detailsComponent",
        "generated": true
    },
    {
        "id": "sd_ZyaE807FtlayvVOS",
        "type": "PageStart",
        "z": "sd_NebjxnLYDwkz9Qzy",
        "viewType": "pages",
        "nodeType": "start",
        "name": "go back",
        "outputs": 1,
        "inputVariables": [],
        "localVariables": [],
        "flow_type": "sync",
        "functionName": "goBack",
        "category": "General",
        "x": 65,
        "y": 420,
        "wires": [
            [
                "sd_O1GYd8CKhEQuhXxH"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": true,
        "serviceName": "airtimeAnother_detailsComponent"
    },
    {
        "id": "sd_O1GYd8CKhEQuhXxH",
        "type": "PageCallService",
        "z": "sd_NebjxnLYDwkz9Qzy",
        "viewType": "pages",
        "nodeType": "flow",
        "name": "",
        "outputs": 1,
        "isValidNode": true,
        "noerr": 0,
        "service": {
            "id": "sd_O7BgeFkazhosv8N2",
            "type": "tab",
            "createdDate": "2024-05-14T08:16:55.985Z",
            "label": "common",
            "disabled": false,
            "info": "",
            "functionSeq": 0,
            "tabType": "client"
        },
        "flow": {
            "flowId": "sd_jJRXnjTcMQmcijs6",
            "flowName": "goBack"
        },
        "inputVariables": [],
        "outputMapping": [],
        "serviceImportPath": "app/sd-services/common",
        "startName": "goBack",
        "inputParams": [],
        "accept_bh": false,
        "accept_csd": true,
        "functionName": "sd_O1GYd8CKhEQuhXxH",
        "category": "General",
        "x": 205,
        "y": 420,
        "wires": [
            []
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "airtimeAnother_detailsComponent",
        "generated": true
    },
    {
        "id": "sd_FkO10BcT5ZdxrRKa",
        "type": "SnackBar",
        "z": "sd_NebjxnLYDwkz9Qzy",
        "viewType": "client-pages",
        "nodeType": "flow",
        "name": "",
        "message": {
            "type": "str",
            "value": "Insufficent funds"
        },
        "action": {
            "type": "str",
            "value": "Ok"
        },
        "duration": {
            "type": "num",
            "value": "3000"
        },
        "horizontalPosition": "center",
        "horizontalPositionMap": "",
        "verticalPosition": "bottom",
        "verticalPositionMap": "",
        "panelClass": {
            "type": "str",
            "value": ""
        },
        "direction": "ltr",
        "functionName": "sd_FkO10BcT5ZdxrRKa",
        "category": "General",
        "x": 245,
        "y": 260,
        "wires": [
            []
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "airtimeAnother_detailsComponent",
        "generated": true
    },
    {
        "id": "sd_LL8fJw3h4l2Q1sMn",
        "type": "PageSwitch",
        "z": "sd_NebjxnLYDwkz9Qzy",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "property": "loggedInUser.balance",
        "propertyType": "this.page",
        "propertyGv": "this.page.loggedInUser.balance",
        "rules": [
            {
                "t": "gte",
                "v": "airtimeForm.value.amount",
                "vt": "this.page",
                "gv": "this.page.airtimeForm.value.amount"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "false",
        "repair": false,
        "outputs": 2,
        "functionName": "sd_LL8fJw3h4l2Q1sMn",
        "category": "Function",
        "x": 165,
        "y": 160,
        "wires": [
            [
                "sd_fUudOu6qnSN7CIJc"
            ],
            [
                "sd_FkO10BcT5ZdxrRKa"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "airtimeAnother_detailsComponent",
        "generated": true
    }
]
