designs/pages/add_recipient.json
[
    {
        "id": "sd_0MitAL7ylHwatGqY",
        "type": "tab",
        "createdDate": "2024-08-01T00:33:31.525Z",
        "label": "add_recipient",
        "disabled": false,
        "info": "",
        "functionSeq": 0,
        "generateNext": true,
        "serviceName": "add_recipientComponent"
    },
    {
        "id": "sd_Gfr2hHDFOoFQAimW",
        "type": "OnInit",
        "z": "sd_0MitAL7ylHwatGqY",
        "viewType": "common",
        "nodeType": "start",
        "name": "",
        "functionName": "sd_Gfr2hHDFOoFQAimW",
        "category": "Lifecycle Events",
        "x": 45,
        "y": 40,
        "wires": [
            [
                "sd_M7ZV5kANBoFKgwCG"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": true,
        "serviceName": "add_recipientComponent"
    },
    {
        "id": "sd_M7ZV5kANBoFKgwCG",
        "type": "PageVariables",
        "z": "sd_0MitAL7ylHwatGqY",
        "viewType": "pages",
        "nodeType": "flow",
        "name": "",
        "inputs": 1,
        "outputs": 1,
        "operation": "set",
        "globalVariables": [
            {
                "textIp": "recipient",
                "typedIpValue": {
                    "type": "literal",
                    "value": ""
                }
            }
        ],
        "functionName": "sd_M7ZV5kANBoFKgwCG",
        "category": "Function",
        "x": 145,
        "y": 40,
        "wires": [
            [
                "sd_E2V426LzUJrHoQKU"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "add_recipientComponent",
        "generated": true
    },
    {
        "id": "sd_E2V426LzUJrHoQKU",
        "type": "Storage",
        "z": "sd_0MitAL7ylHwatGqY",
        "viewType": "client-pages",
        "nodeType": "flow",
        "name": "",
        "operationType": "setItem",
        "storageType": "localStorage",
        "outputs": 1,
        "key": {
            "type": "str",
            "value": "selectedPage"
        },
        "value": {
            "type": "str",
            "value": "Add Recipient"
        },
        "resultMapping": {},
        "functionName": "sd_E2V426LzUJrHoQKU",
        "category": "Storage",
        "x": 245,
        "y": 40,
        "wires": [
            [
                "sd_rKgw42ditcdlC767"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "add_recipientComponent",
        "generated": true
    },
    {
        "id": "sd_k8OaqriVZGMeUJWf",
        "type": "Script",
        "z": "sd_0MitAL7ylHwatGqY",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "script": "page.recipient = {\n    name: '',\n    accountNumber:'',\n    email: page.user.email\n}",
        "functionName": "sd_k8OaqriVZGMeUJWf",
        "category": "Function",
        "x": 405,
        "y": 40,
        "wires": [
            []
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "add_recipientComponent",
        "generated": true
    },
    {
        "id": "sd_rKgw42ditcdlC767",
        "type": "Storage",
        "z": "sd_0MitAL7ylHwatGqY",
        "viewType": "client-pages",
        "nodeType": "flow",
        "name": "",
        "operationType": "getItem",
        "storageType": "sessionStorage",
        "outputs": 1,
        "key": {
            "type": "str",
            "value": "user"
        },
        "value": {},
        "resultMapping": {
            "type": "this.page",
            "value": "user"
        },
        "functionName": "sd_rKgw42ditcdlC767",
        "category": "Storage",
        "x": 325,
        "y": 40,
        "wires": [
            [
                "sd_k8OaqriVZGMeUJWf"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "add_recipientComponent",
        "generated": true
    },
    {
        "id": "sd_ODrh3Sfx1REEWwne",
        "type": "PageStart",
        "z": "sd_0MitAL7ylHwatGqY",
        "viewType": "pages",
        "nodeType": "start",
        "name": "submit",
        "outputs": 1,
        "inputVariables": [
            {
                "key": "form",
                "defaultValue": {
                    "type": "any",
                    "value": ""
                },
                "output": false
            }
        ],
        "localVariables": [],
        "flow_type": "sync",
        "functionName": "submit",
        "category": "General",
        "x": 45,
        "y": 180,
        "wires": [
            [
                "sd_qbhHZa919CS4d1h2"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": true,
        "serviceName": "add_recipientComponent"
    },
    {
        "id": "sd_qbhHZa919CS4d1h2",
        "type": "PageSwitch",
        "z": "sd_0MitAL7ylHwatGqY",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "property": "form.valid",
        "propertyType": "bh.input",
        "propertyGv": "bh.input.form.valid",
        "rules": [
            {
                "t": "true"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "false",
        "repair": false,
        "outputs": 2,
        "functionName": "sd_qbhHZa919CS4d1h2",
        "category": "Function",
        "x": 145,
        "y": 180,
        "wires": [
            [
                "sd_WICiulyiS6FI5sYx"
            ],
            [
                "sd_L5sZZkQobJ66k5uM"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "add_recipientComponent",
        "generated": true
    },
    {
        "id": "sd_L5sZZkQobJ66k5uM",
        "type": "SnackBar",
        "z": "sd_0MitAL7ylHwatGqY",
        "viewType": "client-pages",
        "nodeType": "flow",
        "name": "",
        "message": {
            "type": "str",
            "value": "Fill in all details"
        },
        "action": {
            "type": "str",
            "value": "OK"
        },
        "duration": {
            "type": "num",
            "value": "3000"
        },
        "horizontalPosition": "center",
        "verticalPosition": "bottom",
        "panelClass": {
            "type": "str",
            "value": ""
        },
        "direction": "ltr",
        "functionName": "sd_L5sZZkQobJ66k5uM",
        "category": "General",
        "x": 225,
        "y": 220,
        "wires": [
            []
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "add_recipientComponent",
        "generated": true
    },
    {
        "id": "sd_WICiulyiS6FI5sYx",
        "type": "Script",
        "z": "sd_0MitAL7ylHwatGqY",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "script": "page.showSpinner = true;",
        "functionName": "sd_WICiulyiS6FI5sYx",
        "category": "Function",
        "x": 225,
        "y": 140,
        "wires": [
            [
                "sd_kEhsPmGmgY60nlvK"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "add_recipientComponent",
        "generated": true
    },
    {
        "id": "sd_kEhsPmGmgY60nlvK",
        "type": "PageCallService",
        "z": "sd_0MitAL7ylHwatGqY",
        "viewType": "pages",
        "nodeType": "flow",
        "name": "",
        "outputs": 1,
        "isValidNode": true,
        "noerr": 0,
        "service": {
            "id": "sd_O7BgeFkazhosv8N2",
            "type": "tab",
            "createdDate": "2024-05-14T08:16:55.985Z",
            "label": "common",
            "disabled": false,
            "info": "",
            "functionSeq": 0,
            "tabType": "client"
        },
        "flow": {
            "flowId": "sd_ezuMhbJnHtjdl14d",
            "flowName": "setVariable"
        },
        "inputVariables": [
            {
                "key": "data",
                "map": true,
                "valueType": "this.page",
                "value": "recipient"
            }
        ],
        "outputMapping": [
            {
                "mapVarType": "input",
                "key": "data",
                "valueType": "bh",
                "value": "result",
                "mapVarName": "data",
                "localVar": "bh.result"
            }
        ],
        "serviceImportPath": "app/sd-services/common",
        "startName": "setVariable",
        "inputParams": [
            "this.page.recipient"
        ],
        "accept_bh": false,
        "accept_csd": true,
        "functionName": "sd_kEhsPmGmgY60nlvK",
        "category": "General",
        "x": 300,
        "y": 140,
        "wires": [
            [
                "sd_177791i56e9PKy6Z"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "add_recipientComponent",
        "generated": true
    },
    {
        "id": "sd_gDwdTRFRVt5EAv8c",
        "type": "Navigation",
        "z": "sd_0MitAL7ylHwatGqY",
        "viewType": "client-pages",
        "nodeType": "flow",
        "name": "",
        "path": "/home/recipient_data",
        "functionName": "sd_gDwdTRFRVt5EAv8c",
        "category": "Navigation",
        "x": 465,
        "y": 140,
        "wires": [
            []
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "add_recipientComponent",
        "generated": true
    },
    {
        "id": "sd_177791i56e9PKy6Z",
        "type": "Script",
        "z": "sd_0MitAL7ylHwatGqY",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "script": "page.showSpinner = false;",
        "functionName": "sd_177791i56e9PKy6Z",
        "category": "Function",
        "x": 385,
        "y": 140,
        "wires": [
            [
                "sd_gDwdTRFRVt5EAv8c"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "add_recipientComponent",
        "generated": true
    },
    {
        "id": "sd_kNCFhOLZejvpWiLg",
        "type": "PageStart",
        "z": "sd_0MitAL7ylHwatGqY",
        "viewType": "pages",
        "nodeType": "start",
        "name": "allowNumbers",
        "outputs": 1,
        "inputVariables": [
            {
                "key": "event",
                "defaultValue": {
                    "type": "any",
                    "value": ""
                },
                "output": false
            }
        ],
        "localVariables": [],
        "flow_type": "sync",
        "functionName": "allowNumbers",
        "category": "General",
        "x": 85,
        "y": 340,
        "wires": [
            [
                "sd_CMNsoXJuSmqjTssG"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": true,
        "serviceName": "add_recipientComponent"
    },
    {
        "id": "sd_CMNsoXJuSmqjTssG",
        "type": "Script",
        "z": "sd_0MitAL7ylHwatGqY",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "script": "bh.allowedKeys = ['Backspace', 'ArrowLeft', 'ArrowRight', 'Delete', 'Control']; // Add any other allowed keys here\n    if (bh.allowedKeys.includes(bh.input.event.key) || (bh.input.event.ctrlKey && (bh.input.event.key === 'v' || bh.input.event.key === 'c'))) {\n      return; // Allow these keys\n    }\n\n   \n\n\n    if (!/^\\d$/.test(bh.input.event.key)) {\n      bh.input.event.preventDefault(); // Prevent non-numeric keys\n    }",
        "functionName": "sd_CMNsoXJuSmqjTssG",
        "category": "Function",
        "x": 170,
        "y": 340,
        "wires": [
            []
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "add_recipientComponent",
        "generated": true
    }
]
