designs/pages/change_password.json
[
    {
        "id": "sd_9tiIMNoXOixQgAaB",
        "type": "tab",
        "createdDate": "2024-05-15T12:45:46.004Z",
        "label": "change_password",
        "disabled": false,
        "info": "",
        "functionSeq": 0,
        "generateNext": true,
        "serviceName": "change_passwordComponent"
    },
    {
        "id": "sd_Qa3gEQ8XuawZxvmf",
        "type": "OnInit",
        "z": "sd_9tiIMNoXOixQgAaB",
        "viewType": "common",
        "nodeType": "start",
        "name": "",
        "functionName": "sd_Qa3gEQ8XuawZxvmf",
        "category": "Lifecycle Events",
        "x": 45,
        "y": 60,
        "wires": [
            [
                "sd_T6K84FQUvcDX1YSo"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": true,
        "serviceName": "change_passwordComponent"
    },
    {
        "id": "sd_4QTWai7UHhI5IGma",
        "type": "PageVariables",
        "z": "sd_9tiIMNoXOixQgAaB",
        "viewType": "pages",
        "nodeType": "flow",
        "name": "",
        "inputs": 1,
        "outputs": 1,
        "operation": "set",
        "globalVariables": [
            {
                "textIp": "changepasswordForm",
                "typedIpValue": {
                    "type": "this.page",
                    "value": ""
                }
            },
            {
                "textIp": "passwordPattern",
                "typedIpValue": {
                    "type": "literal",
                    "value": "/^(?=.*[0-9])(?=.*[a-z])(?=.*[A-Z])(?=.*[@]).{8,30}$/"
                }
            },
            {
                "textIp": "showSpinner",
                "typedIpValue": {
                    "type": "literal",
                    "value": "false"
                }
            },
            {
                "textIp": "actionAfterPassword",
                "typedIpValue": {
                    "type": "this.page",
                    "value": ""
                }
            },
            {
                "textIp": "ssdUrl",
                "typedIpValue": {
                    "type": "this.page",
                    "value": ""
                }
            },
            {
                "textIp": "disabledOldPasswordField",
                "typedIpValue": {
                    "type": "literal",
                    "value": "false"
                }
            }
        ],
        "functionName": "sd_4QTWai7UHhI5IGma",
        "category": "Function",
        "x": 345,
        "y": 60,
        "wires": [
            [
                "sd_EaPg8dVWme9LOGJ3"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "change_passwordComponent",
        "generated": true
    },
    {
        "id": "sd_EKizbmhhiynIcaPQ",
        "type": "PageStart",
        "z": "sd_9tiIMNoXOixQgAaB",
        "viewType": "pages",
        "nodeType": "start",
        "name": "Go Back",
        "outputs": 1,
        "inputVariables": [],
        "localVariables": [],
        "flow_type": "sync",
        "functionName": "goBack",
        "category": "General",
        "x": 85,
        "y": 180,
        "wires": [
            [
                "sd_PSAf9tcJS5NXhVBp"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": true,
        "serviceName": "change_passwordComponent"
    },
    {
        "id": "sd_PSAf9tcJS5NXhVBp",
        "type": "PageCallService",
        "z": "sd_9tiIMNoXOixQgAaB",
        "viewType": "pages",
        "nodeType": "flow",
        "name": "",
        "outputs": 1,
        "isValidNode": true,
        "noerr": 0,
        "service": {
            "id": "sd_O7BgeFkazhosv8N2",
            "type": "tab",
            "createdDate": "2024-05-14T08:16:55.985Z",
            "label": "common",
            "disabled": false,
            "info": "",
            "functionSeq": 0,
            "tabType": "client"
        },
        "flow": {
            "flowId": "sd_jJRXnjTcMQmcijs6",
            "flowName": "goBack"
        },
        "inputVariables": [],
        "outputMapping": [],
        "serviceImportPath": "app/sd-services/common",
        "startName": "goBack",
        "inputParams": [],
        "accept_bh": false,
        "accept_csd": true,
        "functionName": "sd_PSAf9tcJS5NXhVBp",
        "category": "General",
        "x": 225,
        "y": 180,
        "wires": [
            []
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "change_passwordComponent",
        "generated": true
    },
    {
        "id": "sd_bXl36kavUNfxNOZt",
        "type": "PageStart",
        "z": "sd_9tiIMNoXOixQgAaB",
        "viewType": "pages",
        "nodeType": "start",
        "name": "changePassword",
        "outputs": 1,
        "inputVariables": [
            {
                "key": "form",
                "defaultValue": {
                    "type": "any",
                    "value": ""
                },
                "output": false
            }
        ],
        "localVariables": [],
        "flow_type": "sync",
        "functionName": "changePassword",
        "category": "General",
        "x": 65,
        "y": 340,
        "wires": [
            [
                "sd_wMSnfjxmDU4TrP2f"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": true,
        "serviceName": "change_passwordComponent"
    },
    {
        "id": "sd_JSAMA1ZV6YjMOc7j",
        "type": "UseDependency",
        "z": "sd_9tiIMNoXOixQgAaB",
        "viewType": "client-pages",
        "nodeType": "flow",
        "name": "",
        "inputs": 1,
        "outputs": 1,
        "property": "",
        "propertyType": "bh",
        "propertyGv": "bh.",
        "alias": "",
        "modules": [
            {
                "textIp": "FormGroup",
                "typedIpValue": {
                    "type": "this.page",
                    "value": ""
                },
                "injectable": false
            },
            {
                "textIp": "FormControl",
                "typedIpValue": {
                    "type": "this.page",
                    "value": ""
                },
                "injectable": false
            },
            {
                "textIp": "Validators",
                "typedIpValue": {
                    "type": "this.page",
                    "value": ""
                },
                "injectable": false
            }
        ],
        "import_all": false,
        "library": "@angular/forms",
        "serviceDesignerType": "pages",
        "functionName": "sd_JSAMA1ZV6YjMOc7j",
        "category": "Function",
        "x": 245,
        "y": 60,
        "wires": [
            [
                "sd_4QTWai7UHhI5IGma"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "change_passwordComponent",
        "generated": true
    },
    {
        "id": "sd_T6K84FQUvcDX1YSo",
        "type": "Storage",
        "z": "sd_9tiIMNoXOixQgAaB",
        "viewType": "client-pages",
        "nodeType": "flow",
        "name": "",
        "operationType": "getItem",
        "storageType": "sessionStorage",
        "outputs": 1,
        "key": {
            "type": "str",
            "value": "user"
        },
        "value": {},
        "resultMapping": {
            "type": "this.page",
            "value": "userDetails"
        },
        "functionName": "sd_T6K84FQUvcDX1YSo",
        "category": "Storage",
        "x": 145,
        "y": 60,
        "wires": [
            [
                "sd_JSAMA1ZV6YjMOc7j"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "change_passwordComponent",
        "generated": true
    },
    {
        "id": "sd_gCGmtS3KI3uFKwe4",
        "type": "Script",
        "z": "sd_9tiIMNoXOixQgAaB",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "script": "if (page.action === 'Forgot Password' || page.action === 'New Password') {\n    page.changepasswordForm = new FormGroup({\n        password: new FormControl('', [Validators.required, Validators.pattern(/^(?=.*[0-9])(?=.*[a-z])(?=.*[A-Z])(?=.*[@]).{8,29}$/)]),\n        confirmPassword: new FormControl('', [Validators.required, Validators.pattern(/^(?=.*[0-9])(?=.*[a-z])(?=.*[A-Z])(?=.*[@]).{8,29}$/)])\n    })\n    page.disabledOldPasswordField = true;\n} else {\n    page.changepasswordForm = new FormGroup({\n        old: new FormControl('', [Validators.required, Validators.pattern(/^(?=.*[0-9])(?=.*[a-z])(?=.*[A-Z])(?=.*[@]).{8,29}$/)]),\n        password: new FormControl('', [Validators.required, Validators.pattern(/^(?=.*[0-9])(?=.*[a-z])(?=.*[A-Z])(?=.*[@]).{8,29}$/)]),\n        confirmPassword: new FormControl('', [Validators.required, Validators.pattern(/^(?=.*[0-9])(?=.*[a-z])(?=.*[A-Z])(?=.*[@]).{8,29}$/)])\n    })\n}\n\nconsole.log(\"stoargeee:\", page.userDetails)",
        "functionName": "sd_gCGmtS3KI3uFKwe4",
        "category": "Function",
        "x": 745,
        "y": 60,
        "wires": [
            [
                "sd_V2OpJMukE8Ti748s"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "change_passwordComponent",
        "generated": true
    },
    {
        "id": "sd_JmAzaumQzsqtdBXO",
        "type": "PageServiceVariables",
        "z": "sd_9tiIMNoXOixQgAaB",
        "viewType": "pages",
        "nodeType": "flow",
        "name": "",
        "inputs": 1,
        "outputs": 1,
        "operation": "get",
        "globalVariables": [
            {
                "textIp": "email",
                "typedIpValue": {
                    "type": "this.page",
                    "value": "email"
                }
            }
        ],
        "functionName": "sd_JmAzaumQzsqtdBXO",
        "service": {
            "id": "sd_O7BgeFkazhosv8N2",
            "type": "tab",
            "createdDate": "2024-05-14T08:16:55.985Z",
            "label": "common",
            "disabled": false,
            "info": "",
            "functionSeq": 0,
            "tabType": "client",
            "generateNext": true,
            "serviceName": "common",
            "relativeParentPath": "",
            "_def": {
                "defaults": {
                    "label": {
                        "value": ""
                    },
                    "disabled": {
                        "value": false
                    },
                    "info": {
                        "value": ""
                    }
                }
            }
        },
        "serviceImportPath": "app/sd-services/common",
        "category": "Function",
        "x": 545,
        "y": 60,
        "wires": [
            [
                "sd_XhVQOmTtgKdzutt9"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "change_passwordComponent",
        "generated": true
    },
    {
        "id": "sd_mK4EznT8GjmJzX7H",
        "type": "HttpRequest",
        "z": "sd_9tiIMNoXOixQgAaB",
        "viewType": "client-pages",
        "nodeType": "flow",
        "name": "",
        "method": "put",
        "methodMapping": "",
        "methodMappingObj": {},
        "urlMapping": "bh.url3",
        "urlMappingObj": {
            "mapVarType": "bh",
            "mapVarValue": "url3"
        },
        "ret": "json",
        "retMapping": "",
        "retMappingObj": {},
        "observe": "",
        "observeMapping": "",
        "observeMappingObj": {},
        "reportProgress": false,
        "withCreds": false,
        "reqBody": "bh.input.body",
        "reqBodyObj": {
            "mapVarType": "bh.input",
            "mapVarValue": "body"
        },
        "resultMapping": "bh.result",
        "resultMappingObj": {
            "mapVarType": "bh",
            "mapVarValue": "result"
        },
        "headers": {},
        "headersObj": [],
        "headerMapping": "",
        "headerMappingObj": {},
        "params": {},
        "paramsObj": [],
        "paramMapping": "",
        "paramMappingObj": {},
        "functionName": "sd_mK4EznT8GjmJzX7H",
        "category": "HTTP",
        "x": 1565,
        "y": 300,
        "wires": [
            [
                "sd_Kzf3X102ixxPwbJs"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "change_passwordComponent",
        "generated": true
    },
    {
        "id": "sd_Kzf3X102ixxPwbJs",
        "type": "HttpRequest",
        "z": "sd_9tiIMNoXOixQgAaB",
        "viewType": "client-pages",
        "nodeType": "flow",
        "name": "",
        "method": "get",
        "methodMapping": "",
        "methodMappingObj": {},
        "urlMapping": "bh.url2",
        "urlMappingObj": {
            "mapVarType": "bh",
            "mapVarValue": "url2"
        },
        "ret": "json",
        "retMapping": "",
        "retMappingObj": {},
        "observe": "",
        "observeMapping": "",
        "observeMappingObj": {},
        "reportProgress": false,
        "withCreds": false,
        "reqBody": "bh.user",
        "reqBodyObj": {
            "mapVarType": "bh",
            "mapVarValue": "user"
        },
        "resultMapping": "bh.results",
        "resultMappingObj": {
            "mapVarType": "bh",
            "mapVarValue": "results"
        },
        "headers": {},
        "headersObj": [],
        "headerMapping": "",
        "headerMappingObj": {},
        "params": {},
        "paramsObj": [],
        "paramMapping": "",
        "paramMappingObj": {},
        "functionName": "sd_Kzf3X102ixxPwbJs",
        "category": "HTTP",
        "x": 1665,
        "y": 300,
        "wires": [
            [
                "sd_vtXD73efgrIZDkT4"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "change_passwordComponent",
        "generated": true
    },
    {
        "id": "sd_vtXD73efgrIZDkT4",
        "type": "Script",
        "z": "sd_9tiIMNoXOixQgAaB",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "script": "page.showSpinner = false\n",
        "functionName": "sd_vtXD73efgrIZDkT4",
        "category": "Function",
        "x": 1765,
        "y": 300,
        "wires": [
            [
                "sd_fvCpuRUrUNRzOirK"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "change_passwordComponent",
        "generated": true
    },
    {
        "id": "sd_XhVQOmTtgKdzutt9",
        "type": "Environment",
        "z": "sd_9tiIMNoXOixQgAaB",
        "viewType": "client-pages",
        "nodeType": "flow",
        "name": "",
        "outputs": 1,
        "envMaps": [
            {
                "flowVar": {
                    "type": "this.page",
                    "value": "ssdUrl"
                },
                "envProperty": "ssdURL"
            }
        ],
        "functionName": "sd_XhVQOmTtgKdzutt9",
        "category": "General",
        "x": 645,
        "y": 60,
        "wires": [
            [
                "sd_gCGmtS3KI3uFKwe4"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "change_passwordComponent",
        "generated": true
    },
    {
        "id": "sd_eaDQrlSGKTsPb58S",
        "type": "Script",
        "z": "sd_9tiIMNoXOixQgAaB",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "script": "page.showSpinner = true;\nbh.input.body = {\n    email: page.userDetails.email,\n    password: bh.input.form.controls.old.value,\n    collection: \"users\"\n};\nbh.url = page.ssdUrl + 'verify-password';",
        "functionName": "sd_eaDQrlSGKTsPb58S",
        "category": "Function",
        "x": 1045,
        "y": 300,
        "wires": [
            [
                "sd_JtVpTsYnu6nJiteO"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "change_passwordComponent",
        "generated": true
    },
    {
        "id": "sd_JtVpTsYnu6nJiteO",
        "type": "HttpRequest",
        "z": "sd_9tiIMNoXOixQgAaB",
        "viewType": "client-pages",
        "nodeType": "flow",
        "name": "",
        "method": "post",
        "methodMapping": "",
        "methodMappingObj": {},
        "urlMapping": "bh.url",
        "urlMappingObj": {
            "mapVarType": "bh",
            "mapVarValue": "url"
        },
        "ret": "json",
        "retMapping": "",
        "retMappingObj": {},
        "observe": "",
        "observeMapping": "",
        "observeMappingObj": {},
        "reportProgress": false,
        "withCreds": false,
        "reqBody": "bh.input.body",
        "reqBodyObj": {
            "mapVarType": "bh.input",
            "mapVarValue": "body"
        },
        "resultMapping": "bh.result",
        "resultMappingObj": {
            "mapVarType": "bh",
            "mapVarValue": "result"
        },
        "headers": {},
        "headersObj": [],
        "headerMapping": "",
        "headerMappingObj": {},
        "params": {},
        "paramsObj": [],
        "paramMapping": "",
        "paramMappingObj": {},
        "functionName": "sd_JtVpTsYnu6nJiteO",
        "category": "HTTP",
        "x": 1145,
        "y": 300,
        "wires": [
            [
                "sd_iYfY2QkG6XBJxJKF"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "change_passwordComponent",
        "generated": true
    },
    {
        "id": "sd_wMSnfjxmDU4TrP2f",
        "type": "PageSwitch",
        "z": "sd_9tiIMNoXOixQgAaB",
        "viewType": "common",
        "nodeType": "flow",
        "name": "Checking Invalid Fields",
        "property": "changepasswordForm.invalid",
        "propertyType": "this.page",
        "propertyGv": "this.page.changepasswordForm.invalid",
        "rules": [
            {
                "t": "else"
            },
            {
                "t": "true"
            }
        ],
        "checkall": "false",
        "repair": false,
        "outputs": 2,
        "functionName": "checkingInvalidFields",
        "category": "Function",
        "x": 205,
        "y": 340,
        "wires": [
            [
                "sd_b616RmsvWHhOhgiA"
            ],
            [
                "sd_R48XhQdWfYbpn7ux"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "change_passwordComponent",
        "generated": true
    },
    {
        "id": "sd_R48XhQdWfYbpn7ux",
        "type": "SnackBar",
        "z": "sd_9tiIMNoXOixQgAaB",
        "viewType": "client-pages",
        "nodeType": "flow",
        "name": "",
        "message": {
            "type": "str",
            "value": "All fields are required"
        },
        "action": {
            "type": "str",
            "value": "Ok"
        },
        "duration": {
            "type": "num",
            "value": "3000"
        },
        "horizontalPosition": "center",
        "horizontalPositionMap": "",
        "verticalPosition": "bottom",
        "verticalPositionMap": "",
        "panelClass": {
            "type": "str",
            "value": ""
        },
        "direction": "ltr",
        "functionName": "sd_R48XhQdWfYbpn7ux",
        "category": "General",
        "x": 345,
        "y": 440,
        "wires": [
            []
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "change_passwordComponent",
        "generated": true
    },
    {
        "id": "sd_EaPg8dVWme9LOGJ3",
        "type": "Storage",
        "z": "sd_9tiIMNoXOixQgAaB",
        "viewType": "client-pages",
        "nodeType": "flow",
        "name": "",
        "operationType": "getItem",
        "storageType": "sessionStorage",
        "outputs": 1,
        "key": {
            "type": "str",
            "value": "action"
        },
        "value": {},
        "resultMapping": {
            "type": "this.page",
            "value": "action"
        },
        "functionName": "sd_EaPg8dVWme9LOGJ3",
        "category": "Storage",
        "x": 445,
        "y": 60,
        "wires": [
            [
                "sd_JmAzaumQzsqtdBXO"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "change_passwordComponent",
        "generated": true
    },
    {
        "id": "sd_iYfY2QkG6XBJxJKF",
        "type": "Script",
        "z": "sd_9tiIMNoXOixQgAaB",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "script": "page.showSpinner = false;\npage.isOldPasswordVerified = false;\nif (bh.result.message === 'Matching') {\n    page.isOldPasswordVerified = true;\n}",
        "functionName": "sd_iYfY2QkG6XBJxJKF",
        "category": "Function",
        "x": 1245,
        "y": 300,
        "wires": [
            [
                "sd_WnhNm0w7PgOiUpG6"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "change_passwordComponent",
        "generated": true
    },
    {
        "id": "sd_2xFbs9mYOVcFHd6G",
        "type": "PageSwitch",
        "z": "sd_9tiIMNoXOixQgAaB",
        "viewType": "common",
        "nodeType": "flow",
        "name": "Checking Confirmed Passwords",
        "property": "isConfirmedPassword",
        "propertyType": "this.page",
        "propertyGv": "this.page.isConfirmedPassword",
        "rules": [
            {
                "t": "true"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "false",
        "repair": false,
        "outputs": 2,
        "functionName": "checkingConfirmedPasswords",
        "category": "Function",
        "x": 465,
        "y": 340,
        "wires": [
            [
                "sd_YBDv64FG0sXInhfG"
            ],
            [
                "sd_cGXI26fscEyfMxgV"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "change_passwordComponent",
        "generated": true
    },
    {
        "id": "sd_cGXI26fscEyfMxgV",
        "type": "SnackBar",
        "z": "sd_9tiIMNoXOixQgAaB",
        "viewType": "client-pages",
        "nodeType": "flow",
        "name": "",
        "message": {
            "type": "str",
            "value": "Passwords don't match"
        },
        "action": {
            "type": "str",
            "value": "OK"
        },
        "duration": {
            "type": "num",
            "value": "3000"
        },
        "horizontalPosition": "center",
        "horizontalPositionMap": "",
        "verticalPosition": "bottom",
        "verticalPositionMap": "",
        "panelClass": {
            "type": "str",
            "value": ""
        },
        "direction": "ltr",
        "functionName": "sd_cGXI26fscEyfMxgV",
        "category": "General",
        "x": 545,
        "y": 420,
        "wires": [
            []
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "change_passwordComponent",
        "generated": true
    },
    {
        "id": "sd_b616RmsvWHhOhgiA",
        "type": "Script",
        "z": "sd_9tiIMNoXOixQgAaB",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "script": "page.isConfirmedPassword = false;\nif(page.changepasswordForm.value.password === page.changepasswordForm.value.confirmPassword){\n    page.isConfirmedPassword = true;\n}",
        "functionName": "sd_b616RmsvWHhOhgiA",
        "category": "Function",
        "x": 345,
        "y": 340,
        "wires": [
            [
                "sd_2xFbs9mYOVcFHd6G"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "change_passwordComponent",
        "generated": true
    },
    {
        "id": "sd_gxbR262tYUH0rOwR",
        "type": "PageSwitch",
        "z": "sd_9tiIMNoXOixQgAaB",
        "viewType": "common",
        "nodeType": "flow",
        "name": "Checking Matching Passwords Fields",
        "property": "isMatchingFields",
        "propertyType": "this.page",
        "propertyGv": "this.page.isMatchingFields",
        "rules": [
            {
                "t": "else"
            },
            {
                "t": "true"
            }
        ],
        "checkall": "false",
        "repair": false,
        "outputs": 2,
        "functionName": "checkingMatchingPasswordsFields",
        "category": "Function",
        "x": 905,
        "y": 340,
        "wires": [
            [
                "sd_eaDQrlSGKTsPb58S"
            ],
            [
                "sd_I3MOitgLXnFMXxRC"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "change_passwordComponent",
        "generated": true
    },
    {
        "id": "sd_I3MOitgLXnFMXxRC",
        "type": "SnackBar",
        "z": "sd_9tiIMNoXOixQgAaB",
        "viewType": "client-pages",
        "nodeType": "flow",
        "name": "",
        "message": {
            "type": "str",
            "value": "New Password Cannot Be The Same"
        },
        "action": {
            "type": "str",
            "value": "OK"
        },
        "duration": {
            "type": "num",
            "value": "5000"
        },
        "horizontalPosition": "center",
        "horizontalPositionMap": "",
        "verticalPosition": "bottom",
        "verticalPositionMap": "",
        "panelClass": {
            "type": "str",
            "value": ""
        },
        "direction": "ltr",
        "functionName": "sd_I3MOitgLXnFMXxRC",
        "category": "General",
        "x": 1105,
        "y": 400,
        "wires": [
            []
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "change_passwordComponent",
        "generated": true
    },
    {
        "id": "sd_YBDv64FG0sXInhfG",
        "type": "Script",
        "z": "sd_9tiIMNoXOixQgAaB",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "script": "page.isMatchingFields = false;\nif(page.changepasswordForm.value.password === page.changepasswordForm.value.old){\n    page.isMatchingFields = true;\n}",
        "functionName": "sd_YBDv64FG0sXInhfG",
        "category": "Function",
        "x": 585,
        "y": 340,
        "wires": [
            [
                "sd_sbqoIaTqPCwc62sd"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "change_passwordComponent",
        "generated": true
    },
    {
        "id": "sd_WnhNm0w7PgOiUpG6",
        "type": "PageSwitch",
        "z": "sd_9tiIMNoXOixQgAaB",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "property": "isOldPasswordVerified",
        "propertyType": "this.page",
        "propertyGv": "this.page.isOldPasswordVerified",
        "rules": [
            {
                "t": "true"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "false",
        "repair": false,
        "outputs": 2,
        "functionName": "sd_WnhNm0w7PgOiUpG6",
        "category": "Function",
        "x": 1345,
        "y": 300,
        "wires": [
            [
                "sd_uWWnklG2ibjg9XuL"
            ],
            [
                "sd_K2XsLAAaJoC1EXBQ"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "change_passwordComponent",
        "generated": true
    },
    {
        "id": "sd_uWWnklG2ibjg9XuL",
        "type": "Script",
        "z": "sd_9tiIMNoXOixQgAaB",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "script": "bh.url3 = page.ssdUrl + 'reset-password';\nbh.url2 = page.ssdUrl + `get-user/${page.userDetails.email}`;\nbh.input.body = {\n    email: page.userDetails.email,\n    password: bh.input.form.controls.password.value\n};",
        "functionName": "sd_uWWnklG2ibjg9XuL",
        "category": "Function",
        "x": 1465,
        "y": 300,
        "wires": [
            [
                "sd_mK4EznT8GjmJzX7H"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "change_passwordComponent",
        "generated": true
    },
    {
        "id": "sd_K2XsLAAaJoC1EXBQ",
        "type": "SnackBar",
        "z": "sd_9tiIMNoXOixQgAaB",
        "viewType": "client-pages",
        "nodeType": "flow",
        "name": "",
        "message": {
            "type": "str",
            "value": "Old password does not match!"
        },
        "action": {
            "type": "str",
            "value": "OK"
        },
        "duration": {
            "type": "num",
            "value": "5000"
        },
        "horizontalPosition": "center",
        "horizontalPositionMap": "",
        "verticalPosition": "bottom",
        "verticalPositionMap": "",
        "panelClass": {
            "type": "str",
            "value": ""
        },
        "direction": "ltr",
        "functionName": "sd_K2XsLAAaJoC1EXBQ",
        "category": "General",
        "x": 1465,
        "y": 400,
        "wires": [
            []
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "change_passwordComponent",
        "generated": true
    },
    {
        "id": "sd_hphXg0AArndArusT",
        "type": "SnackBar",
        "z": "sd_9tiIMNoXOixQgAaB",
        "viewType": "client-pages",
        "nodeType": "flow",
        "name": "",
        "message": {
            "type": "str",
            "value": "Password changed successfully!"
        },
        "action": {
            "type": "str",
            "value": "OK"
        },
        "duration": {
            "type": "num",
            "value": "5000"
        },
        "horizontalPosition": "center",
        "horizontalPositionMap": "",
        "verticalPosition": "bottom",
        "verticalPositionMap": "",
        "panelClass": {
            "type": "str",
            "value": ""
        },
        "direction": "ltr",
        "functionName": "sd_hphXg0AArndArusT",
        "category": "General",
        "x": 1965,
        "y": 300,
        "wires": [
            []
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "change_passwordComponent",
        "generated": true
    },
    {
        "id": "sd_sbqoIaTqPCwc62sd",
        "type": "PageSwitch",
        "z": "sd_9tiIMNoXOixQgAaB",
        "viewType": "common",
        "nodeType": "flow",
        "name": "Checking To Verify Old Password",
        "property": "disabledOldPasswordField",
        "propertyType": "this.page",
        "propertyGv": "this.page.disabledOldPasswordField",
        "rules": [
            {
                "t": "else"
            },
            {
                "t": "true"
            }
        ],
        "checkall": "false",
        "repair": false,
        "outputs": 2,
        "functionName": "checkingToVerifyOldPassword",
        "category": "Function",
        "x": 705,
        "y": 340,
        "wires": [
            [
                "sd_gxbR262tYUH0rOwR"
            ],
            [
                "sd_kuIXAS5Q5kq3MiL6"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "change_passwordComponent",
        "generated": true
    },
    {
        "id": "sd_QicnFT3m1nF4AN7w",
        "type": "HttpRequest",
        "z": "sd_9tiIMNoXOixQgAaB",
        "viewType": "client-pages",
        "nodeType": "flow",
        "name": "",
        "method": "put",
        "methodMapping": "",
        "methodMappingObj": {},
        "urlMapping": "bh.resetUrl",
        "urlMappingObj": {
            "mapVarType": "bh",
            "mapVarValue": "resetUrl"
        },
        "ret": "json",
        "retMapping": "",
        "retMappingObj": {},
        "observe": "",
        "observeMapping": "",
        "observeMappingObj": {},
        "reportProgress": false,
        "withCreds": false,
        "reqBody": "bh.input.body",
        "reqBodyObj": {
            "mapVarType": "bh.input",
            "mapVarValue": "body"
        },
        "resultMapping": "bh.result",
        "resultMappingObj": {
            "mapVarType": "bh",
            "mapVarValue": "result"
        },
        "headers": {},
        "headersObj": [],
        "headerMapping": "",
        "headerMappingObj": {},
        "params": {},
        "paramsObj": [],
        "paramMapping": "",
        "paramMappingObj": {},
        "functionName": "sd_QicnFT3m1nF4AN7w",
        "category": "HTTP",
        "x": 1025,
        "y": 480,
        "wires": [
            [
                "sd_A4i7EcoQwa5WIBpy"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "change_passwordComponent",
        "generated": true
    },
    {
        "id": "sd_kuIXAS5Q5kq3MiL6",
        "type": "Script",
        "z": "sd_9tiIMNoXOixQgAaB",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "script": "page.showSpinner = true;\nbh.resetUrl = page.ssdUrl + 'reset-password';\nbh.input.body = {\n    email: page.userDetails.email,\n    password: bh.input.form.controls.password.value\n};",
        "functionName": "sd_kuIXAS5Q5kq3MiL6",
        "category": "Function",
        "x": 925,
        "y": 480,
        "wires": [
            [
                "sd_QicnFT3m1nF4AN7w"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "change_passwordComponent",
        "generated": true
    },
    {
        "id": "sd_1PktXVwFJLGdgkY4",
        "type": "Script",
        "z": "sd_9tiIMNoXOixQgAaB",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "script": "page.showSpinner = false;",
        "functionName": "sd_1PktXVwFJLGdgkY4",
        "category": "Function",
        "x": 1265,
        "y": 480,
        "wires": [
            [
                "sd_x2TLEr29f8Gz0Zh7"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "change_passwordComponent",
        "generated": true
    },
    {
        "id": "sd_x2TLEr29f8Gz0Zh7",
        "type": "SnackBar",
        "z": "sd_9tiIMNoXOixQgAaB",
        "viewType": "client-pages",
        "nodeType": "flow",
        "name": "",
        "message": {
            "type": "str",
            "value": "Password changed successfully!"
        },
        "action": {
            "type": "str",
            "value": "OK"
        },
        "duration": {
            "type": "num",
            "value": "5000"
        },
        "horizontalPosition": "center",
        "horizontalPositionMap": "",
        "verticalPosition": "bottom",
        "verticalPositionMap": "",
        "panelClass": {
            "type": "str",
            "value": ""
        },
        "direction": "ltr",
        "functionName": "sd_x2TLEr29f8Gz0Zh7",
        "category": "General",
        "x": 1365,
        "y": 480,
        "wires": [
            [
                "sd_6wyA59kJ477aAMQE"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "change_passwordComponent",
        "generated": true
    },
    {
        "id": "sd_6wyA59kJ477aAMQE",
        "type": "Navigation",
        "z": "sd_9tiIMNoXOixQgAaB",
        "viewType": "client-pages",
        "nodeType": "flow",
        "name": "Send User Back To Login",
        "path": "/home/login",
        "functionName": "sendUserBackToLogin",
        "category": "Navigation",
        "x": 1485,
        "y": 480,
        "wires": [
            []
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "change_passwordComponent",
        "generated": true
    },
    {
        "id": "sd_fvCpuRUrUNRzOirK",
        "type": "PageCallService",
        "z": "sd_9tiIMNoXOixQgAaB",
        "viewType": "pages",
        "nodeType": "flow",
        "name": "",
        "outputs": 1,
        "isValidNode": true,
        "noerr": 0,
        "service": {
            "id": "sd_O7BgeFkazhosv8N2",
            "type": "tab",
            "createdDate": "2024-05-14T08:16:55.985Z",
            "label": "common",
            "disabled": false,
            "info": "",
            "functionSeq": 0,
            "tabType": "client"
        },
        "flow": {
            "flowId": "sd_jJRXnjTcMQmcijs6",
            "flowName": "goBack"
        },
        "inputVariables": [],
        "outputMapping": [],
        "serviceImportPath": "app/sd-services/common",
        "startName": "goBack",
        "inputParams": [],
        "accept_bh": false,
        "accept_csd": true,
        "functionName": "sd_fvCpuRUrUNRzOirK",
        "category": "General",
        "x": 1865,
        "y": 300,
        "wires": [
            [
                "sd_hphXg0AArndArusT"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "change_passwordComponent",
        "generated": true
    },
    {
        "id": "sd_A4i7EcoQwa5WIBpy",
        "type": "PageSwitch",
        "z": "sd_9tiIMNoXOixQgAaB",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "property": "userDetails.firstTimeLogin",
        "propertyType": "this.page",
        "propertyGv": "this.page.userDetails.firstTimeLogin",
        "rules": [
            {
                "t": "else"
            },
            {
                "t": "true"
            }
        ],
        "checkall": "false",
        "repair": false,
        "outputs": 2,
        "functionName": "sd_A4i7EcoQwa5WIBpy",
        "category": "Function",
        "x": 1125,
        "y": 480,
        "wires": [
            [
                "sd_1PktXVwFJLGdgkY4"
            ],
            [
                "sd_Nkx0LbJlTcVYtJi9"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "change_passwordComponent",
        "generated": true
    },
    {
        "id": "sd_Nkx0LbJlTcVYtJi9",
        "type": "Script",
        "z": "sd_9tiIMNoXOixQgAaB",
        "viewType": "common",
        "nodeType": "flow",
        "name": "Update user",
        "script": "bh.url = page.ssdUrl + 'update';\nbh.input.body = {\n    email: page.userDetails.email,\n    firstTimeLogin: false,\n    collection: \"users\"\n}",
        "functionName": "updateUser",
        "category": "Function",
        "x": 1245,
        "y": 580,
        "wires": [
            [
                "sd_Rex6te93gGYLA57Q"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "change_passwordComponent",
        "generated": true
    },
    {
        "id": "sd_ae0359aKUUrq62b9",
        "type": "Script",
        "z": "sd_9tiIMNoXOixQgAaB",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "script": "page.showSpinner = false;\npage.userDetails.firstTimeLogin = false;",
        "functionName": "sd_ae0359aKUUrq62b9",
        "category": "Function",
        "x": 1445,
        "y": 580,
        "wires": [
            [
                "sd_OuETB8LH6mUMfV4n"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "change_passwordComponent",
        "generated": true
    },
    {
        "id": "sd_dqkw4ouW0PUSN6eq",
        "type": "SnackBar",
        "z": "sd_9tiIMNoXOixQgAaB",
        "viewType": "client-pages",
        "nodeType": "flow",
        "name": "",
        "message": {
            "type": "str",
            "value": "Deposit your starting amount"
        },
        "action": {
            "type": "str",
            "value": "OK"
        },
        "duration": {
            "type": "num",
            "value": "5000"
        },
        "horizontalPosition": "center",
        "horizontalPositionMap": "",
        "verticalPosition": "bottom",
        "verticalPositionMap": "",
        "panelClass": {
            "type": "str",
            "value": ""
        },
        "direction": "ltr",
        "functionName": "sd_dqkw4ouW0PUSN6eq",
        "category": "General",
        "x": 1645,
        "y": 580,
        "wires": [
            [
                "sd_9SpZLdrMJqsGy7UZ"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "change_passwordComponent",
        "generated": true
    },
    {
        "id": "sd_9SpZLdrMJqsGy7UZ",
        "type": "Navigation",
        "z": "sd_9tiIMNoXOixQgAaB",
        "viewType": "client-pages",
        "nodeType": "flow",
        "name": "Send User To Deposit",
        "path": "/home/deposit",
        "functionName": "sendUserToDeposit",
        "category": "Navigation",
        "x": 1745,
        "y": 580,
        "wires": [
            []
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "change_passwordComponent",
        "generated": true
    },
    {
        "id": "sd_5t5r1DSuOhOOnykN",
        "type": "Log",
        "z": "sd_9tiIMNoXOixQgAaB",
        "viewType": "client-pages",
        "nodeType": "flow",
        "name": "",
        "outputs": 0,
        "logObject": "bh.result",
        "functionName": "sd_5t5r1DSuOhOOnykN",
        "category": "General",
        "x": 1465,
        "y": 680,
        "wires": [],
        "__ssdTypeInputs__": {
            "logObject": {
                "type": "bh",
                "value": "result",
                "constant": false
            }
        },
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "change_passwordComponent",
        "generated": true
    },
    {
        "id": "sd_OuETB8LH6mUMfV4n",
        "type": "Storage",
        "z": "sd_9tiIMNoXOixQgAaB",
        "viewType": "client-pages",
        "nodeType": "flow",
        "name": "",
        "operationType": "setItem",
        "storageType": "sessionStorage",
        "outputs": 1,
        "key": {
            "type": "str",
            "value": "user"
        },
        "value": {
            "type": "this.page",
            "value": "userDetails"
        },
        "resultMapping": {},
        "functionName": "sd_OuETB8LH6mUMfV4n",
        "category": "Storage",
        "x": 1545,
        "y": 580,
        "wires": [
            [
                "sd_dqkw4ouW0PUSN6eq"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "change_passwordComponent",
        "generated": true
    },
    {
        "id": "sd_Rex6te93gGYLA57Q",
        "type": "HttpRequest",
        "z": "sd_9tiIMNoXOixQgAaB",
        "viewType": "client-pages",
        "nodeType": "flow",
        "name": "",
        "method": "put",
        "methodMapping": "",
        "methodMappingObj": {},
        "urlMapping": "bh.url",
        "urlMappingObj": {
            "mapVarType": "bh",
            "mapVarValue": "url"
        },
        "ret": "json",
        "retMapping": "",
        "retMappingObj": {},
        "observe": "",
        "observeMapping": "",
        "observeMappingObj": {},
        "reportProgress": false,
        "withCreds": false,
        "reqBody": "bh.input.body",
        "reqBodyObj": {
            "mapVarType": "bh.input",
            "mapVarValue": "body"
        },
        "resultMapping": "bh.result",
        "resultMappingObj": {
            "mapVarType": "bh",
            "mapVarValue": "result"
        },
        "headers": {},
        "headersObj": [],
        "headerMapping": "",
        "headerMappingObj": {},
        "params": {},
        "paramsObj": [],
        "paramMapping": "",
        "paramMappingObj": {},
        "functionName": "sd_Rex6te93gGYLA57Q",
        "category": "HTTP",
        "x": 1345,
        "y": 580,
        "wires": [
            [
                "sd_ae0359aKUUrq62b9",
                "sd_5t5r1DSuOhOOnykN"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "change_passwordComponent",
        "generated": true
    },
    {
        "id": "sd_V2OpJMukE8Ti748s",
        "type": "Storage",
        "z": "sd_9tiIMNoXOixQgAaB",
        "viewType": "client-pages",
        "nodeType": "flow",
        "name": "",
        "operationType": "setItem",
        "storageType": "localStorage",
        "outputs": 1,
        "key": {
            "type": "str",
            "value": "selectedPage"
        },
        "value": {
            "type": "str",
            "value": "Change Password"
        },
        "resultMapping": {},
        "functionName": "sd_V2OpJMukE8Ti748s",
        "category": "Storage",
        "x": 845,
        "y": 60,
        "wires": [
            []
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "change_passwordComponent",
        "generated": true
    }
]
