designs/pages/change_password.json
[
    {
        "id": "sd_9tiIMNoXOixQgAaB",
        "type": "tab",
        "createdDate": "2024-05-15T12:45:46.004Z",
        "label": "change_password",
        "disabled": false,
        "info": "",
        "functionSeq": 0,
        "generateNext": true,
        "serviceName": "change_passwordComponent"
    },
    {
        "id": "sd_Qa3gEQ8XuawZxvmf",
        "type": "OnInit",
        "z": "sd_9tiIMNoXOixQgAaB",
        "viewType": "common",
        "nodeType": "start",
        "name": "",
        "functionName": "sd_Qa3gEQ8XuawZxvmf",
        "category": "Lifecycle Events",
        "x": 85,
        "y": 60,
        "wires": [
            [
                "sd_T6K84FQUvcDX1YSo"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": true,
        "serviceName": "change_passwordComponent"
    },
    {
        "id": "sd_4QTWai7UHhI5IGma",
        "type": "PageVariables",
        "z": "sd_9tiIMNoXOixQgAaB",
        "viewType": "pages",
        "nodeType": "flow",
        "name": "",
        "inputs": 1,
        "outputs": 1,
        "operation": "set",
        "globalVariables": [
            {
                "textIp": "changepasswordForm",
                "typedIpValue": {
                    "type": "this.page",
                    "value": ""
                }
            },
            {
                "textIp": "passwordPattern",
                "typedIpValue": {
                    "type": "literal",
                    "value": "/^(?=.*[0-9])(?=.*[a-z])(?=.*[A-Z])(?=.*[@]).{8,30}$/"
                }
            }
        ],
        "functionName": "sd_4QTWai7UHhI5IGma",
        "category": "Function",
        "x": 345,
        "y": 60,
        "wires": [
            [
                "sd_JmAzaumQzsqtdBXO"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "change_passwordComponent",
        "generated": true
    },
    {
        "id": "sd_EKizbmhhiynIcaPQ",
        "type": "PageStart",
        "z": "sd_9tiIMNoXOixQgAaB",
        "viewType": "pages",
        "nodeType": "start",
        "name": "Go Back",
        "outputs": 1,
        "inputVariables": [],
        "localVariables": [],
        "flow_type": "sync",
        "functionName": "goBack",
        "category": "General",
        "x": 85,
        "y": 180,
        "wires": [
            [
                "sd_PSAf9tcJS5NXhVBp"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": true,
        "serviceName": "change_passwordComponent"
    },
    {
        "id": "sd_PSAf9tcJS5NXhVBp",
        "type": "PageCallService",
        "z": "sd_9tiIMNoXOixQgAaB",
        "viewType": "pages",
        "nodeType": "flow",
        "name": "",
        "outputs": 1,
        "isValidNode": true,
        "noerr": 0,
        "service": {
            "id": "sd_O7BgeFkazhosv8N2",
            "type": "tab",
            "createdDate": "2024-05-14T08:16:55.985Z",
            "label": "common",
            "disabled": false,
            "info": "",
            "functionSeq": 0,
            "tabType": "client"
        },
        "flow": {
            "flowId": "sd_jJRXnjTcMQmcijs6",
            "flowName": "goBack"
        },
        "inputVariables": [],
        "outputMapping": [],
        "serviceImportPath": "app/sd-services/common",
        "startName": "goBack",
        "inputParams": [],
        "accept_bh": false,
        "accept_csd": true,
        "functionName": "sd_PSAf9tcJS5NXhVBp",
        "category": "General",
        "x": 225,
        "y": 180,
        "wires": [
            []
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "change_passwordComponent",
        "generated": true
    },
    {
        "id": "sd_bXl36kavUNfxNOZt",
        "type": "PageStart",
        "z": "sd_9tiIMNoXOixQgAaB",
        "viewType": "pages",
        "nodeType": "start",
        "name": "changePassword",
        "outputs": 1,
        "inputVariables": [
            {
                "key": "form",
                "defaultValue": {
                    "type": "any",
                    "value": ""
                },
                "output": false
            }
        ],
        "localVariables": [],
        "flow_type": "sync",
        "functionName": "changePassword",
        "category": "General",
        "x": 145,
        "y": 320,
        "wires": [
            [
                "sd_XhVQOmTtgKdzutt9"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": true,
        "serviceName": "change_passwordComponent"
    },
    {
        "id": "sd_JSAMA1ZV6YjMOc7j",
        "type": "UseDependency",
        "z": "sd_9tiIMNoXOixQgAaB",
        "viewType": "client-pages",
        "nodeType": "flow",
        "name": "",
        "inputs": 1,
        "outputs": 1,
        "property": "",
        "propertyType": "bh",
        "propertyGv": "bh.",
        "alias": "",
        "modules": [
            {
                "textIp": "FormGroup",
                "typedIpValue": {
                    "type": "this.page",
                    "value": ""
                },
                "injectable": false
            },
            {
                "textIp": "FormControl",
                "typedIpValue": {
                    "type": "this.page",
                    "value": ""
                },
                "injectable": false
            },
            {
                "textIp": "Validators",
                "typedIpValue": {
                    "type": "this.page",
                    "value": ""
                },
                "injectable": false
            }
        ],
        "import_all": false,
        "library": "@angular/forms",
        "serviceDesignerType": "pages",
        "functionName": "sd_JSAMA1ZV6YjMOc7j",
        "category": "Function",
        "x": 245,
        "y": 60,
        "wires": [
            [
                "sd_4QTWai7UHhI5IGma"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "change_passwordComponent",
        "generated": true
    },
    {
        "id": "sd_T6K84FQUvcDX1YSo",
        "type": "Storage",
        "z": "sd_9tiIMNoXOixQgAaB",
        "viewType": "client-pages",
        "nodeType": "flow",
        "name": "",
        "operationType": "getItem",
        "storageType": "sessionStorage",
        "outputs": 1,
        "key": {
            "type": "str",
            "value": "user"
        },
        "value": {},
        "resultMapping": {
            "type": "this.page",
            "value": "userDetails"
        },
        "functionName": "sd_T6K84FQUvcDX1YSo",
        "category": "Storage",
        "x": 165,
        "y": 60,
        "wires": [
            [
                "sd_JSAMA1ZV6YjMOc7j"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "change_passwordComponent",
        "generated": true
    },
    {
        "id": "sd_gCGmtS3KI3uFKwe4",
        "type": "Script",
        "z": "sd_9tiIMNoXOixQgAaB",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "script": "page.changepasswordForm = new FormGroup ({\n    old: new FormControl('', [Validators.required]),\n    password: new FormControl('', [Validators.required, Validators.pattern(page.passwordPattern)]),\n    confirmPassword: new FormControl('', [Validators.required, Validators.pattern(page.passwordPattern)])\n})\n\n\nconsole.log(\"stoargeee:\", page.userDetails)",
        "functionName": "sd_gCGmtS3KI3uFKwe4",
        "category": "Function",
        "x": 545,
        "y": 60,
        "wires": [
            []
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "change_passwordComponent",
        "generated": true
    },
    {
        "id": "sd_0rpSxeoMAgfhyj4O",
        "type": "PageSwitch",
        "z": "sd_9tiIMNoXOixQgAaB",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "property": "form.password",
        "propertyType": "bh.input",
        "propertyGv": "bh.input.form.password",
        "rules": [
            {
                "t": "se",
                "v": "form.confirmPassword",
                "vt": "bh.input",
                "gv": "bh.input.form.confirmPassword"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "false",
        "repair": false,
        "outputs": 2,
        "functionName": "sd_0rpSxeoMAgfhyj4O",
        "category": "Function",
        "x": 705,
        "y": 380,
        "wires": [
            [
                "sd_uWWnklG2ibjg9XuL"
            ],
            [
                "sd_oJ9MgN1Vhm8TrRHM"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "change_passwordComponent",
        "generated": true
    },
    {
        "id": "sd_oJ9MgN1Vhm8TrRHM",
        "type": "SnackBar",
        "z": "sd_9tiIMNoXOixQgAaB",
        "viewType": "client-pages",
        "nodeType": "flow",
        "name": "",
        "message": {
            "type": "str",
            "value": "Passwords don't match"
        },
        "action": {
            "type": "str",
            "value": "OK"
        },
        "duration": {
            "type": "num",
            "value": "5000"
        },
        "horizontalPosition": "center",
        "horizontalPositionMap": "",
        "verticalPosition": "bottom",
        "verticalPositionMap": "",
        "panelClass": {
            "type": "str",
            "value": ""
        },
        "direction": "ltr",
        "functionName": "sd_oJ9MgN1Vhm8TrRHM",
        "category": "General",
        "x": 825,
        "y": 480,
        "wires": [
            []
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "change_passwordComponent",
        "generated": true
    },
    {
        "id": "sd_JmAzaumQzsqtdBXO",
        "type": "PageServiceVariables",
        "z": "sd_9tiIMNoXOixQgAaB",
        "viewType": "pages",
        "nodeType": "flow",
        "name": "",
        "inputs": 1,
        "outputs": 1,
        "operation": "get",
        "globalVariables": [
            {
                "textIp": "email",
                "typedIpValue": {
                    "type": "this.page",
                    "value": "email"
                }
            }
        ],
        "functionName": "sd_JmAzaumQzsqtdBXO",
        "service": {
            "id": "sd_O7BgeFkazhosv8N2",
            "type": "tab",
            "createdDate": "2024-05-14T08:16:55.985Z",
            "label": "common",
            "disabled": false,
            "info": "",
            "functionSeq": 0,
            "tabType": "client",
            "generateNext": true,
            "serviceName": "common",
            "relativeParentPath": "",
            "_def": {
                "defaults": {
                    "label": {
                        "value": ""
                    },
                    "disabled": {
                        "value": false
                    },
                    "info": {
                        "value": ""
                    }
                }
            }
        },
        "serviceImportPath": "app/sd-services/common",
        "category": "Function",
        "x": 445,
        "y": 60,
        "wires": [
            [
                "sd_gCGmtS3KI3uFKwe4"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "change_passwordComponent",
        "generated": true
    },
    {
        "id": "sd_uWWnklG2ibjg9XuL",
        "type": "Script",
        "z": "sd_9tiIMNoXOixQgAaB",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "script": "bh.input.body = {\n    email: page.userDetails.email,\n    newPassword: bh.input.form.controls.password.value\n};\n\n\nbh.url3 = page.ssdUrl + 'reset-password';\nbh.url2 = page.ssdUrl + `get-user/${page.userDetails.email}`;\n\n",
        "functionName": "sd_uWWnklG2ibjg9XuL",
        "category": "Function",
        "x": 825,
        "y": 320,
        "wires": [
            [
                "sd_mK4EznT8GjmJzX7H"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "change_passwordComponent",
        "generated": true
    },
    {
        "id": "sd_mK4EznT8GjmJzX7H",
        "type": "HttpRequest",
        "z": "sd_9tiIMNoXOixQgAaB",
        "viewType": "client-pages",
        "nodeType": "flow",
        "name": "",
        "method": "put",
        "methodMapping": "",
        "methodMappingObj": {},
        "urlMapping": "bh.url3",
        "urlMappingObj": {
            "mapVarType": "bh",
            "mapVarValue": "url3"
        },
        "ret": "json",
        "retMapping": "",
        "retMappingObj": {},
        "observe": "",
        "observeMapping": "",
        "observeMappingObj": {},
        "reportProgress": false,
        "withCreds": false,
        "reqBody": "bh.input.body",
        "reqBodyObj": {
            "mapVarType": "bh.input",
            "mapVarValue": "body"
        },
        "resultMapping": "bh.result",
        "resultMappingObj": {
            "mapVarType": "bh",
            "mapVarValue": "result"
        },
        "headers": {},
        "headersObj": [],
        "headerMapping": "",
        "headerMappingObj": {},
        "params": {},
        "paramsObj": [],
        "paramMapping": "",
        "paramMappingObj": {},
        "functionName": "sd_mK4EznT8GjmJzX7H",
        "category": "HTTP",
        "x": 925,
        "y": 320,
        "wires": [
            [
                "sd_Kzf3X102ixxPwbJs"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "change_passwordComponent",
        "generated": true
    },
    {
        "id": "sd_Kzf3X102ixxPwbJs",
        "type": "HttpRequest",
        "z": "sd_9tiIMNoXOixQgAaB",
        "viewType": "client-pages",
        "nodeType": "flow",
        "name": "",
        "method": "get",
        "methodMapping": "",
        "methodMappingObj": {},
        "urlMapping": "bh.url2",
        "urlMappingObj": {
            "mapVarType": "bh",
            "mapVarValue": "url2"
        },
        "ret": "json",
        "retMapping": "",
        "retMappingObj": {},
        "observe": "",
        "observeMapping": "",
        "observeMappingObj": {},
        "reportProgress": false,
        "withCreds": false,
        "reqBody": "bh.user",
        "reqBodyObj": {
            "mapVarType": "bh",
            "mapVarValue": "user"
        },
        "resultMapping": "bh.results",
        "resultMappingObj": {
            "mapVarType": "bh",
            "mapVarValue": "results"
        },
        "headers": {},
        "headersObj": [],
        "headerMapping": "",
        "headerMappingObj": {},
        "params": {},
        "paramsObj": [],
        "paramMapping": "",
        "paramMappingObj": {},
        "functionName": "sd_Kzf3X102ixxPwbJs",
        "category": "HTTP",
        "x": 1025,
        "y": 320,
        "wires": [
            [
                "sd_vtXD73efgrIZDkT4"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "change_passwordComponent",
        "generated": true
    },
    {
        "id": "sd_vtXD73efgrIZDkT4",
        "type": "Script",
        "z": "sd_9tiIMNoXOixQgAaB",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "script": "console.log(\"results:\", bh.results)\n",
        "functionName": "sd_vtXD73efgrIZDkT4",
        "category": "Function",
        "x": 1125,
        "y": 320,
        "wires": [
            []
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "change_passwordComponent",
        "generated": true
    },
    {
        "id": "sd_l5s2rLcTke4wvwLJ",
        "type": "Storage",
        "z": "sd_9tiIMNoXOixQgAaB",
        "viewType": "client-pages",
        "nodeType": "flow",
        "name": "",
        "operationType": "getItem",
        "storageType": "sessionStorage",
        "outputs": 1,
        "key": {
            "type": "str",
            "value": "user"
        },
        "value": {},
        "resultMapping": {
            "type": "this.page",
            "value": "userDetails"
        },
        "functionName": "sd_l5s2rLcTke4wvwLJ",
        "category": "Storage",
        "x": 905,
        "y": 140,
        "wires": [
            []
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": true,
        "serviceName": "change_passwordComponent"
    },
    {
        "id": "sd_XhVQOmTtgKdzutt9",
        "type": "Environment",
        "z": "sd_9tiIMNoXOixQgAaB",
        "viewType": "client-pages",
        "nodeType": "flow",
        "name": "",
        "outputs": 1,
        "envMaps": [
            {
                "flowVar": {
                    "type": "this.page",
                    "value": "ssdUrl"
                },
                "envProperty": "ssdURL"
            }
        ],
        "functionName": "sd_XhVQOmTtgKdzutt9",
        "category": "General",
        "x": 265,
        "y": 320,
        "wires": [
            [
                "sd_eaDQrlSGKTsPb58S"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "change_passwordComponent",
        "generated": true
    },
    {
        "id": "sd_eaDQrlSGKTsPb58S",
        "type": "Script",
        "z": "sd_9tiIMNoXOixQgAaB",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "script": "bh.input.body = {\n    email: page.userDetails.email,\n    password: bh.input.form.controls.old.value,\n    collection: \"users\"\n};\n\n\nbh.url = page.ssdUrl + 'verify-password';\n\n",
        "functionName": "sd_eaDQrlSGKTsPb58S",
        "category": "Function",
        "x": 345,
        "y": 320,
        "wires": [
            [
                "sd_JtVpTsYnu6nJiteO"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "change_passwordComponent",
        "generated": true
    },
    {
        "id": "sd_JtVpTsYnu6nJiteO",
        "type": "HttpRequest",
        "z": "sd_9tiIMNoXOixQgAaB",
        "viewType": "client-pages",
        "nodeType": "flow",
        "name": "",
        "method": "post",
        "methodMapping": "",
        "methodMappingObj": {},
        "urlMapping": "bh.url",
        "urlMappingObj": {
            "mapVarType": "bh",
            "mapVarValue": "url"
        },
        "ret": "json",
        "retMapping": "",
        "retMappingObj": {},
        "observe": "",
        "observeMapping": "",
        "observeMappingObj": {},
        "reportProgress": false,
        "withCreds": false,
        "reqBody": "bh.input.body",
        "reqBodyObj": {
            "mapVarType": "bh.input",
            "mapVarValue": "body"
        },
        "resultMapping": "bh.result",
        "resultMappingObj": {
            "mapVarType": "bh",
            "mapVarValue": "result"
        },
        "headers": {},
        "headersObj": [],
        "headerMapping": "",
        "headerMappingObj": {},
        "params": {},
        "paramsObj": [],
        "paramMapping": "",
        "paramMappingObj": {},
        "functionName": "sd_JtVpTsYnu6nJiteO",
        "category": "HTTP",
        "x": 425,
        "y": 320,
        "wires": [
            [
                "sd_QV5LpSH3LR5yl72j"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "change_passwordComponent",
        "generated": true
    },
    {
        "id": "sd_QV5LpSH3LR5yl72j",
        "type": "Script",
        "z": "sd_9tiIMNoXOixQgAaB",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "script": "console.log(\"ehh\", bh.result)",
        "functionName": "sd_QV5LpSH3LR5yl72j",
        "category": "Function",
        "x": 500,
        "y": 320,
        "wires": [
            [
                "sd_1GlBlW9NrERdZGUl"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "change_passwordComponent",
        "generated": true
    },
    {
        "id": "sd_1GlBlW9NrERdZGUl",
        "type": "PageSwitch",
        "z": "sd_9tiIMNoXOixQgAaB",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "property": "form.value.old",
        "propertyType": "bh.input",
        "propertyGv": "bh.input.form.value.old",
        "rules": [
            {
                "t": "se",
                "v": "form.value.password",
                "vt": "bh.input",
                "gv": "bh.input.form.value.password"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "false",
        "repair": false,
        "outputs": 2,
        "functionName": "sd_1GlBlW9NrERdZGUl",
        "category": "Function",
        "x": 600,
        "y": 320,
        "wires": [
            [
                "sd_mVxBClIp8MpaTB7D"
            ],
            [
                "sd_0rpSxeoMAgfhyj4O"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "change_passwordComponent",
        "generated": true
    },
    {
        "id": "sd_mVxBClIp8MpaTB7D",
        "type": "SnackBar",
        "z": "sd_9tiIMNoXOixQgAaB",
        "viewType": "client-pages",
        "nodeType": "flow",
        "name": "",
        "message": {
            "type": "str",
            "value": "New Password Cannot Be The Same"
        },
        "action": {
            "type": "str",
            "value": "OK"
        },
        "duration": {
            "type": "num",
            "value": "5000"
        },
        "horizontalPosition": "center",
        "horizontalPositionMap": "",
        "verticalPosition": "bottom",
        "verticalPositionMap": "",
        "panelClass": {
            "type": "str",
            "value": ""
        },
        "direction": "ltr",
        "functionName": "sd_mVxBClIp8MpaTB7D",
        "category": "General",
        "x": 720,
        "y": 220,
        "wires": [
            []
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "change_passwordComponent",
        "generated": true
    }
]
