designs/pages/change_password2.json
[
    {
        "id": "sd_GbRG9zRS8yjl75LL",
        "type": "tab",
        "createdDate": "2024-06-04T08:55:55.697Z",
        "label": "change_password2",
        "disabled": false,
        "info": "",
        "functionSeq": 0,
        "generateNext": true,
        "serviceName": "change_password2Component"
    },
    {
        "id": "sd_wt9z5WYo6fgGOUM6",
        "type": "PageStart",
        "z": "sd_GbRG9zRS8yjl75LL",
        "viewType": "pages",
        "nodeType": "start",
        "name": "Go Back",
        "outputs": 1,
        "inputVariables": [],
        "localVariables": [],
        "flow_type": "sync",
        "functionName": "goBack",
        "category": "General",
        "x": 36,
        "y": 147.8020782470703,
        "wires": [
            [
                "sd_NJLoRNdTFbFuMuGn"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": true,
        "serviceName": "change_password2Component"
    },
    {
        "id": "sd_NJLoRNdTFbFuMuGn",
        "type": "PageCallService",
        "z": "sd_GbRG9zRS8yjl75LL",
        "viewType": "pages",
        "nodeType": "flow",
        "name": "",
        "outputs": 1,
        "isValidNode": true,
        "noerr": 0,
        "service": {
            "id": "sd_O7BgeFkazhosv8N2",
            "type": "tab",
            "createdDate": "2024-05-14T08:16:55.985Z",
            "label": "common",
            "disabled": false,
            "info": "",
            "functionSeq": 0,
            "tabType": "client"
        },
        "flow": {
            "flowId": "sd_jJRXnjTcMQmcijs6",
            "flowName": "goBack"
        },
        "inputVariables": [],
        "outputMapping": [],
        "serviceImportPath": "app/sd-services/common",
        "startName": "goBack",
        "inputParams": [],
        "accept_bh": false,
        "accept_csd": true,
        "functionName": "sd_NJLoRNdTFbFuMuGn",
        "category": "General",
        "x": 176,
        "y": 147.8020782470703,
        "wires": [
            []
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "change_password2Component",
        "generated": true
    },
    {
        "id": "sd_QwcYFtNP1EFjZFj6",
        "type": "OnInit",
        "z": "sd_GbRG9zRS8yjl75LL",
        "viewType": "common",
        "nodeType": "start",
        "name": "",
        "functionName": "sd_QwcYFtNP1EFjZFj6",
        "category": "Lifecycle Events",
        "x": 71,
        "y": 51.80208206176758,
        "wires": [
            [
                "sd_CMWptT0fhhJepiwG"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": true,
        "serviceName": "change_password2Component"
    },
    {
        "id": "sd_QMsn55kIMtHvV9Dc",
        "type": "PageVariables",
        "z": "sd_GbRG9zRS8yjl75LL",
        "viewType": "pages",
        "nodeType": "flow",
        "name": "",
        "inputs": 1,
        "outputs": 1,
        "operation": "set",
        "globalVariables": [
            {
                "textIp": "changepasswordForm2",
                "typedIpValue": {
                    "type": "this.page",
                    "value": ""
                }
            },
            {
                "textIp": "passwordPattern",
                "typedIpValue": {
                    "type": "literal",
                    "value": "/^(?=.*[0-9])(?=.*[a-z])(?=.*[A-Z])(?=.*[@]).{8,30}$/"
                }
            }
        ],
        "functionName": "sd_QMsn55kIMtHvV9Dc",
        "category": "Function",
        "x": 331,
        "y": 51.80208206176758,
        "wires": [
            [
                "sd_NZeG9pkqJCcwcdw5"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "change_password2Component",
        "generated": true
    },
    {
        "id": "sd_dGzjxXXq1kSNBIQd",
        "type": "UseDependency",
        "z": "sd_GbRG9zRS8yjl75LL",
        "viewType": "client-pages",
        "nodeType": "flow",
        "name": "",
        "inputs": 1,
        "outputs": 1,
        "property": "",
        "propertyType": "bh",
        "propertyGv": "bh.",
        "alias": "",
        "modules": [
            {
                "textIp": "FormGroup",
                "typedIpValue": {
                    "type": "this.page",
                    "value": ""
                },
                "injectable": false
            },
            {
                "textIp": "FormControl",
                "typedIpValue": {
                    "type": "this.page",
                    "value": ""
                },
                "injectable": false
            },
            {
                "textIp": "Validators",
                "typedIpValue": {
                    "type": "this.page",
                    "value": ""
                },
                "injectable": false
            }
        ],
        "import_all": false,
        "library": "@angular/forms",
        "serviceDesignerType": "pages",
        "functionName": "sd_dGzjxXXq1kSNBIQd",
        "category": "Function",
        "x": 231,
        "y": 51.80208206176758,
        "wires": [
            [
                "sd_QMsn55kIMtHvV9Dc"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "change_password2Component",
        "generated": true
    },
    {
        "id": "sd_CMWptT0fhhJepiwG",
        "type": "Storage",
        "z": "sd_GbRG9zRS8yjl75LL",
        "viewType": "client-pages",
        "nodeType": "flow",
        "name": "",
        "operationType": "getItem",
        "storageType": "sessionStorage",
        "outputs": 1,
        "key": {
            "type": "str",
            "value": "user"
        },
        "value": {},
        "resultMapping": {
            "type": "this.page",
            "value": "userDetails"
        },
        "functionName": "sd_CMWptT0fhhJepiwG",
        "category": "Storage",
        "x": 151,
        "y": 51.80208206176758,
        "wires": [
            [
                "sd_dGzjxXXq1kSNBIQd"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "change_password2Component",
        "generated": true
    },
    {
        "id": "sd_zdtUYVHfIuAWlRoA",
        "type": "Script",
        "z": "sd_GbRG9zRS8yjl75LL",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "script": "page.changepasswordForm2 = new FormGroup ({\n    password: new FormControl('', [Validators.required, Validators.pattern(page.passwordPattern)]),\n    confirmPassword: new FormControl('', [Validators.required, Validators.pattern(page.passwordPattern)])\n})\n\n\nconsole.log(\"stoargeee:\", page.userDetails)",
        "functionName": "sd_zdtUYVHfIuAWlRoA",
        "category": "Function",
        "x": 531,
        "y": 51.80208206176758,
        "wires": [
            []
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "change_password2Component",
        "generated": true
    },
    {
        "id": "sd_NZeG9pkqJCcwcdw5",
        "type": "PageServiceVariables",
        "z": "sd_GbRG9zRS8yjl75LL",
        "viewType": "pages",
        "nodeType": "flow",
        "name": "",
        "inputs": 1,
        "outputs": 1,
        "operation": "get",
        "globalVariables": [
            {
                "textIp": "email",
                "typedIpValue": {
                    "type": "this.page",
                    "value": "email"
                }
            }
        ],
        "functionName": "sd_NZeG9pkqJCcwcdw5",
        "service": {
            "id": "sd_O7BgeFkazhosv8N2",
            "type": "tab",
            "createdDate": "2024-05-14T08:16:55.985Z",
            "label": "common",
            "disabled": false,
            "info": "",
            "functionSeq": 0,
            "tabType": "client",
            "generateNext": true,
            "serviceName": "common",
            "relativeParentPath": "",
            "_def": {
                "defaults": {
                    "label": {
                        "value": ""
                    },
                    "disabled": {
                        "value": false
                    },
                    "info": {
                        "value": ""
                    }
                }
            }
        },
        "serviceImportPath": "app/sd-services/common",
        "category": "Function",
        "x": 431,
        "y": 51.80208206176758,
        "wires": [
            [
                "sd_zdtUYVHfIuAWlRoA"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "change_password2Component",
        "generated": true
    },
    {
        "id": "sd_mRU5Me3WOJaqeJFO",
        "type": "PageStart",
        "z": "sd_GbRG9zRS8yjl75LL",
        "viewType": "pages",
        "nodeType": "start",
        "name": "changePassword",
        "outputs": 1,
        "inputVariables": [
            {
                "key": "form",
                "defaultValue": {
                    "type": "any",
                    "value": ""
                },
                "output": false
            }
        ],
        "localVariables": [],
        "flow_type": "sync",
        "functionName": "changePassword",
        "category": "General",
        "x": 45,
        "y": 500,
        "wires": [
            [
                "sd_8DovQ9692xJGfprv"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": true,
        "serviceName": "change_password2Component"
    },
    {
        "id": "sd_fSmqHytxCpY4WDfb",
        "type": "Environment",
        "z": "sd_GbRG9zRS8yjl75LL",
        "viewType": "client-pages",
        "nodeType": "flow",
        "name": "",
        "outputs": 1,
        "envMaps": [
            {
                "flowVar": {
                    "type": "this.page",
                    "value": "ssdUrl"
                },
                "envProperty": "ssdURL"
            }
        ],
        "functionName": "sd_fSmqHytxCpY4WDfb",
        "category": "General",
        "x": 205,
        "y": 280,
        "wires": [
            [
                "sd_2sOjTebfZo93E0Dj"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "change_password2Component",
        "generated": true
    },
    {
        "id": "sd_2sOjTebfZo93E0Dj",
        "type": "Script",
        "z": "sd_GbRG9zRS8yjl75LL",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "script": "bh.input.body = {\n    email: page.userDetails.email,\n    newPassword: bh.input.form.controls.password.value\n};\n\n\nbh.url = page.ssdUrl + 'reset-password';\nbh.url2 = page.ssdUrl + `get-user/${page.userDetails.email}`;\n\n",
        "functionName": "sd_2sOjTebfZo93E0Dj",
        "category": "Function",
        "x": 280,
        "y": 280,
        "wires": [
            [
                "sd_KD9uXy8LYOAr24Pi"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "change_password2Component",
        "generated": true
    },
    {
        "id": "sd_KD9uXy8LYOAr24Pi",
        "type": "HttpRequest",
        "z": "sd_GbRG9zRS8yjl75LL",
        "viewType": "client-pages",
        "nodeType": "flow",
        "name": "",
        "method": "put",
        "methodMapping": "",
        "methodMappingObj": {},
        "urlMapping": "bh.url",
        "urlMappingObj": {
            "mapVarType": "bh",
            "mapVarValue": "url"
        },
        "ret": "json",
        "retMapping": "",
        "retMappingObj": {},
        "observe": "",
        "observeMapping": "",
        "observeMappingObj": {},
        "reportProgress": false,
        "withCreds": false,
        "reqBody": "bh.input.body",
        "reqBodyObj": {
            "mapVarType": "bh.input",
            "mapVarValue": "body"
        },
        "resultMapping": "bh.result",
        "resultMappingObj": {
            "mapVarType": "bh",
            "mapVarValue": "result"
        },
        "headers": {},
        "headersObj": [],
        "headerMapping": "",
        "headerMappingObj": {},
        "params": {},
        "paramsObj": [],
        "paramMapping": "",
        "paramMappingObj": {},
        "functionName": "sd_KD9uXy8LYOAr24Pi",
        "category": "HTTP",
        "x": 380,
        "y": 280,
        "wires": [
            [
                "sd_L3eStlk9GE2XLhky"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "change_password2Component",
        "generated": true
    },
    {
        "id": "sd_L3eStlk9GE2XLhky",
        "type": "HttpRequest",
        "z": "sd_GbRG9zRS8yjl75LL",
        "viewType": "client-pages",
        "nodeType": "flow",
        "name": "",
        "method": "get",
        "methodMapping": "",
        "methodMappingObj": {},
        "urlMapping": "bh.url2",
        "urlMappingObj": {
            "mapVarType": "bh",
            "mapVarValue": "url2"
        },
        "ret": "json",
        "retMapping": "",
        "retMappingObj": {},
        "observe": "",
        "observeMapping": "",
        "observeMappingObj": {},
        "reportProgress": false,
        "withCreds": false,
        "reqBody": "bh.input.body",
        "reqBodyObj": {
            "mapVarType": "bh.input",
            "mapVarValue": "body"
        },
        "resultMapping": "bh.results",
        "resultMappingObj": {
            "mapVarType": "bh",
            "mapVarValue": "results"
        },
        "headers": {},
        "headersObj": [],
        "headerMapping": "",
        "headerMappingObj": {},
        "params": {},
        "paramsObj": [],
        "paramMapping": "",
        "paramMappingObj": {},
        "functionName": "sd_L3eStlk9GE2XLhky",
        "category": "HTTP",
        "x": 485,
        "y": 280,
        "wires": [
            [
                "sd_hCAg2pzaW9i92uyW"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "change_password2Component",
        "generated": true
    },
    {
        "id": "sd_hCAg2pzaW9i92uyW",
        "type": "Storage",
        "z": "sd_GbRG9zRS8yjl75LL",
        "viewType": "client-pages",
        "nodeType": "flow",
        "name": "",
        "operationType": "setItem",
        "storageType": "sessionStorage",
        "outputs": 1,
        "key": {
            "type": "str",
            "value": "user"
        },
        "value": {
            "type": "bh",
            "value": "results"
        },
        "resultMapping": {},
        "functionName": "sd_hCAg2pzaW9i92uyW",
        "category": "Storage",
        "x": 585,
        "y": 280,
        "wires": [
            [
                "sd_xrMJ1S7dOnh6EyuI"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "change_password2Component",
        "generated": true
    },
    {
        "id": "sd_xrMJ1S7dOnh6EyuI",
        "type": "SnackBar",
        "z": "sd_GbRG9zRS8yjl75LL",
        "viewType": "client-pages",
        "nodeType": "flow",
        "name": "",
        "message": {
            "type": "str",
            "value": "Password Changed"
        },
        "action": {
            "type": "str",
            "value": "OK"
        },
        "duration": {
            "type": "num",
            "value": "3000"
        },
        "horizontalPosition": "center",
        "horizontalPositionMap": "",
        "verticalPosition": "bottom",
        "verticalPositionMap": "",
        "panelClass": {
            "type": "str",
            "value": ""
        },
        "direction": "ltr",
        "functionName": "sd_xrMJ1S7dOnh6EyuI",
        "category": "General",
        "x": 685,
        "y": 280,
        "wires": [
            [
                "sd_YcIGtPOxknGkMsVO"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "change_password2Component",
        "generated": true
    },
    {
        "id": "sd_YcIGtPOxknGkMsVO",
        "type": "Navigation",
        "z": "sd_GbRG9zRS8yjl75LL",
        "viewType": "client-pages",
        "nodeType": "flow",
        "name": "",
        "path": "/deposit",
        "pathMap": "",
        "pathparams": "",
        "pathparamsMap": "",
        "qparams": "",
        "qparamsMap": "",
        "qparamsArray": "",
        "resultMapping": "",
        "functionName": "sd_YcIGtPOxknGkMsVO",
        "category": "Navigation",
        "x": 800,
        "y": 280,
        "wires": [
            []
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "change_password2Component",
        "generated": true
    },
    {
        "id": "sd_CZGqbJsH8ZD4VQXi",
        "type": "PageSwitch",
        "z": "sd_GbRG9zRS8yjl75LL",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "property": "changepasswordForm2.value.password",
        "propertyType": "this.page",
        "propertyGv": "this.page.changepasswordForm2.value.password",
        "rules": [
            {
                "t": "eq",
                "v": "changepasswordForm2.value.confirmPassword",
                "vt": "this.page",
                "gv": "this.page.changepasswordForm2.value.confirmPassword"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "false",
        "repair": false,
        "outputs": 2,
        "functionName": "sd_CZGqbJsH8ZD4VQXi",
        "category": "Function",
        "x": 120,
        "y": 320,
        "wires": [
            [
                "sd_fSmqHytxCpY4WDfb"
            ],
            [
                "sd_zGQhKczX7RNyW91K"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "change_password2Component",
        "generated": true
    },
    {
        "id": "sd_zGQhKczX7RNyW91K",
        "type": "SnackBar",
        "z": "sd_GbRG9zRS8yjl75LL",
        "viewType": "client-pages",
        "nodeType": "flow",
        "name": "",
        "message": {
            "type": "str",
            "value": "Passwords don't match"
        },
        "action": {
            "type": "str",
            "value": "OK"
        },
        "duration": {
            "type": "num",
            "value": "5000"
        },
        "horizontalPosition": "center",
        "horizontalPositionMap": "",
        "verticalPosition": "bottom",
        "verticalPositionMap": "",
        "panelClass": {
            "type": "str",
            "value": ""
        },
        "direction": "ltr",
        "functionName": "sd_zGQhKczX7RNyW91K",
        "category": "General",
        "x": 225,
        "y": 380,
        "wires": [
            []
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "change_password2Component",
        "generated": true
    },
    {
        "id": "sd_8DovQ9692xJGfprv",
        "type": "PageSwitch",
        "z": "sd_GbRG9zRS8yjl75LL",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "property": "form.valid",
        "propertyType": "bh.input",
        "propertyGv": "bh.input.form.valid",
        "rules": [
            {
                "t": "true"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "false",
        "repair": false,
        "outputs": 2,
        "functionName": "sd_8DovQ9692xJGfprv",
        "category": "Function",
        "x": 165,
        "y": 500,
        "wires": [
            [
                "sd_CZGqbJsH8ZD4VQXi"
            ],
            [
                "sd_ocJa4sFCTFksJEyg"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "change_password2Component",
        "generated": true
    },
    {
        "id": "sd_ocJa4sFCTFksJEyg",
        "type": "Script",
        "z": "sd_GbRG9zRS8yjl75LL",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "script": "console.log(\"false\")",
        "functionName": "sd_ocJa4sFCTFksJEyg",
        "category": "Function",
        "x": 245,
        "y": 580,
        "wires": [
            [
                "sd_4yzVYLxzwwULMUAY"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "change_password2Component",
        "generated": true
    },
    {
        "id": "sd_4yzVYLxzwwULMUAY",
        "type": "SnackBar",
        "z": "sd_GbRG9zRS8yjl75LL",
        "viewType": "client-pages",
        "nodeType": "flow",
        "name": "",
        "message": {
            "type": "str",
            "value": "Does not follow password pattern standard"
        },
        "action": {
            "type": "str",
            "value": "OK"
        },
        "duration": {
            "type": "num",
            "value": "5000"
        },
        "horizontalPosition": "center",
        "horizontalPositionMap": "",
        "verticalPosition": "bottom",
        "verticalPositionMap": "",
        "panelClass": {
            "type": "str",
            "value": ""
        },
        "direction": "ltr",
        "functionName": "sd_4yzVYLxzwwULMUAY",
        "category": "General",
        "x": 305,
        "y": 660,
        "wires": [
            []
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "change_password2Component",
        "generated": true
    }
]
