designs/pages/forgot_password.json
[
    {
        "id": "sd_E8jO8WvzPInznq4t",
        "type": "tab",
        "createdDate": "2024-05-21T13:49:13.305Z",
        "label": "forgot_password",
        "disabled": false,
        "info": "",
        "functionSeq": 0,
        "generateNext": true,
        "serviceName": "forgot_passwordComponent"
    },
    {
        "id": "sd_4pxV0wPLRVKGHsKt",
        "type": "OnInit",
        "z": "sd_E8jO8WvzPInznq4t",
        "viewType": "common",
        "nodeType": "start",
        "name": "",
        "functionName": "sd_4pxV0wPLRVKGHsKt",
        "category": "Lifecycle Events",
        "x": 45,
        "y": 60,
        "wires": [
            [
                "sd_B14dUA0Q3zmzZpWI"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": true,
        "serviceName": "forgot_passwordComponent"
    },
    {
        "id": "sd_tccPHs4fcoYfU5Zd",
        "type": "PageVariables",
        "z": "sd_E8jO8WvzPInznq4t",
        "viewType": "pages",
        "nodeType": "flow",
        "name": "",
        "inputs": 1,
        "outputs": 1,
        "operation": "set",
        "globalVariables": [
            {
                "textIp": "userDetails",
                "typedIpValue": {
                    "type": "literal",
                    "value": "{ email: ''}"
                }
            },
            {
                "textIp": "emailPattern",
                "typedIpValue": {
                    "type": "literal",
                    "value": "/^[^\\s@]+@([^\\s@.,]+\\.)+[^\\s@.,]{2,}$/"
                }
            },
            {
                "textIp": "submitted",
                "typedIpValue": {
                    "type": "literal",
                    "value": "false"
                }
            },
            {
                "textIp": "forgotPasswordForm",
                "typedIpValue": {
                    "type": "this.page",
                    "value": ""
                }
            },
            {
                "textIp": "email",
                "typedIpValue": {
                    "type": "this.page",
                    "value": ""
                }
            }
        ],
        "functionName": "sd_tccPHs4fcoYfU5Zd",
        "category": "Function",
        "x": 225,
        "y": 60,
        "wires": [
            [
                "sd_GTWLLiw6tkF425qr"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "forgot_passwordComponent",
        "generated": true
    },
    {
        "id": "sd_WG47W2INBwfKPERH",
        "type": "PageStart",
        "z": "sd_E8jO8WvzPInznq4t",
        "viewType": "pages",
        "nodeType": "start",
        "name": "Go Back",
        "outputs": 1,
        "inputVariables": [],
        "localVariables": [],
        "flow_type": "sync",
        "functionName": "goBack",
        "category": "General",
        "x": 45,
        "y": 160,
        "wires": [
            [
                "sd_wlYZC1PPM455h8mN"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": true,
        "serviceName": "forgot_passwordComponent"
    },
    {
        "id": "sd_wlYZC1PPM455h8mN",
        "type": "PageCallService",
        "z": "sd_E8jO8WvzPInznq4t",
        "viewType": "pages",
        "nodeType": "flow",
        "name": "",
        "outputs": 1,
        "isValidNode": true,
        "noerr": 0,
        "service": {
            "id": "sd_O7BgeFkazhosv8N2",
            "type": "tab",
            "createdDate": "2024-05-14T08:16:55.985Z",
            "label": "common",
            "disabled": false,
            "info": "",
            "functionSeq": 0,
            "tabType": "client"
        },
        "flow": {
            "flowId": "sd_jJRXnjTcMQmcijs6",
            "flowName": "goBack"
        },
        "inputVariables": [],
        "outputMapping": [],
        "serviceImportPath": "app/sd-services/common",
        "startName": "goBack",
        "inputParams": [],
        "accept_bh": false,
        "accept_csd": true,
        "functionName": "sd_wlYZC1PPM455h8mN",
        "category": "General",
        "x": 165,
        "y": 160,
        "wires": [
            []
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "forgot_passwordComponent",
        "generated": true
    },
    {
        "id": "sd_sKJ4EVPTNuClAKte",
        "type": "PageStart",
        "z": "sd_E8jO8WvzPInznq4t",
        "viewType": "pages",
        "nodeType": "start",
        "name": "submit",
        "outputs": 1,
        "inputVariables": [
            {
                "key": "form",
                "defaultValue": {
                    "type": "any",
                    "value": ""
                },
                "output": false
            }
        ],
        "localVariables": [],
        "flow_type": "sync",
        "functionName": "submit",
        "category": "General",
        "x": 45,
        "y": 280,
        "wires": [
            [
                "sd_2Xj20Ht9f7GhnmKJ"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": true,
        "serviceName": "forgot_passwordComponent"
    },
    {
        "id": "sd_CMEjWYscrjevbYPX",
        "type": "PageCallService",
        "z": "sd_E8jO8WvzPInznq4t",
        "viewType": "pages",
        "nodeType": "flow",
        "name": "",
        "outputs": 1,
        "isValidNode": true,
        "noerr": 0,
        "service": {
            "id": "sd_O7BgeFkazhosv8N2",
            "type": "tab",
            "createdDate": "2024-05-14T08:16:55.985Z",
            "label": "common",
            "disabled": false,
            "info": "",
            "functionSeq": 0,
            "tabType": "client"
        },
        "flow": {
            "flowId": "sd_7URbVYjuQh1rrIFw",
            "flowName": "generateRandomNumber"
        },
        "inputVariables": [
            {
                "key": "email",
                "map": true,
                "valueType": "this.page",
                "value": "email"
            }
        ],
        "outputMapping": [
            {
                "mapVarType": "local",
                "key": "random",
                "valueType": "this.page",
                "value": "random",
                "mapVarName": "random",
                "localVar": "this.page.random"
            }
        ],
        "serviceImportPath": "app/sd-services/common",
        "startName": "generateRandomNumber",
        "inputParams": [
            "this.page.email"
        ],
        "accept_bh": false,
        "accept_csd": true,
        "functionName": "sd_CMEjWYscrjevbYPX",
        "category": "General",
        "x": 345,
        "y": 240,
        "wires": [
            [
                "sd_l8TMBTNL3K4xZtdP"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "forgot_passwordComponent",
        "generated": true
    },
    {
        "id": "sd_l8TMBTNL3K4xZtdP",
        "type": "Environment",
        "z": "sd_E8jO8WvzPInznq4t",
        "viewType": "client-pages",
        "nodeType": "flow",
        "name": "",
        "outputs": 1,
        "envMaps": [
            {
                "flowVar": {
                    "type": "this.page",
                    "value": "ssdUrl"
                },
                "envProperty": "ssdURL"
            }
        ],
        "functionName": "sd_l8TMBTNL3K4xZtdP",
        "category": "General",
        "x": 445,
        "y": 240,
        "wires": [
            [
                "sd_LSh7NpWWTjA7NlY6"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "forgot_passwordComponent",
        "generated": true
    },
    {
        "id": "sd_LSh7NpWWTjA7NlY6",
        "type": "Script",
        "z": "sd_E8jO8WvzPInznq4t",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "script": "bh.input.body = {\n    email: page.email,\n    otp: page.random,\n};\n\n// bh.user = {\n//     email: page.email,\n//     collection: 'users'\n// }\n\n\nbh.url = page.ssdUrl + 'forgot-password';\nbh.url2 = page.ssdUrl + `get-user/${page.email}`;\n\nconsole.log(\"bh\",bh)\nconsole.log(\"page\",page)\n\n",
        "functionName": "sd_LSh7NpWWTjA7NlY6",
        "category": "Function",
        "x": 540,
        "y": 240,
        "wires": [
            [
                "sd_8vELHlSQYJthK1VQ"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "forgot_passwordComponent",
        "generated": true
    },
    {
        "id": "sd_8vELHlSQYJthK1VQ",
        "type": "HttpRequest",
        "z": "sd_E8jO8WvzPInznq4t",
        "viewType": "client-pages",
        "nodeType": "flow",
        "name": "",
        "method": "put",
        "methodMappingObj": {},
        "urlMapping": "bh.url",
        "urlMappingObj": {
            "mapVarType": "bh",
            "mapVarValue": "url"
        },
        "ret": "json",
        "retMappingObj": {},
        "observe": "",
        "observeMappingObj": {},
        "reportProgress": false,
        "withCreds": false,
        "reqBody": "bh.input.body",
        "reqBodyObj": {
            "mapVarType": "bh.input",
            "mapVarValue": "body"
        },
        "resultMapping": "this.page.result",
        "resultMappingObj": {
            "mapVarType": "this.page",
            "mapVarValue": "result"
        },
        "headers": {},
        "headersObj": [],
        "headerMappingObj": {},
        "params": {},
        "paramsObj": [],
        "paramMappingObj": {},
        "functionName": "sd_8vELHlSQYJthK1VQ",
        "category": "HTTP",
        "x": 625,
        "y": 240,
        "wires": [
            [
                "sd_hhbUoIC1At7nJ5z4"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "forgot_passwordComponent",
        "generated": true
    },
    {
        "id": "sd_rT7Iv9cm3h7pEb8y",
        "type": "Navigation",
        "z": "sd_E8jO8WvzPInznq4t",
        "viewType": "client-pages",
        "nodeType": "flow",
        "name": "",
        "path": "/verify-code",
        "functionName": "sd_rT7Iv9cm3h7pEb8y",
        "category": "Navigation",
        "x": 1005,
        "y": 240,
        "wires": [
            []
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "forgot_passwordComponent",
        "generated": true
    },
    {
        "id": "sd_GTWLLiw6tkF425qr",
        "type": "Script",
        "z": "sd_E8jO8WvzPInznq4t",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "script": "page.forgotPasswordForm = new FormGroup({\n    email: new FormControl('', [Validators.required, Validators.email]),\n}) \n\n",
        "functionName": "sd_GTWLLiw6tkF425qr",
        "category": "Function",
        "x": 345,
        "y": 60,
        "wires": [
            []
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "forgot_passwordComponent",
        "generated": true
    },
    {
        "id": "sd_B14dUA0Q3zmzZpWI",
        "type": "UseDependency",
        "z": "sd_E8jO8WvzPInznq4t",
        "viewType": "client-pages",
        "nodeType": "flow",
        "name": "",
        "inputs": 1,
        "outputs": 1,
        "property": "",
        "propertyType": "bh",
        "propertyGv": "bh.",
        "alias": "",
        "modules": [
            {
                "textIp": "FormControl",
                "typedIpValue": {
                    "type": "this.page",
                    "value": ""
                },
                "injectable": false
            },
            {
                "textIp": "FormGroup",
                "typedIpValue": {
                    "type": "this.page",
                    "value": ""
                },
                "injectable": false
            },
            {
                "textIp": "Validators",
                "typedIpValue": {
                    "type": "this.page",
                    "value": ""
                },
                "injectable": false
            }
        ],
        "import_all": false,
        "library": "@angular/forms",
        "serviceDesignerType": "pages",
        "functionName": "sd_B14dUA0Q3zmzZpWI",
        "category": "Function",
        "x": 125,
        "y": 60,
        "wires": [
            [
                "sd_tccPHs4fcoYfU5Zd"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "forgot_passwordComponent",
        "generated": true
    },
    {
        "id": "sd_2Xj20Ht9f7GhnmKJ",
        "type": "Script",
        "z": "sd_E8jO8WvzPInznq4t",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "script": "if (bh.input.form){\n    page.email = bh.input.form.get('email').value\n    // console.log(\"valid\")\n} else{\n    // console.log(\"not valid\")\n}\n\n",
        "functionName": "sd_2Xj20Ht9f7GhnmKJ",
        "category": "Function",
        "x": 205,
        "y": 260,
        "wires": [
            [
                "sd_CMEjWYscrjevbYPX"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "forgot_passwordComponent",
        "generated": true
    },
    {
        "id": "sd_lcGzAslv2kifP3X5",
        "type": "Storage",
        "z": "sd_E8jO8WvzPInznq4t",
        "viewType": "client-pages",
        "nodeType": "flow",
        "name": "",
        "operationType": "setItem",
        "storageType": "sessionStorage",
        "outputs": 1,
        "key": {
            "type": "str",
            "value": "user"
        },
        "value": {
            "type": "this.page",
            "value": "userDetails"
        },
        "resultMapping": {},
        "functionName": "sd_lcGzAslv2kifP3X5",
        "category": "Storage",
        "x": 885,
        "y": 240,
        "wires": [
            [
                "sd_rT7Iv9cm3h7pEb8y"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "forgot_passwordComponent",
        "generated": true
    },
    {
        "id": "sd_hhbUoIC1At7nJ5z4",
        "type": "HttpRequest",
        "z": "sd_E8jO8WvzPInznq4t",
        "viewType": "client-pages",
        "nodeType": "flow",
        "name": "",
        "method": "get",
        "methodMappingObj": {},
        "urlMapping": "bh.url2",
        "urlMappingObj": {
            "mapVarType": "bh",
            "mapVarValue": "url2"
        },
        "ret": "json",
        "retMappingObj": {},
        "observe": "",
        "observeMappingObj": {},
        "reportProgress": false,
        "withCreds": false,
        "reqBodyObj": {
            "mapVarType": "bh",
            "mapVarValue": ""
        },
        "resultMapping": "this.page.userDetails",
        "resultMappingObj": {
            "mapVarType": "this.page",
            "mapVarValue": "userDetails"
        },
        "headers": {},
        "headersObj": [],
        "headerMappingObj": {},
        "params": {},
        "paramsObj": [],
        "paramMappingObj": {},
        "functionName": "sd_hhbUoIC1At7nJ5z4",
        "category": "HTTP",
        "x": 705,
        "y": 240,
        "wires": [
            [
                "sd_FGMGlJIXhjO3oSmm"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "forgot_passwordComponent",
        "generated": true
    },
    {
        "id": "sd_5wGR3JVfl5d5ycBd",
        "type": "Log",
        "z": "sd_E8jO8WvzPInznq4t",
        "viewType": "client-pages",
        "nodeType": "flow",
        "name": "",
        "outputs": 0,
        "logObject": "this.page.userDetails",
        "functionName": "sd_5wGR3JVfl5d5ycBd",
        "category": "General",
        "x": 805,
        "y": 140,
        "wires": [],
        "__ssdTypeInputs__": {
            "logObject": {
                "type": "this.page",
                "value": "userDetails",
                "constant": false
            }
        },
        "__n_excludedFromValidation__": {},
        "generateNext": true,
        "serviceName": "forgot_passwordComponent"
    },
    {
        "id": "sd_FGMGlJIXhjO3oSmm",
        "type": "Script",
        "z": "sd_E8jO8WvzPInznq4t",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "script": "console.log(\"page.userDetails\", page.userDetails)\nconsole.log(\"page.result\", page.result)\n",
        "functionName": "sd_FGMGlJIXhjO3oSmm",
        "category": "Function",
        "x": 800,
        "y": 240,
        "wires": [
            [
                "sd_lcGzAslv2kifP3X5"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "forgot_passwordComponent",
        "generated": true
    }
]
