designs/pages/forgot_password.json
[
    {
        "id": "sd_E8jO8WvzPInznq4t",
        "type": "tab",
        "createdDate": "2024-05-21T13:49:13.305Z",
        "label": "forgot_password",
        "disabled": false,
        "info": "",
        "functionSeq": 0,
        "generateNext": true,
        "serviceName": "forgot_passwordComponent"
    },
    {
        "id": "sd_4pxV0wPLRVKGHsKt",
        "type": "OnInit",
        "z": "sd_E8jO8WvzPInznq4t",
        "viewType": "common",
        "nodeType": "start",
        "name": "",
        "functionName": "sd_4pxV0wPLRVKGHsKt",
        "category": "Lifecycle Events",
        "x": 45,
        "y": 60,
        "wires": [
            [
                "sd_B14dUA0Q3zmzZpWI"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": true,
        "serviceName": "forgot_passwordComponent"
    },
    {
        "id": "sd_tccPHs4fcoYfU5Zd",
        "type": "PageVariables",
        "z": "sd_E8jO8WvzPInznq4t",
        "viewType": "pages",
        "nodeType": "flow",
        "name": "",
        "inputs": 1,
        "outputs": 1,
        "operation": "set",
        "globalVariables": [
            {
                "textIp": "userDetails",
                "typedIpValue": {
                    "type": "literal",
                    "value": "{ email: ''}"
                }
            },
            {
                "textIp": "emailPattern",
                "typedIpValue": {
                    "type": "literal",
                    "value": "/^[^\\s@]+@([^\\s@.,]+\\.)+[^\\s@.,]{2,}$/"
                }
            },
            {
                "textIp": "submitted",
                "typedIpValue": {
                    "type": "literal",
                    "value": "false"
                }
            },
            {
                "textIp": "forgotPasswordForm",
                "typedIpValue": {
                    "type": "this.page",
                    "value": ""
                }
            },
            {
                "textIp": "email",
                "typedIpValue": {
                    "type": "this.page",
                    "value": ""
                }
            },
            {
                "textIp": "showSpinner",
                "typedIpValue": {
                    "type": "literal",
                    "value": "false"
                }
            },
            {
                "textIp": "ssdUrl",
                "typedIpValue": {
                    "type": "this.page",
                    "value": ""
                }
            }
        ],
        "functionName": "sd_tccPHs4fcoYfU5Zd",
        "category": "Function",
        "x": 225,
        "y": 60,
        "wires": [
            [
                "sd_l8TMBTNL3K4xZtdP"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "forgot_passwordComponent",
        "generated": true
    },
    {
        "id": "sd_WG47W2INBwfKPERH",
        "type": "PageStart",
        "z": "sd_E8jO8WvzPInznq4t",
        "viewType": "pages",
        "nodeType": "start",
        "name": "Go Back",
        "outputs": 1,
        "inputVariables": [],
        "localVariables": [],
        "flow_type": "sync",
        "functionName": "goBack",
        "category": "General",
        "x": 45,
        "y": 160,
        "wires": [
            [
                "sd_wlYZC1PPM455h8mN"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": true,
        "serviceName": "forgot_passwordComponent"
    },
    {
        "id": "sd_wlYZC1PPM455h8mN",
        "type": "PageCallService",
        "z": "sd_E8jO8WvzPInznq4t",
        "viewType": "pages",
        "nodeType": "flow",
        "name": "",
        "outputs": 1,
        "isValidNode": true,
        "noerr": 0,
        "service": {
            "id": "sd_O7BgeFkazhosv8N2",
            "type": "tab",
            "createdDate": "2024-05-14T08:16:55.985Z",
            "label": "common",
            "disabled": false,
            "info": "",
            "functionSeq": 0,
            "tabType": "client"
        },
        "flow": {
            "flowId": "sd_jJRXnjTcMQmcijs6",
            "flowName": "goBack"
        },
        "inputVariables": [],
        "outputMapping": [],
        "serviceImportPath": "app/sd-services/common",
        "startName": "goBack",
        "inputParams": [],
        "accept_bh": false,
        "accept_csd": true,
        "functionName": "sd_wlYZC1PPM455h8mN",
        "category": "General",
        "x": 165,
        "y": 160,
        "wires": [
            []
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "forgot_passwordComponent",
        "generated": true
    },
    {
        "id": "sd_sKJ4EVPTNuClAKte",
        "type": "PageStart",
        "z": "sd_E8jO8WvzPInznq4t",
        "viewType": "pages",
        "nodeType": "start",
        "name": "submit",
        "outputs": 1,
        "inputVariables": [
            {
                "key": "form",
                "defaultValue": {
                    "type": "any",
                    "value": ""
                },
                "output": false
            }
        ],
        "localVariables": [],
        "flow_type": "sync",
        "functionName": "submit",
        "category": "General",
        "x": 45,
        "y": 260,
        "wires": [
            [
                "sd_diYAlOTFdaWvudpc"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": true,
        "serviceName": "forgot_passwordComponent"
    },
    {
        "id": "sd_CMEjWYscrjevbYPX",
        "type": "PageCallService",
        "z": "sd_E8jO8WvzPInznq4t",
        "viewType": "pages",
        "nodeType": "flow",
        "name": "",
        "outputs": 1,
        "isValidNode": true,
        "noerr": 0,
        "service": {
            "id": "sd_O7BgeFkazhosv8N2",
            "type": "tab",
            "createdDate": "2024-05-14T08:16:55.985Z",
            "label": "common",
            "disabled": false,
            "info": "",
            "functionSeq": 0,
            "tabType": "client"
        },
        "flow": {
            "flowId": "sd_7URbVYjuQh1rrIFw",
            "flowName": "generateRandomNumber"
        },
        "inputVariables": [
            {
                "key": "email",
                "map": true,
                "valueType": "this.page",
                "value": "email"
            }
        ],
        "outputMapping": [
            {
                "mapVarType": "local",
                "key": "random",
                "valueType": "this.page",
                "value": "random",
                "mapVarName": "random",
                "localVar": "this.page.random"
            }
        ],
        "serviceImportPath": "app/sd-services/common",
        "startName": "generateRandomNumber",
        "inputParams": [
            "this.page.email"
        ],
        "accept_bh": false,
        "accept_csd": true,
        "functionName": "sd_CMEjWYscrjevbYPX",
        "category": "General",
        "x": 265,
        "y": 240,
        "wires": [
            [
                "sd_LSh7NpWWTjA7NlY6"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "forgot_passwordComponent",
        "generated": true
    },
    {
        "id": "sd_l8TMBTNL3K4xZtdP",
        "type": "Environment",
        "z": "sd_E8jO8WvzPInznq4t",
        "viewType": "client-pages",
        "nodeType": "flow",
        "name": "",
        "outputs": 1,
        "envMaps": [
            {
                "flowVar": {
                    "type": "this.page",
                    "value": "ssdUrl"
                },
                "envProperty": "ssdURL"
            }
        ],
        "functionName": "sd_l8TMBTNL3K4xZtdP",
        "category": "General",
        "x": 325,
        "y": 60,
        "wires": [
            [
                "sd_GTWLLiw6tkF425qr"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "forgot_passwordComponent",
        "generated": true
    },
    {
        "id": "sd_LSh7NpWWTjA7NlY6",
        "type": "Script",
        "z": "sd_E8jO8WvzPInznq4t",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "script": "page.showSpinner = true;\nbh.input.body = {\n    email: page.forgotPasswordForm.value.email,\n    otp: page.random,\n};\n\nbh.url = page.ssdUrl + 'forgot-password';\nbh.url2 = page.ssdUrl + `get-user/${page.forgotPasswordForm.value.email}`;",
        "functionName": "sd_LSh7NpWWTjA7NlY6",
        "category": "Function",
        "x": 385,
        "y": 240,
        "wires": [
            [
                "sd_8vELHlSQYJthK1VQ"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "forgot_passwordComponent",
        "generated": true
    },
    {
        "id": "sd_8vELHlSQYJthK1VQ",
        "type": "HttpRequest",
        "z": "sd_E8jO8WvzPInznq4t",
        "viewType": "client-pages",
        "nodeType": "flow",
        "name": "",
        "method": "put",
        "methodMapping": "",
        "methodMappingObj": {},
        "urlMapping": "bh.url",
        "urlMappingObj": {
            "mapVarType": "bh",
            "mapVarValue": "url"
        },
        "ret": "json",
        "retMapping": "",
        "retMappingObj": {},
        "observe": "",
        "observeMapping": "",
        "observeMappingObj": {},
        "reportProgress": false,
        "withCreds": false,
        "reqBody": "bh.input.body",
        "reqBodyObj": {
            "mapVarType": "bh.input",
            "mapVarValue": "body"
        },
        "resultMapping": "this.page.result",
        "resultMappingObj": {
            "mapVarType": "this.page",
            "mapVarValue": "result"
        },
        "headers": {},
        "headersObj": [],
        "headerMapping": "",
        "headerMappingObj": {},
        "params": {},
        "paramsObj": [],
        "paramMapping": "",
        "paramMappingObj": {},
        "functionName": "sd_8vELHlSQYJthK1VQ",
        "category": "HTTP",
        "x": 470,
        "y": 240,
        "wires": [
            [
                "sd_hhbUoIC1At7nJ5z4"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "forgot_passwordComponent",
        "generated": true
    },
    {
        "id": "sd_rT7Iv9cm3h7pEb8y",
        "type": "Navigation",
        "z": "sd_E8jO8WvzPInznq4t",
        "viewType": "client-pages",
        "nodeType": "flow",
        "name": "",
        "path": "/verify-code",
        "pathMap": "",
        "pathparams": "",
        "pathparamsMap": "",
        "qparams": "",
        "qparamsMap": "",
        "qparamsArray": "",
        "resultMapping": "",
        "functionName": "sd_rT7Iv9cm3h7pEb8y",
        "category": "Navigation",
        "x": 905,
        "y": 240,
        "wires": [
            []
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "forgot_passwordComponent",
        "generated": true
    },
    {
        "id": "sd_GTWLLiw6tkF425qr",
        "type": "Script",
        "z": "sd_E8jO8WvzPInznq4t",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "script": "page.forgotPasswordForm = new FormGroup({\n    email: new FormControl('', [Validators.required, Validators.pattern(/^[^\\s@]+@([^\\s@.,]+\\.)+[^\\s@.,]{2,}$/)]),\n}) \n\n",
        "functionName": "sd_GTWLLiw6tkF425qr",
        "category": "Function",
        "x": 425,
        "y": 60,
        "wires": [
            []
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "forgot_passwordComponent",
        "generated": true
    },
    {
        "id": "sd_B14dUA0Q3zmzZpWI",
        "type": "UseDependency",
        "z": "sd_E8jO8WvzPInznq4t",
        "viewType": "client-pages",
        "nodeType": "flow",
        "name": "",
        "inputs": 1,
        "outputs": 1,
        "property": "",
        "propertyType": "bh",
        "propertyGv": "bh.",
        "alias": "",
        "modules": [
            {
                "textIp": "FormControl",
                "typedIpValue": {
                    "type": "this.page",
                    "value": ""
                },
                "injectable": false
            },
            {
                "textIp": "FormGroup",
                "typedIpValue": {
                    "type": "this.page",
                    "value": ""
                },
                "injectable": false
            },
            {
                "textIp": "Validators",
                "typedIpValue": {
                    "type": "this.page",
                    "value": ""
                },
                "injectable": false
            }
        ],
        "import_all": false,
        "library": "@angular/forms",
        "serviceDesignerType": "pages",
        "functionName": "sd_B14dUA0Q3zmzZpWI",
        "category": "Function",
        "x": 125,
        "y": 60,
        "wires": [
            [
                "sd_tccPHs4fcoYfU5Zd"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "forgot_passwordComponent",
        "generated": true
    },
    {
        "id": "sd_lcGzAslv2kifP3X5",
        "type": "Storage",
        "z": "sd_E8jO8WvzPInznq4t",
        "viewType": "client-pages",
        "nodeType": "flow",
        "name": "",
        "operationType": "setItem",
        "storageType": "sessionStorage",
        "outputs": 1,
        "key": {
            "type": "str",
            "value": "user"
        },
        "value": {
            "type": "this.page",
            "value": "userDetails"
        },
        "resultMapping": {},
        "functionName": "sd_lcGzAslv2kifP3X5",
        "category": "Storage",
        "x": 805,
        "y": 240,
        "wires": [
            [
                "sd_rT7Iv9cm3h7pEb8y"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "forgot_passwordComponent",
        "generated": true
    },
    {
        "id": "sd_hhbUoIC1At7nJ5z4",
        "type": "HttpRequest",
        "z": "sd_E8jO8WvzPInznq4t",
        "viewType": "client-pages",
        "nodeType": "flow",
        "name": "",
        "method": "get",
        "methodMapping": "",
        "methodMappingObj": {},
        "urlMapping": "bh.url2",
        "urlMappingObj": {
            "mapVarType": "bh",
            "mapVarValue": "url2"
        },
        "ret": "json",
        "retMapping": "",
        "retMappingObj": {},
        "observe": "",
        "observeMapping": "",
        "observeMappingObj": {},
        "reportProgress": false,
        "withCreds": false,
        "reqBody": "",
        "reqBodyObj": {
            "mapVarType": "bh",
            "mapVarValue": ""
        },
        "resultMapping": "this.page.userDetails",
        "resultMappingObj": {
            "mapVarType": "this.page",
            "mapVarValue": "userDetails"
        },
        "headers": {},
        "headersObj": [],
        "headerMapping": "",
        "headerMappingObj": {},
        "params": {},
        "paramsObj": [],
        "paramMapping": "",
        "paramMappingObj": {},
        "functionName": "sd_hhbUoIC1At7nJ5z4",
        "category": "HTTP",
        "x": 550,
        "y": 240,
        "wires": [
            [
                "sd_FGMGlJIXhjO3oSmm"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "forgot_passwordComponent",
        "generated": true
    },
    {
        "id": "sd_FGMGlJIXhjO3oSmm",
        "type": "Script",
        "z": "sd_E8jO8WvzPInznq4t",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "script": "page.showSpinner = false;",
        "functionName": "sd_FGMGlJIXhjO3oSmm",
        "category": "Function",
        "x": 645,
        "y": 240,
        "wires": [
            [
                "sd_qJOK5469mShC9yhL"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "forgot_passwordComponent",
        "generated": true
    },
    {
        "id": "sd_diYAlOTFdaWvudpc",
        "type": "PageSwitch",
        "z": "sd_E8jO8WvzPInznq4t",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "property": "forgotPasswordForm.invalid",
        "propertyType": "this.page",
        "propertyGv": "this.page.forgotPasswordForm.invalid",
        "rules": [
            {
                "t": "else"
            },
            {
                "t": "true"
            }
        ],
        "checkall": "false",
        "repair": false,
        "outputs": 2,
        "functionName": "sd_diYAlOTFdaWvudpc",
        "category": "Function",
        "x": 145,
        "y": 260,
        "wires": [
            [
                "sd_CMEjWYscrjevbYPX"
            ],
            [
                "sd_ZTKwAq1KSVkvMrI5"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "forgot_passwordComponent",
        "generated": true
    },
    {
        "id": "sd_ZTKwAq1KSVkvMrI5",
        "type": "SnackBar",
        "z": "sd_E8jO8WvzPInznq4t",
        "viewType": "client-pages",
        "nodeType": "flow",
        "name": "",
        "message": {
            "type": "str",
            "value": "Email address is required"
        },
        "action": {
            "type": "str",
            "value": "Ok"
        },
        "duration": {
            "type": "num",
            "value": "3000"
        },
        "horizontalPosition": "center",
        "horizontalPositionMap": "",
        "verticalPosition": "bottom",
        "verticalPositionMap": "",
        "panelClass": {
            "type": "str",
            "value": ""
        },
        "direction": "ltr",
        "functionName": "sd_ZTKwAq1KSVkvMrI5",
        "category": "General",
        "x": 240,
        "y": 340,
        "wires": [
            []
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "forgot_passwordComponent",
        "generated": true
    },
    {
        "id": "sd_qJOK5469mShC9yhL",
        "type": "PageSwitch",
        "z": "sd_E8jO8WvzPInznq4t",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "property": "result.message",
        "propertyType": "this.page",
        "propertyGv": "this.page.result.message",
        "rules": [
            {
                "t": "else"
            },
            {
                "t": "nempty"
            }
        ],
        "checkall": "false",
        "repair": false,
        "outputs": 2,
        "functionName": "sd_qJOK5469mShC9yhL",
        "category": "Function",
        "x": 720,
        "y": 240,
        "wires": [
            [
                "sd_lcGzAslv2kifP3X5"
            ],
            [
                "sd_AN8zccbRrFPQ7QJA"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "forgot_passwordComponent",
        "generated": true
    },
    {
        "id": "sd_AN8zccbRrFPQ7QJA",
        "type": "SnackBar",
        "z": "sd_E8jO8WvzPInznq4t",
        "viewType": "client-pages",
        "nodeType": "flow",
        "name": "",
        "message": {
            "type": "str",
            "value": "Account does not exist"
        },
        "action": {
            "type": "str",
            "value": "OK"
        },
        "duration": {
            "type": "num",
            "value": "3000"
        },
        "horizontalPosition": "center",
        "horizontalPositionMap": "",
        "verticalPosition": "bottom",
        "verticalPositionMap": "",
        "panelClass": {
            "type": "str",
            "value": ""
        },
        "direction": "ltr",
        "functionName": "sd_AN8zccbRrFPQ7QJA",
        "category": "General",
        "x": 840,
        "y": 340,
        "wires": [
            []
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "forgot_passwordComponent",
        "generated": true
    }
]
