designs/pages/limits.json
[
    {
        "id": "sd_dfQ2vHZYHyt5Ymfr",
        "type": "tab",
        "createdDate": "2024-05-16T08:59:17.190Z",
        "label": "limits",
        "disabled": false,
        "info": "",
        "functionSeq": 0,
        "generateNext": true,
        "serviceName": "limitsComponent"
    },
    {
        "id": "sd_bk9iYnDDXkqipMt5",
        "type": "OnInit",
        "z": "sd_dfQ2vHZYHyt5Ymfr",
        "viewType": "common",
        "nodeType": "start",
        "name": "",
        "functionName": "sd_bk9iYnDDXkqipMt5",
        "category": "Lifecycle Events",
        "x": 45,
        "y": 60,
        "wires": [
            [
                "sd_L71dMFp8ELSXvdR6"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": true,
        "serviceName": "limitsComponent"
    },
    {
        "id": "sd_hxe3t0gMk44EwbqG",
        "type": "PageStart",
        "z": "sd_dfQ2vHZYHyt5Ymfr",
        "viewType": "pages",
        "nodeType": "start",
        "name": "changeLimits",
        "outputs": 1,
        "inputVariables": [
            {
                "key": "form",
                "defaultValue": {
                    "type": "any",
                    "value": ""
                },
                "output": false
            }
        ],
        "localVariables": [],
        "flow_type": "sync",
        "functionName": "changeLimits",
        "category": "General",
        "x": 45,
        "y": 200,
        "wires": [
            [
                "sd_9PK2X8VQgEcrYuzL"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": true,
        "serviceName": "limitsComponent"
    },
    {
        "id": "sd_cwmv1n3H7vtrUgp9",
        "type": "Storage",
        "z": "sd_dfQ2vHZYHyt5Ymfr",
        "viewType": "client-pages",
        "nodeType": "flow",
        "name": "",
        "operationType": "getItem",
        "storageType": "sessionStorage",
        "outputs": 1,
        "key": {
            "type": "str",
            "value": "user"
        },
        "value": {},
        "resultMapping": {
            "type": "this.page",
            "value": "currentUser"
        },
        "functionName": "sd_cwmv1n3H7vtrUgp9",
        "category": "Storage",
        "x": 445,
        "y": 60,
        "wires": [
            [
                "sd_igYQZYB0wwxjPJIx"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "limitsComponent",
        "generated": true
    },
    {
        "id": "sd_igYQZYB0wwxjPJIx",
        "type": "Script",
        "z": "sd_dfQ2vHZYHyt5Ymfr",
        "viewType": "common",
        "nodeType": "flow",
        "name": "Get users limits",
        "script": "bh.url = page.ssdUrl + `get-limit/${page.currentUser.email}`;\npage.showSpinner = true;\n// Init form\npage.changeLimitsForm = new FormGroup ({\n    transfers: new FormControl('', Validators.required),\n    payments: new FormControl('', [Validators.required]),\n    payAndClear: new FormControl('', [Validators.required]),\n    prepaid: new FormControl('', [Validators.required]),\n    sendMoney: new FormControl('', [Validators.required]),\n    vouchers: new FormControl('', [Validators.required]),\n    cardlessCashWithdrawal: new FormControl('', [Validators.required])\n})",
        "functionName": "getUsersLimits",
        "category": "Function",
        "x": 545,
        "y": 60,
        "wires": [
            [
                "sd_8BLGEcNOEIvq4nwb"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "limitsComponent",
        "generated": true
    },
    {
        "id": "sd_gJ5z914BxWPfHOJf",
        "type": "Script",
        "z": "sd_dfQ2vHZYHyt5Ymfr",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "script": "\n\npage.changeLimitsForm = new FormGroup ({\n    transfers: new FormControl(page.data.transfers, Validators.required),\n    payments: new FormControl(page.data.payments, [Validators.required]),\n    payAndClear: new FormControl(page.data.payAndClear, [Validators.required]),\n    prepaid: new FormControl(page.data.prepaid, [Validators.required]),\n    sendMoney: new FormControl(page.data.sendMoney, [Validators.required]),\n    vouchers: new FormControl(page.data.vouchers, [Validators.required]),\n    cardlessCashWithdrawal: new FormControl(page.data.cardlessCashWithdrawal, [Validators.required]),\n})\n\n\n",
        "functionName": "sd_gJ5z914BxWPfHOJf",
        "category": "Function",
        "x": 865,
        "y": 60,
        "wires": [
            [
                "sd_MLZqsWOuCTHErd5S"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": true,
        "serviceName": "limitsComponent"
    },
    {
        "id": "sd_8BLGEcNOEIvq4nwb",
        "type": "HttpRequest",
        "z": "sd_dfQ2vHZYHyt5Ymfr",
        "viewType": "client-pages",
        "nodeType": "flow",
        "name": "",
        "method": "get",
        "methodMapping": "",
        "methodMappingObj": {},
        "urlMapping": "bh.url",
        "urlMappingObj": {
            "mapVarType": "bh",
            "mapVarValue": "url"
        },
        "ret": "json",
        "retMapping": "",
        "retMappingObj": {},
        "observe": "",
        "observeMapping": "",
        "observeMappingObj": {},
        "reportProgress": false,
        "withCreds": false,
        "reqBody": "bh.body",
        "reqBodyObj": {
            "mapVarType": "bh",
            "mapVarValue": "body"
        },
        "resultMapping": "this.page.result",
        "resultMappingObj": {
            "mapVarType": "this.page",
            "mapVarValue": "result"
        },
        "headers": {},
        "headersObj": [],
        "headerMapping": "",
        "headerMappingObj": {},
        "params": {},
        "paramsObj": [],
        "paramMapping": "",
        "paramMappingObj": {},
        "functionName": "sd_8BLGEcNOEIvq4nwb",
        "category": "HTTP",
        "x": 665,
        "y": 60,
        "wires": [
            [
                "sd_ZUexHrSTJi7SwpSG"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "limitsComponent",
        "generated": true
    },
    {
        "id": "sd_MLZqsWOuCTHErd5S",
        "type": "PageVariables",
        "z": "sd_dfQ2vHZYHyt5Ymfr",
        "viewType": "pages",
        "nodeType": "flow",
        "name": "",
        "inputs": 1,
        "outputs": 1,
        "operation": "set",
        "globalVariables": [
            {
                "textIp": "transfers",
                "typedIpValue": {
                    "type": "this.page",
                    "value": "data.transfers"
                }
            },
            {
                "textIp": "payAndClear",
                "typedIpValue": {
                    "type": "this.page",
                    "value": "data.payAndClear"
                }
            },
            {
                "textIp": "payments",
                "typedIpValue": {
                    "type": "this.page",
                    "value": "data.payments"
                }
            },
            {
                "textIp": "prepaid",
                "typedIpValue": {
                    "type": "this.page",
                    "value": "data.prepaid"
                }
            },
            {
                "textIp": "sendMoney",
                "typedIpValue": {
                    "type": "this.page",
                    "value": "data.sendMoney"
                }
            },
            {
                "textIp": "vouchers",
                "typedIpValue": {
                    "type": "this.page",
                    "value": "data.vouchers"
                }
            },
            {
                "textIp": "cardlessCashWithdrawal",
                "typedIpValue": {
                    "type": "this.page",
                    "value": "data.cardlessCashWithdrawal"
                }
            }
        ],
        "functionName": "sd_MLZqsWOuCTHErd5S",
        "category": "Function",
        "x": 985,
        "y": 60,
        "wires": [
            []
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": true,
        "serviceName": "limitsComponent"
    },
    {
        "id": "sd_L71dMFp8ELSXvdR6",
        "type": "UseDependency",
        "z": "sd_dfQ2vHZYHyt5Ymfr",
        "viewType": "client-pages",
        "nodeType": "flow",
        "name": "",
        "inputs": 1,
        "outputs": 1,
        "property": "",
        "propertyType": "bh",
        "propertyGv": "bh.",
        "alias": "",
        "modules": [
            {
                "textIp": "FormControl",
                "typedIpValue": {
                    "type": "this.page",
                    "value": ""
                },
                "injectable": false
            },
            {
                "textIp": "FormGroup",
                "typedIpValue": {
                    "type": "this.page",
                    "value": ""
                },
                "injectable": false
            },
            {
                "textIp": "Validators",
                "typedIpValue": {
                    "type": "this.page",
                    "value": ""
                },
                "injectable": false
            }
        ],
        "import_all": false,
        "library": "@angular/forms",
        "serviceDesignerType": "pages",
        "functionName": "sd_L71dMFp8ELSXvdR6",
        "category": "Function",
        "x": 145,
        "y": 60,
        "wires": [
            [
                "sd_QmkAYlNdJ9mGSFYz"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "limitsComponent",
        "generated": true
    },
    {
        "id": "sd_QmkAYlNdJ9mGSFYz",
        "type": "PageVariables",
        "z": "sd_dfQ2vHZYHyt5Ymfr",
        "viewType": "pages",
        "nodeType": "flow",
        "name": "",
        "inputs": 1,
        "outputs": 1,
        "operation": "set",
        "globalVariables": [
            {
                "textIp": "changeLimitsForm",
                "typedIpValue": {
                    "type": "this.page",
                    "value": ""
                }
            },
            {
                "textIp": "ssdUrl",
                "typedIpValue": {
                    "type": "this.page",
                    "value": ""
                }
            },
            {
                "textIp": "showSpinner",
                "typedIpValue": {
                    "type": "literal",
                    "value": "false"
                }
            },
            {
                "textIp": "currentUser",
                "typedIpValue": {
                    "type": "this.page",
                    "value": ""
                }
            }
        ],
        "functionName": "sd_QmkAYlNdJ9mGSFYz",
        "category": "Function",
        "x": 245,
        "y": 60,
        "wires": [
            [
                "sd_ZPC7PjaNuuTiIJNA"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "limitsComponent",
        "generated": true
    },
    {
        "id": "sd_ZPC7PjaNuuTiIJNA",
        "type": "Environment",
        "z": "sd_dfQ2vHZYHyt5Ymfr",
        "viewType": "client-pages",
        "nodeType": "flow",
        "name": "",
        "outputs": 1,
        "envMaps": [
            {
                "flowVar": {
                    "type": "this.page",
                    "value": "ssdUrl"
                },
                "envProperty": "ssdURL"
            }
        ],
        "functionName": "sd_ZPC7PjaNuuTiIJNA",
        "category": "General",
        "x": 345,
        "y": 60,
        "wires": [
            [
                "sd_cwmv1n3H7vtrUgp9"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "limitsComponent",
        "generated": true
    },
    {
        "id": "sd_1P36hwFlABCvZYmR",
        "type": "Script",
        "z": "sd_dfQ2vHZYHyt5Ymfr",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "script": "page.showSpinner = true;\nbh.url = `${page.ssdUrl}update-limits`;\n\nbh.input.form = {\n    email: page.currentUser.email,\n    cardlessCashWithdrawal: bh.input.form.value.cardlessCashWithdrawal,\n    payAndClear:  bh.input.form.value.payAndClear,\n    payments: bh.input.form.value.payments,\n    prepaid: bh.input.form.value.prepaid, \n    sendMoney: bh.input.form.value.sendMoney, \n    transfers: bh.input.form.value.transfers,\n    vouchers: bh.input.form.value.vouchers   \n};",
        "functionName": "sd_1P36hwFlABCvZYmR",
        "category": "Function",
        "x": 285,
        "y": 200,
        "wires": [
            [
                "sd_5iTDLklc90d8NiC2"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "limitsComponent",
        "generated": true
    },
    {
        "id": "sd_5iTDLklc90d8NiC2",
        "type": "HttpRequest",
        "z": "sd_dfQ2vHZYHyt5Ymfr",
        "viewType": "client-pages",
        "nodeType": "flow",
        "name": "",
        "method": "put",
        "methodMapping": "",
        "methodMappingObj": {},
        "urlMapping": "bh.url",
        "urlMappingObj": {
            "mapVarType": "bh",
            "mapVarValue": "url"
        },
        "ret": "json",
        "retMapping": "",
        "retMappingObj": {},
        "observe": "",
        "observeMapping": "",
        "observeMappingObj": {},
        "reportProgress": false,
        "withCreds": false,
        "reqBody": "bh.input.form",
        "reqBodyObj": {
            "mapVarType": "bh.input",
            "mapVarValue": "form"
        },
        "resultMapping": "this.page.data",
        "resultMappingObj": {
            "mapVarType": "this.page",
            "mapVarValue": "data"
        },
        "headers": {},
        "headersObj": [],
        "headerMapping": "",
        "headerMappingObj": {},
        "params": {},
        "paramsObj": [],
        "paramMapping": "",
        "paramMappingObj": {},
        "functionName": "sd_5iTDLklc90d8NiC2",
        "category": "HTTP",
        "x": 385,
        "y": 200,
        "wires": [
            [
                "sd_Gs1408wMiAnwWO4l"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "limitsComponent",
        "generated": true
    },
    {
        "id": "sd_ZUexHrSTJi7SwpSG",
        "type": "Script",
        "z": "sd_dfQ2vHZYHyt5Ymfr",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "script": "page.showSpinner = false;\npage.changeLimitsForm = new FormGroup ({\n    transfers: new FormControl(page.result.transfers, Validators.required),\n    payments: new FormControl(page.result.payments, [Validators.required]),\n    payAndClear: new FormControl(page.result.payAndClear, [Validators.required]),\n    prepaid: new FormControl(page.result.prepaid, [Validators.required]),\n    sendMoney: new FormControl(page.result.sendMoney, [Validators.required]),\n    vouchers: new FormControl(page.result.vouchers, [Validators.required]),\n    cardlessCashWithdrawal: new FormControl(page.result.cardlessCashWithdrawal, [Validators.required])\n})",
        "functionName": "sd_ZUexHrSTJi7SwpSG",
        "category": "Function",
        "x": 765,
        "y": 60,
        "wires": [
            []
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "limitsComponent",
        "generated": true
    },
    {
        "id": "sd_UxLBy8bqL5HenyXM",
        "type": "SnackBar",
        "z": "sd_dfQ2vHZYHyt5Ymfr",
        "viewType": "client-pages",
        "nodeType": "flow",
        "name": "",
        "message": {
            "type": "str",
            "value": "Limits updated successfully!"
        },
        "action": {
            "type": "str",
            "value": "OK"
        },
        "duration": {
            "type": "num",
            "value": "3000"
        },
        "horizontalPosition": "center",
        "horizontalPositionMap": "",
        "verticalPosition": "bottom",
        "verticalPositionMap": "",
        "panelClass": {
            "type": "str",
            "value": ""
        },
        "direction": "ltr",
        "functionName": "sd_UxLBy8bqL5HenyXM",
        "category": "General",
        "x": 585,
        "y": 200,
        "wires": [
            [
                "sd_80Om8Q1LuwD37QXu"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "limitsComponent",
        "generated": true
    },
    {
        "id": "sd_9PK2X8VQgEcrYuzL",
        "type": "PageSwitch",
        "z": "sd_dfQ2vHZYHyt5Ymfr",
        "viewType": "common",
        "nodeType": "flow",
        "name": "Checking Invalid Fields",
        "property": "changeLimitsForm.invalid",
        "propertyType": "this.page",
        "propertyGv": "this.page.changeLimitsForm.invalid",
        "rules": [
            {
                "t": "else"
            },
            {
                "t": "true"
            }
        ],
        "checkall": "false",
        "repair": false,
        "outputs": 2,
        "functionName": "checkingInvalidFields",
        "category": "Function",
        "x": 165,
        "y": 200,
        "wires": [
            [
                "sd_1P36hwFlABCvZYmR"
            ],
            [
                "sd_0UNTamidNxDbi7ES"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "limitsComponent",
        "generated": true
    },
    {
        "id": "sd_0UNTamidNxDbi7ES",
        "type": "SnackBar",
        "z": "sd_dfQ2vHZYHyt5Ymfr",
        "viewType": "client-pages",
        "nodeType": "flow",
        "name": "",
        "message": {
            "type": "str",
            "value": "All fields are required"
        },
        "action": {
            "type": "str",
            "value": "Ok"
        },
        "duration": {
            "type": "num",
            "value": "3000"
        },
        "horizontalPosition": "center",
        "horizontalPositionMap": "",
        "verticalPosition": "bottom",
        "verticalPositionMap": "",
        "panelClass": {
            "type": "str",
            "value": ""
        },
        "direction": "ltr",
        "functionName": "sd_0UNTamidNxDbi7ES",
        "category": "General",
        "x": 285,
        "y": 320,
        "wires": [
            []
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "limitsComponent",
        "generated": true
    },
    {
        "id": "sd_Gs1408wMiAnwWO4l",
        "type": "Script",
        "z": "sd_dfQ2vHZYHyt5Ymfr",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "script": "page.showSpinner = false;",
        "functionName": "sd_Gs1408wMiAnwWO4l",
        "category": "Function",
        "x": 485,
        "y": 200,
        "wires": [
            [
                "sd_UxLBy8bqL5HenyXM"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "limitsComponent",
        "generated": true
    },
    {
        "id": "sd_80Om8Q1LuwD37QXu",
        "type": "PageCallService",
        "z": "sd_dfQ2vHZYHyt5Ymfr",
        "viewType": "pages",
        "nodeType": "flow",
        "name": "",
        "outputs": 1,
        "isValidNode": true,
        "noerr": 0,
        "service": {
            "id": "sd_O7BgeFkazhosv8N2",
            "type": "tab",
            "createdDate": "2024-05-14T08:16:55.985Z",
            "label": "common",
            "disabled": false,
            "info": "",
            "functionSeq": 0,
            "tabType": "client"
        },
        "flow": {
            "flowId": "sd_jJRXnjTcMQmcijs6",
            "flowName": "goBack"
        },
        "inputVariables": [],
        "outputMapping": [],
        "serviceImportPath": "app/sd-services/common",
        "startName": "goBack",
        "inputParams": [],
        "accept_bh": false,
        "accept_csd": true,
        "functionName": "sd_80Om8Q1LuwD37QXu",
        "category": "General",
        "x": 685,
        "y": 200,
        "wires": [
            []
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "limitsComponent",
        "generated": true
    },
    {
        "id": "sd_ChP4sjsoHWI2LRXk",
        "type": "PageStart",
        "z": "sd_dfQ2vHZYHyt5Ymfr",
        "viewType": "pages",
        "nodeType": "start",
        "name": "allowNumbers",
        "outputs": 1,
        "inputVariables": [
            {
                "key": "event",
                "defaultValue": {
                    "type": "any",
                    "value": ""
                },
                "output": false
            }
        ],
        "localVariables": [],
        "flow_type": "sync",
        "functionName": "allowNumbers",
        "category": "General",
        "x": 65,
        "y": 440,
        "wires": [
            [
                "sd_mq93GNl3A4mX4nGV"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": true,
        "serviceName": "limitsComponent"
    },
    {
        "id": "sd_mq93GNl3A4mX4nGV",
        "type": "Script",
        "z": "sd_dfQ2vHZYHyt5Ymfr",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "script": "bh.allowedKeys = ['Backspace', 'ArrowLeft', 'ArrowRight', 'Delete', 'Control']; // Add any other allowed keys here\n    if (bh.allowedKeys.includes(bh.input.event.key) || (bh.input.event.ctrlKey && (bh.input.event.key === 'v' || bh.input.event.key === 'c'))) {\n      return; // Allow these keys\n    }\n\n   \n\n\n    if (!/^\\d$/.test(bh.input.event.key)) {\n      bh.input.event.preventDefault(); // Prevent non-numeric keys\n    }",
        "functionName": "sd_mq93GNl3A4mX4nGV",
        "category": "Function",
        "x": 150,
        "y": 440,
        "wires": [
            []
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "limitsComponent",
        "generated": true
    }
]
