designs/pages/limits.json
[
    {
        "id": "sd_dfQ2vHZYHyt5Ymfr",
        "type": "tab",
        "createdDate": "2024-05-16T08:59:17.190Z",
        "label": "limits",
        "disabled": false,
        "info": "",
        "functionSeq": 0,
        "generateNext": true,
        "serviceName": "limitsComponent"
    },
    {
        "id": "sd_bk9iYnDDXkqipMt5",
        "type": "OnInit",
        "z": "sd_dfQ2vHZYHyt5Ymfr",
        "viewType": "common",
        "nodeType": "start",
        "name": "",
        "functionName": "sd_bk9iYnDDXkqipMt5",
        "category": "Lifecycle Events",
        "x": 45,
        "y": 60,
        "wires": [
            [
                "sd_L71dMFp8ELSXvdR6"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": true,
        "serviceName": "limitsComponent"
    },
    {
        "id": "sd_bZCvoXOCXM7qEgPz",
        "type": "PageStart",
        "z": "sd_dfQ2vHZYHyt5Ymfr",
        "viewType": "pages",
        "nodeType": "start",
        "name": "Go Back",
        "outputs": 1,
        "inputVariables": [],
        "localVariables": [],
        "flow_type": "sync",
        "functionName": "goBack",
        "category": "General",
        "x": 85,
        "y": 240,
        "wires": [
            [
                "sd_b0Qu37P5ojbtrECl"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": true,
        "serviceName": "limitsComponent"
    },
    {
        "id": "sd_b0Qu37P5ojbtrECl",
        "type": "PageCallService",
        "z": "sd_dfQ2vHZYHyt5Ymfr",
        "viewType": "pages",
        "nodeType": "flow",
        "name": "",
        "outputs": 1,
        "isValidNode": true,
        "noerr": 0,
        "service": {
            "id": "sd_O7BgeFkazhosv8N2",
            "type": "tab",
            "createdDate": "2024-05-14T08:16:55.985Z",
            "label": "common",
            "disabled": false,
            "info": "",
            "functionSeq": 0,
            "tabType": "client"
        },
        "flow": {
            "flowId": "sd_jJRXnjTcMQmcijs6",
            "flowName": "goBack"
        },
        "inputVariables": [],
        "outputMapping": [],
        "serviceImportPath": "app/sd-services/common",
        "startName": "goBack",
        "inputParams": [],
        "accept_bh": false,
        "accept_csd": true,
        "functionName": "sd_b0Qu37P5ojbtrECl",
        "category": "General",
        "x": 225,
        "y": 240,
        "wires": [
            []
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "limitsComponent",
        "generated": true
    },
    {
        "id": "sd_hxe3t0gMk44EwbqG",
        "type": "PageStart",
        "z": "sd_dfQ2vHZYHyt5Ymfr",
        "viewType": "pages",
        "nodeType": "start",
        "name": "changeLimits",
        "outputs": 1,
        "inputVariables": [
            {
                "key": "form",
                "defaultValue": {
                    "type": "any",
                    "value": ""
                },
                "output": false
            }
        ],
        "localVariables": [],
        "flow_type": "sync",
        "functionName": "changeLimits",
        "category": "General",
        "x": 80,
        "y": 380,
        "wires": [
            [
                "sd_ZPC7PjaNuuTiIJNA"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": true,
        "serviceName": "limitsComponent"
    },
    {
        "id": "sd_cwmv1n3H7vtrUgp9",
        "type": "Storage",
        "z": "sd_dfQ2vHZYHyt5Ymfr",
        "viewType": "client-pages",
        "nodeType": "flow",
        "name": "",
        "operationType": "getItem",
        "storageType": "sessionStorage",
        "outputs": 1,
        "key": {
            "type": "str",
            "value": "user"
        },
        "value": {},
        "resultMapping": {
            "type": "this.page",
            "value": "result"
        },
        "functionName": "sd_cwmv1n3H7vtrUgp9",
        "category": "Storage",
        "x": 445,
        "y": 60,
        "wires": [
            [
                "sd_He707OrmkxeYVodm"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "limitsComponent",
        "generated": true
    },
    {
        "id": "sd_He707OrmkxeYVodm",
        "type": "Environment",
        "z": "sd_dfQ2vHZYHyt5Ymfr",
        "viewType": "client-pages",
        "nodeType": "flow",
        "name": "",
        "outputs": 1,
        "envMaps": [
            {
                "flowVar": {
                    "type": "this.page",
                    "value": "ssdUrl"
                },
                "envProperty": "ssdURL"
            }
        ],
        "functionName": "sd_He707OrmkxeYVodm",
        "category": "General",
        "x": 565,
        "y": 120,
        "wires": [
            [
                "sd_igYQZYB0wwxjPJIx"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "limitsComponent",
        "generated": true
    },
    {
        "id": "sd_igYQZYB0wwxjPJIx",
        "type": "Script",
        "z": "sd_dfQ2vHZYHyt5Ymfr",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "script": "bh.body = {\n    // email: page.userDetails.email,\n    // username: page.usernameForm.value.username,\n    // collection: 'users'\n};\n\nbh.url1 = page.ssdUrl + `get-limit/${page.result._id}`;\n\n\n",
        "functionName": "sd_igYQZYB0wwxjPJIx",
        "category": "Function",
        "x": 645,
        "y": 120,
        "wires": [
            [
                "sd_8BLGEcNOEIvq4nwb"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "limitsComponent",
        "generated": true
    },
    {
        "id": "sd_gJ5z914BxWPfHOJf",
        "type": "Script",
        "z": "sd_dfQ2vHZYHyt5Ymfr",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "script": "\n\npage.changeLimitsForm = new FormGroup ({\n    transfers: new FormControl(page.data.transfers, Validators.required),\n    payments: new FormControl(page.data.payments, [Validators.required]),\n    payAndClear: new FormControl(page.data.payAndClear, [Validators.required]),\n    prepaid: new FormControl(page.data.prepaid, [Validators.required]),\n    sendMoney: new FormControl(page.data.sendMoney, [Validators.required]),\n    vouchers: new FormControl(page.data.vouchers, [Validators.required]),\n    cardlessCashWithdrawal: new FormControl(page.data.cardlessCashWithdrawal, [Validators.required]),\n})\n\n\n",
        "functionName": "sd_gJ5z914BxWPfHOJf",
        "category": "Function",
        "x": 825,
        "y": 120,
        "wires": [
            [
                "sd_MLZqsWOuCTHErd5S"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "limitsComponent",
        "generated": true
    },
    {
        "id": "sd_8BLGEcNOEIvq4nwb",
        "type": "HttpRequest",
        "z": "sd_dfQ2vHZYHyt5Ymfr",
        "viewType": "client-pages",
        "nodeType": "flow",
        "name": "",
        "method": "get",
        "methodMapping": "",
        "methodMappingObj": {},
        "urlMapping": "bh.url1",
        "urlMappingObj": {
            "mapVarType": "bh",
            "mapVarValue": "url1"
        },
        "ret": "json",
        "retMapping": "",
        "retMappingObj": {},
        "observe": "",
        "observeMapping": "",
        "observeMappingObj": {},
        "reportProgress": false,
        "withCreds": false,
        "reqBody": "bh.body",
        "reqBodyObj": {
            "mapVarType": "bh",
            "mapVarValue": "body"
        },
        "resultMapping": "this.page.data",
        "resultMappingObj": {
            "mapVarType": "this.page",
            "mapVarValue": "data"
        },
        "headers": {},
        "headersObj": [],
        "headerMapping": "",
        "headerMappingObj": {},
        "params": {},
        "paramsObj": [],
        "paramMapping": "",
        "paramMappingObj": {},
        "functionName": "sd_8BLGEcNOEIvq4nwb",
        "category": "HTTP",
        "x": 745,
        "y": 120,
        "wires": [
            [
                "sd_gJ5z914BxWPfHOJf"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "limitsComponent",
        "generated": true
    },
    {
        "id": "sd_MLZqsWOuCTHErd5S",
        "type": "PageVariables",
        "z": "sd_dfQ2vHZYHyt5Ymfr",
        "viewType": "pages",
        "nodeType": "flow",
        "name": "",
        "inputs": 1,
        "outputs": 1,
        "operation": "set",
        "globalVariables": [
            {
                "textIp": "transfers",
                "typedIpValue": {
                    "type": "this.page",
                    "value": "data.transfers"
                }
            },
            {
                "textIp": "payAndClear",
                "typedIpValue": {
                    "type": "this.page",
                    "value": "data.payAndClear"
                }
            },
            {
                "textIp": "payments",
                "typedIpValue": {
                    "type": "this.page",
                    "value": "data.payments"
                }
            },
            {
                "textIp": "prepaid",
                "typedIpValue": {
                    "type": "this.page",
                    "value": "data.prepaid"
                }
            },
            {
                "textIp": "sendMoney",
                "typedIpValue": {
                    "type": "this.page",
                    "value": "data.sendMoney"
                }
            },
            {
                "textIp": "vouchers",
                "typedIpValue": {
                    "type": "this.page",
                    "value": "data.vouchers"
                }
            },
            {
                "textIp": "cardlessCashWithdrawal",
                "typedIpValue": {
                    "type": "this.page",
                    "value": "data.cardlessCashWithdrawal"
                }
            }
        ],
        "functionName": "sd_MLZqsWOuCTHErd5S",
        "category": "Function",
        "x": 925,
        "y": 120,
        "wires": [
            []
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "limitsComponent",
        "generated": true
    },
    {
        "id": "sd_L71dMFp8ELSXvdR6",
        "type": "UseDependency",
        "z": "sd_dfQ2vHZYHyt5Ymfr",
        "viewType": "client-pages",
        "nodeType": "flow",
        "name": "",
        "inputs": 1,
        "outputs": 1,
        "property": "",
        "propertyType": "bh",
        "propertyGv": "bh.",
        "alias": "",
        "modules": [
            {
                "textIp": "FormControl",
                "typedIpValue": {
                    "type": "this.page",
                    "value": ""
                },
                "injectable": false
            },
            {
                "textIp": "FormGroup",
                "typedIpValue": {
                    "type": "this.page",
                    "value": ""
                },
                "injectable": false
            },
            {
                "textIp": "Validators",
                "typedIpValue": {
                    "type": "this.page",
                    "value": ""
                },
                "injectable": false
            }
        ],
        "import_all": false,
        "library": "@angular/forms",
        "serviceDesignerType": "pages",
        "functionName": "sd_L71dMFp8ELSXvdR6",
        "category": "Function",
        "x": 145,
        "y": 60,
        "wires": [
            [
                "sd_QmkAYlNdJ9mGSFYz"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "limitsComponent",
        "generated": true
    },
    {
        "id": "sd_QmkAYlNdJ9mGSFYz",
        "type": "PageVariables",
        "z": "sd_dfQ2vHZYHyt5Ymfr",
        "viewType": "pages",
        "nodeType": "flow",
        "name": "",
        "inputs": 1,
        "outputs": 1,
        "operation": "set",
        "globalVariables": [
            {
                "textIp": "changeLimitsForm",
                "typedIpValue": {
                    "type": "this.page",
                    "value": ""
                }
            }
        ],
        "functionName": "sd_QmkAYlNdJ9mGSFYz",
        "category": "Function",
        "x": 245,
        "y": 60,
        "wires": [
            [
                "sd_ZUexHrSTJi7SwpSG"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "limitsComponent",
        "generated": true
    },
    {
        "id": "sd_ZPC7PjaNuuTiIJNA",
        "type": "Environment",
        "z": "sd_dfQ2vHZYHyt5Ymfr",
        "viewType": "client-pages",
        "nodeType": "flow",
        "name": "",
        "outputs": 1,
        "envMaps": [
            {
                "flowVar": {
                    "type": "this.page",
                    "value": "ssdUrl"
                },
                "envProperty": "ssdURL"
            }
        ],
        "functionName": "sd_ZPC7PjaNuuTiIJNA",
        "category": "General",
        "x": 165,
        "y": 380,
        "wires": [
            [
                "sd_1P36hwFlABCvZYmR"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "limitsComponent",
        "generated": true
    },
    {
        "id": "sd_1P36hwFlABCvZYmR",
        "type": "Script",
        "z": "sd_dfQ2vHZYHyt5Ymfr",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "script": "bh.input.form = {\n    email: page.data.email,\n    collection: 'users',\n    cardlessCashWithdrawal: bh.input.form.value.cardlessCashWithdrawal,\n    payAndClear:  bh.input.form.value.payAndClear,\n    payments: bh.input.form.value.payments,\n    prepaid: bh.input.form.value.prepaid, \n    sendMoney: bh.input.form.value.sendMoney, \n    transfers: bh.input.form.value.transfers,\n    vouchers: bh.input.form.value.vouchers   \n};\n\nbh.input.form2 = {\n    collection: 'limits'\n}\n\nbh.url2 = `https://111e-169-239-176-9.ngrok-free.app/api/update-limits`;\nbh.url3 = `https://111e-169-239-176-9.ngrok-free.app/api/get-limit/${page.data._id}`;\n\n\n\n\n",
        "functionName": "sd_1P36hwFlABCvZYmR",
        "category": "Function",
        "x": 265,
        "y": 380,
        "wires": [
            [
                "sd_5iTDLklc90d8NiC2"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "limitsComponent",
        "generated": true
    },
    {
        "id": "sd_5iTDLklc90d8NiC2",
        "type": "HttpRequest",
        "z": "sd_dfQ2vHZYHyt5Ymfr",
        "viewType": "client-pages",
        "nodeType": "flow",
        "name": "",
        "method": "put",
        "methodMapping": "",
        "methodMappingObj": {},
        "urlMapping": "bh.url2",
        "urlMappingObj": {
            "mapVarType": "bh",
            "mapVarValue": "url2"
        },
        "ret": "json",
        "retMapping": "",
        "retMappingObj": {},
        "observe": "",
        "observeMapping": "",
        "observeMappingObj": {},
        "reportProgress": false,
        "withCreds": false,
        "reqBody": "bh.input.form",
        "reqBodyObj": {
            "mapVarType": "bh.input",
            "mapVarValue": "form"
        },
        "resultMapping": "this.page.data",
        "resultMappingObj": {
            "mapVarType": "this.page",
            "mapVarValue": "data"
        },
        "headers": {},
        "headersObj": [],
        "headerMapping": "",
        "headerMappingObj": {},
        "params": {},
        "paramsObj": [],
        "paramMapping": "",
        "paramMappingObj": {},
        "functionName": "sd_5iTDLklc90d8NiC2",
        "category": "HTTP",
        "x": 365,
        "y": 380,
        "wires": [
            [
                "sd_XD8AoTvru87ILYsy"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "limitsComponent",
        "generated": true
    },
    {
        "id": "sd_ZUexHrSTJi7SwpSG",
        "type": "Script",
        "z": "sd_dfQ2vHZYHyt5Ymfr",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "script": "\npage.changeLimitsForm = new FormGroup({\n    transfers: new FormControl('', [Validators.required]),\n    payments: new FormControl('', [Validators.required]),\n    payAndClear: new FormControl('', [Validators.required]),\n    prepaid: new FormControl('', [Validators.required]),\n    sendMoney: new FormControl('', [Validators.required]),\n    vouchers: new FormControl('', [Validators.required]),\n    cardlessCashWithdrawal: new FormControl('', [Validators.required]),\n}) \n",
        "functionName": "sd_ZUexHrSTJi7SwpSG",
        "category": "Function",
        "x": 345,
        "y": 60,
        "wires": [
            [
                "sd_cwmv1n3H7vtrUgp9"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "limitsComponent",
        "generated": true
    },
    {
        "id": "sd_XD8AoTvru87ILYsy",
        "type": "HttpRequest",
        "z": "sd_dfQ2vHZYHyt5Ymfr",
        "viewType": "client-pages",
        "nodeType": "flow",
        "name": "",
        "method": "get",
        "methodMapping": "",
        "methodMappingObj": {},
        "urlMapping": "bh.url3",
        "urlMappingObj": {
            "mapVarType": "bh",
            "mapVarValue": "url3"
        },
        "ret": "json",
        "retMapping": "",
        "retMappingObj": {},
        "observe": "",
        "observeMapping": "",
        "observeMappingObj": {},
        "reportProgress": false,
        "withCreds": false,
        "reqBody": "bh.input.form2",
        "reqBodyObj": {
            "mapVarType": "bh.input",
            "mapVarValue": "form2"
        },
        "resultMapping": "bh.result",
        "resultMappingObj": {
            "mapVarType": "bh",
            "mapVarValue": "result"
        },
        "headers": {},
        "headersObj": [],
        "headerMapping": "",
        "headerMappingObj": {},
        "params": {},
        "paramsObj": [],
        "paramMapping": "",
        "paramMappingObj": {},
        "functionName": "sd_XD8AoTvru87ILYsy",
        "category": "HTTP",
        "x": 445,
        "y": 380,
        "wires": [
            [
                "sd_UxLBy8bqL5HenyXM"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "limitsComponent",
        "generated": true
    },
    {
        "id": "sd_UxLBy8bqL5HenyXM",
        "type": "SnackBar",
        "z": "sd_dfQ2vHZYHyt5Ymfr",
        "viewType": "client-pages",
        "nodeType": "flow",
        "name": "",
        "message": {
            "type": "str",
            "value": "Limits Changed"
        },
        "action": {
            "type": "str",
            "value": "OK"
        },
        "duration": {
            "type": "num",
            "value": "4000"
        },
        "horizontalPosition": "center",
        "horizontalPositionMap": "",
        "verticalPosition": "bottom",
        "verticalPositionMap": "",
        "panelClass": {
            "type": "str",
            "value": ""
        },
        "direction": "ltr",
        "functionName": "sd_UxLBy8bqL5HenyXM",
        "category": "General",
        "x": 545,
        "y": 380,
        "wires": [
            [
                "sd_FuYXdmyecIa2TJMC"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "limitsComponent",
        "generated": true
    },
    {
        "id": "sd_FuYXdmyecIa2TJMC",
        "type": "Navigation",
        "z": "sd_dfQ2vHZYHyt5Ymfr",
        "viewType": "client-pages",
        "nodeType": "flow",
        "name": "",
        "path": "/settings",
        "pathMap": "",
        "pathparams": "",
        "pathparamsMap": "",
        "qparams": "",
        "qparamsMap": "",
        "qparamsArray": "",
        "resultMapping": "",
        "functionName": "sd_FuYXdmyecIa2TJMC",
        "category": "Navigation",
        "x": 645,
        "y": 380,
        "wires": [
            []
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "limitsComponent",
        "generated": true
    }
]
