designs/pages/login.json
[
    {
        "id": "sd_ikfhfteWsIbUuVcK",
        "type": "tab",
        "createdDate": "2024-05-14T07:51:22.834Z",
        "label": "login",
        "disabled": false,
        "info": "",
        "functionSeq": 0,
        "generateNext": true,
        "serviceName": "loginComponent"
    },
    {
        "id": "sd_45uy5mdWi5EPQeTa",
        "type": "OnInit",
        "z": "sd_ikfhfteWsIbUuVcK",
        "viewType": "common",
        "nodeType": "start",
        "name": "",
        "functionName": "sd_45uy5mdWi5EPQeTa",
        "category": "Lifecycle Events",
        "x": 165,
        "y": 60,
        "wires": [
            [
                "sd_JiXbyYIEfixaMome"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": true,
        "serviceName": "loginComponent"
    },
    {
        "id": "sd_PrG6MjwBVP5tc48y",
        "type": "PageVariables",
        "z": "sd_ikfhfteWsIbUuVcK",
        "viewType": "pages",
        "nodeType": "flow",
        "name": "",
        "inputs": 1,
        "outputs": 1,
        "operation": "set",
        "globalVariables": [
            {
                "textIp": "password",
                "typedIpValue": {
                    "type": "this.page",
                    "value": "password"
                }
            },
            {
                "textIp": "show",
                "typedIpValue": {
                    "type": "literal",
                    "value": "true"
                }
            },
            {
                "textIp": "submitted",
                "typedIpValue": {
                    "type": "literal",
                    "value": "false"
                }
            },
            {
                "textIp": "userDetails",
                "typedIpValue": {
                    "type": "literal",
                    "value": "{ email: '', password: '', }"
                }
            },
            {
                "textIp": "loginForm",
                "typedIpValue": {
                    "type": "this.page",
                    "value": ""
                }
            },
            {
                "textIp": "email",
                "typedIpValue": {
                    "type": "this.page",
                    "value": ""
                }
            },
            {
                "textIp": "showSpinner",
                "typedIpValue": {
                    "type": "literal",
                    "value": "false"
                }
            },
            {
                "textIp": "ssdUrl",
                "typedIpValue": {
                    "type": "this.page",
                    "value": ""
                }
            }
        ],
        "functionName": "sd_PrG6MjwBVP5tc48y",
        "category": "Function",
        "x": 365,
        "y": 60,
        "wires": [
            [
                "sd_XcH0HPbNJBk5GnM2"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "loginComponent",
        "generated": true
    },
    {
        "id": "sd_eOdC9WAzwU51oSrx",
        "type": "PageStart",
        "z": "sd_ikfhfteWsIbUuVcK",
        "viewType": "pages",
        "nodeType": "start",
        "name": "Go Back",
        "outputs": 1,
        "inputVariables": [],
        "localVariables": [],
        "flow_type": "sync",
        "functionName": "goBack",
        "category": "General",
        "x": 165,
        "y": 160,
        "wires": [
            [
                "sd_cIzhLEz4ftM3kv08"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": true,
        "serviceName": "loginComponent"
    },
    {
        "id": "sd_cIzhLEz4ftM3kv08",
        "type": "PageCallService",
        "z": "sd_ikfhfteWsIbUuVcK",
        "viewType": "pages",
        "nodeType": "flow",
        "name": "",
        "outputs": 1,
        "isValidNode": true,
        "noerr": 0,
        "service": {
            "id": "sd_O7BgeFkazhosv8N2",
            "type": "tab",
            "createdDate": "2024-05-14T08:16:55.985Z",
            "label": "common",
            "disabled": false,
            "info": "",
            "functionSeq": 0,
            "tabType": "client"
        },
        "flow": {
            "flowId": "sd_jJRXnjTcMQmcijs6",
            "flowName": "goBack"
        },
        "inputVariables": [],
        "outputMapping": [],
        "serviceImportPath": "app/sd-services/common",
        "startName": "goBack",
        "inputParams": [],
        "accept_bh": false,
        "accept_csd": true,
        "functionName": "sd_cIzhLEz4ftM3kv08",
        "category": "General",
        "x": 305,
        "y": 160,
        "wires": [
            []
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "loginComponent",
        "generated": true
    },
    {
        "id": "sd_EPa7o3No15AsfjHE",
        "type": "PageStart",
        "z": "sd_ikfhfteWsIbUuVcK",
        "viewType": "pages",
        "nodeType": "start",
        "name": "Show Password",
        "outputs": 1,
        "inputVariables": [],
        "localVariables": [],
        "flow_type": "sync",
        "functionName": "showPassword",
        "category": "General",
        "x": 185,
        "y": 280,
        "wires": [
            [
                "sd_SsYT8hn0WZhQPZwc"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": true,
        "serviceName": "loginComponent"
    },
    {
        "id": "sd_SsYT8hn0WZhQPZwc",
        "type": "Script",
        "z": "sd_ikfhfteWsIbUuVcK",
        "viewType": "common",
        "nodeType": "flow",
        "name": "toggling",
        "script": " if (page.password === 'password') {\n      page.password = 'text';\n      const button = document.getElementById('btn')\n      button.innerHTML = 'Hide'\n      \n      // page.show = true;\n    } else {\n      page.password = 'password';\n      const button = document.getElementById('btn')\n      button.innerHTML = 'Show'\n     \n      // page.show = false;\n    }\n\n",
        "functionName": "toggling",
        "category": "Function",
        "x": 305,
        "y": 280,
        "wires": [
            []
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "loginComponent",
        "generated": true
    },
    {
        "id": "sd_dQ2knbDgryiwbT69",
        "type": "Script",
        "z": "sd_ikfhfteWsIbUuVcK",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "script": "page.password = 'password';\n\npage.loginForm = new FormGroup({\n    email: new FormControl('', [Validators.required, Validators.pattern(/^[^\\s@]+@([^\\s@.,]+\\.)+[^\\s@.,]{2,}$/)]),\n    password: new FormControl('', Validators.required),\n})\n",
        "functionName": "sd_dQ2knbDgryiwbT69",
        "category": "Function",
        "x": 565,
        "y": 60,
        "wires": [
            [
                "sd_1dQfjj77Zb9tWDDo"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "loginComponent",
        "generated": true
    },
    {
        "id": "sd_44CrbDcLdLIXeUnr",
        "type": "PageStart",
        "z": "sd_ikfhfteWsIbUuVcK",
        "viewType": "pages",
        "nodeType": "start",
        "name": "login",
        "outputs": 1,
        "inputVariables": [
            {
                "key": "form",
                "defaultValue": {
                    "type": "any",
                    "value": ""
                },
                "output": false
            }
        ],
        "localVariables": [],
        "flow_type": "sync",
        "functionName": "login",
        "category": "General",
        "x": 65,
        "y": 420,
        "wires": [
            [
                "sd_FxdhttEOOGcuVtXK"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": true,
        "serviceName": "loginComponent"
    },
    {
        "id": "sd_JiXbyYIEfixaMome",
        "type": "UseDependency",
        "z": "sd_ikfhfteWsIbUuVcK",
        "viewType": "client-pages",
        "nodeType": "flow",
        "name": "",
        "inputs": 1,
        "outputs": 1,
        "property": "",
        "propertyType": "bh",
        "propertyGv": "bh.",
        "alias": "",
        "modules": [
            {
                "textIp": "FormControl",
                "typedIpValue": {
                    "type": "this.page",
                    "value": ""
                },
                "injectable": false
            },
            {
                "textIp": "FormGroup",
                "typedIpValue": {
                    "type": "this.page",
                    "value": ""
                },
                "injectable": false
            },
            {
                "textIp": "Validators",
                "typedIpValue": {
                    "type": "this.page",
                    "value": ""
                },
                "injectable": false
            }
        ],
        "import_all": false,
        "library": "@angular/forms",
        "serviceDesignerType": "pages",
        "functionName": "sd_JiXbyYIEfixaMome",
        "category": "Function",
        "x": 265,
        "y": 60,
        "wires": [
            [
                "sd_PrG6MjwBVP5tc48y"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "loginComponent",
        "generated": true
    },
    {
        "id": "sd_w7pLMcccCEh0xCaL",
        "type": "Navigation",
        "z": "sd_ikfhfteWsIbUuVcK",
        "viewType": "client-pages",
        "nodeType": "flow",
        "name": "",
        "path": "/",
        "functionName": "sd_w7pLMcccCEh0xCaL",
        "category": "Navigation",
        "x": 1565,
        "y": 440,
        "wires": [
            []
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "loginComponent",
        "generated": true
    },
    {
        "id": "sd_7q0RrCOpw7ALlMgL",
        "type": "Script",
        "z": "sd_ikfhfteWsIbUuVcK",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "script": "bh.url = page.ssdUrl + 'login';\npage.showSpinner = true;\nbh.body = page.loginForm.value;\n",
        "functionName": "sd_7q0RrCOpw7ALlMgL",
        "category": "Function",
        "x": 285,
        "y": 420,
        "wires": [
            [
                "sd_OD8zvEV2HAw9CPuS"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "loginComponent",
        "generated": true
    },
    {
        "id": "sd_XcH0HPbNJBk5GnM2",
        "type": "Environment",
        "z": "sd_ikfhfteWsIbUuVcK",
        "viewType": "client-pages",
        "nodeType": "flow",
        "name": "",
        "outputs": 1,
        "envMaps": [
            {
                "flowVar": {
                    "type": "this.page",
                    "value": "ssdUrl"
                },
                "envProperty": "ssdURL"
            }
        ],
        "functionName": "sd_XcH0HPbNJBk5GnM2",
        "category": "General",
        "x": 465,
        "y": 60,
        "wires": [
            [
                "sd_dQ2knbDgryiwbT69"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "loginComponent",
        "generated": true
    },
    {
        "id": "sd_OD8zvEV2HAw9CPuS",
        "type": "HttpRequest",
        "z": "sd_ikfhfteWsIbUuVcK",
        "viewType": "client-pages",
        "nodeType": "flow",
        "name": "",
        "method": "post",
        "methodMapping": "",
        "methodMappingObj": {},
        "urlMapping": "bh.url",
        "urlMappingObj": {
            "mapVarType": "bh",
            "mapVarValue": "url"
        },
        "ret": "json",
        "retMapping": "",
        "retMappingObj": {},
        "observe": "",
        "observeMapping": "",
        "observeMappingObj": {},
        "reportProgress": false,
        "withCreds": false,
        "reqBody": "bh.body",
        "reqBodyObj": {
            "mapVarType": "bh",
            "mapVarValue": "body"
        },
        "resultMapping": "this.page.result",
        "resultMappingObj": {
            "mapVarType": "this.page",
            "mapVarValue": "result"
        },
        "headers": {},
        "headersObj": [],
        "headerMapping": "",
        "headerMappingObj": {},
        "params": {},
        "paramsObj": [],
        "paramMapping": "",
        "paramMappingObj": {},
        "functionName": "sd_OD8zvEV2HAw9CPuS",
        "category": "HTTP",
        "x": 405,
        "y": 420,
        "wires": [
            [
                "sd_AJM5lDNztTD8OOWR"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "loginComponent",
        "generated": true
    },
    {
        "id": "sd_2U4d5CqtIFcteErr",
        "type": "Navigation",
        "z": "sd_ikfhfteWsIbUuVcK",
        "viewType": "client-pages",
        "nodeType": "flow",
        "name": "",
        "path": "/change-password",
        "functionName": "sd_2U4d5CqtIFcteErr",
        "category": "Navigation",
        "x": 1845,
        "y": 340,
        "wires": [
            []
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "loginComponent",
        "generated": true
    },
    {
        "id": "sd_PghIfVviJmN5zGeI",
        "type": "Storage",
        "z": "sd_ikfhfteWsIbUuVcK",
        "viewType": "client-pages",
        "nodeType": "flow",
        "name": "",
        "operationType": "setItem",
        "storageType": "sessionStorage",
        "outputs": 1,
        "key": {
            "type": "str",
            "value": "user"
        },
        "value": {
            "type": "this.page",
            "value": "result"
        },
        "resultMapping": {},
        "functionName": "sd_PghIfVviJmN5zGeI",
        "category": "Storage",
        "x": 1185,
        "y": 360,
        "wires": [
            [
                "sd_hcHGRCdiyZhmv29d"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "loginComponent",
        "generated": true
    },
    {
        "id": "sd_RuNewNHwsLyRAwry",
        "type": "SnackBar",
        "z": "sd_ikfhfteWsIbUuVcK",
        "viewType": "client-pages",
        "nodeType": "flow",
        "name": "",
        "message": {
            "type": "str",
            "value": "User account does not exist!"
        },
        "action": {
            "type": "str",
            "value": "Ok"
        },
        "duration": {
            "type": "num",
            "value": "3000"
        },
        "horizontalPosition": "center",
        "horizontalPositionMap": "",
        "verticalPosition": "bottom",
        "verticalPositionMap": "",
        "panelClass": {
            "type": "str",
            "value": ""
        },
        "direction": "ltr",
        "functionName": "sd_RuNewNHwsLyRAwry",
        "category": "General",
        "x": 725,
        "y": 480,
        "wires": [
            []
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "loginComponent",
        "generated": true
    },
    {
        "id": "sd_AJM5lDNztTD8OOWR",
        "type": "Script",
        "z": "sd_ikfhfteWsIbUuVcK",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "script": "page.showSpinner = false;\nbh.isUserExisting = true;\nif (page.result.message && page.result.message === \"User don't exist\") {\n    bh.isUserExisting = false;\n}",
        "functionName": "sd_AJM5lDNztTD8OOWR",
        "category": "Function",
        "x": 505,
        "y": 420,
        "wires": [
            [
                "sd_JsDGX4JTsLYSoWxZ"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "loginComponent",
        "generated": true
    },
    {
        "id": "sd_ZCu2UC1aCqPpAC3J",
        "type": "Script",
        "z": "sd_ikfhfteWsIbUuVcK",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "script": "bh.isPendingApplication = false;\nif (page.result.isNotApprovedAcc) {\n    bh.isPendingApplication = true;\n}",
        "functionName": "sd_ZCu2UC1aCqPpAC3J",
        "category": "Function",
        "x": 725,
        "y": 380,
        "wires": [
            [
                "sd_LpiRljUD2nFTMLeW"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "loginComponent",
        "generated": true
    },
    {
        "id": "sd_JsDGX4JTsLYSoWxZ",
        "type": "PageSwitch",
        "z": "sd_ikfhfteWsIbUuVcK",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "property": "isUserExisting",
        "propertyType": "bh",
        "propertyGv": "bh.isUserExisting",
        "rules": [
            {
                "t": "true"
            },
            {
                "t": "false"
            }
        ],
        "checkall": "false",
        "repair": false,
        "outputs": 2,
        "functionName": "sd_JsDGX4JTsLYSoWxZ",
        "category": "Function",
        "x": 605,
        "y": 420,
        "wires": [
            [
                "sd_ZCu2UC1aCqPpAC3J"
            ],
            [
                "sd_RuNewNHwsLyRAwry"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "loginComponent",
        "generated": true
    },
    {
        "id": "sd_LpiRljUD2nFTMLeW",
        "type": "PageSwitch",
        "z": "sd_ikfhfteWsIbUuVcK",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "property": "isPendingApplication",
        "propertyType": "bh",
        "propertyGv": "bh.isPendingApplication",
        "rules": [
            {
                "t": "true"
            },
            {
                "t": "false"
            }
        ],
        "checkall": "false",
        "repair": false,
        "outputs": 2,
        "functionName": "sd_LpiRljUD2nFTMLeW",
        "category": "Function",
        "x": 825,
        "y": 380,
        "wires": [
            [
                "sd_YTD1C8oAD7gNiGGG"
            ],
            [
                "sd_72DqN6b1RHPKOT63"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "loginComponent",
        "generated": true
    },
    {
        "id": "sd_YTD1C8oAD7gNiGGG",
        "type": "SnackBar",
        "z": "sd_ikfhfteWsIbUuVcK",
        "viewType": "client-pages",
        "nodeType": "flow",
        "name": "",
        "message": {
            "type": "str",
            "value": "Your application is still pending!"
        },
        "action": {
            "type": "str",
            "value": "Ok"
        },
        "duration": {
            "type": "num",
            "value": "3000"
        },
        "horizontalPosition": "center",
        "horizontalPositionMap": "",
        "verticalPosition": "bottom",
        "verticalPositionMap": "",
        "panelClass": {
            "type": "str",
            "value": ""
        },
        "direction": "ltr",
        "functionName": "sd_YTD1C8oAD7gNiGGG",
        "category": "General",
        "x": 945,
        "y": 280,
        "wires": [
            []
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "loginComponent",
        "generated": true
    },
    {
        "id": "sd_72DqN6b1RHPKOT63",
        "type": "Script",
        "z": "sd_ikfhfteWsIbUuVcK",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "script": "bh.isPasswordMatching = true;\nif (page.result.message && page.result.message === \"PASSWORD DON'T MATCH\") {\n    bh.isPasswordMatching = false;\n}",
        "functionName": "sd_72DqN6b1RHPKOT63",
        "category": "Function",
        "x": 945,
        "y": 380,
        "wires": [
            [
                "sd_P8QtzbDB7dB5JZwb"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "loginComponent",
        "generated": true
    },
    {
        "id": "sd_P8QtzbDB7dB5JZwb",
        "type": "PageSwitch",
        "z": "sd_ikfhfteWsIbUuVcK",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "property": "isPasswordMatching",
        "propertyType": "bh",
        "propertyGv": "bh.isPasswordMatching",
        "rules": [
            {
                "t": "true"
            },
            {
                "t": "false"
            }
        ],
        "checkall": "false",
        "repair": false,
        "outputs": 2,
        "functionName": "sd_P8QtzbDB7dB5JZwb",
        "category": "Function",
        "x": 1065,
        "y": 380,
        "wires": [
            [
                "sd_PghIfVviJmN5zGeI"
            ],
            [
                "sd_WNaJxQp0zvBigjEu"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "loginComponent",
        "generated": true
    },
    {
        "id": "sd_WNaJxQp0zvBigjEu",
        "type": "SnackBar",
        "z": "sd_ikfhfteWsIbUuVcK",
        "viewType": "client-pages",
        "nodeType": "flow",
        "name": "",
        "message": {
            "type": "str",
            "value": "Password is incorrect!"
        },
        "action": {
            "type": "str",
            "value": "Ok"
        },
        "duration": {
            "type": "num",
            "value": "3000"
        },
        "horizontalPosition": "center",
        "horizontalPositionMap": "",
        "verticalPosition": "bottom",
        "verticalPositionMap": "",
        "panelClass": {
            "type": "str",
            "value": ""
        },
        "direction": "ltr",
        "functionName": "sd_WNaJxQp0zvBigjEu",
        "category": "General",
        "x": 1165,
        "y": 480,
        "wires": [
            []
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "loginComponent",
        "generated": true
    },
    {
        "id": "sd_kQedG9ymH3bYcKWT",
        "type": "SnackBar",
        "z": "sd_ikfhfteWsIbUuVcK",
        "viewType": "client-pages",
        "nodeType": "flow",
        "name": "",
        "message": {
            "type": "str",
            "value": "You need to set new password"
        },
        "action": {
            "type": "str",
            "value": "Ok"
        },
        "duration": {
            "type": "num",
            "value": "3000"
        },
        "horizontalPosition": "center",
        "horizontalPositionMap": "",
        "verticalPosition": "bottom",
        "verticalPositionMap": "",
        "panelClass": {
            "type": "str",
            "value": ""
        },
        "direction": "ltr",
        "functionName": "sd_kQedG9ymH3bYcKWT",
        "category": "General",
        "x": 1745,
        "y": 340,
        "wires": [
            [
                "sd_2U4d5CqtIFcteErr"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "loginComponent",
        "generated": true
    },
    {
        "id": "sd_hcHGRCdiyZhmv29d",
        "type": "Script",
        "z": "sd_ikfhfteWsIbUuVcK",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "script": "bh.isFirstTimeLogin = false;\nif (page.result.firstTimeLogin) {\n    bh.isFirstTimeLogin = true;\n}",
        "functionName": "sd_hcHGRCdiyZhmv29d",
        "category": "Function",
        "x": 1285,
        "y": 360,
        "wires": [
            [
                "sd_FA71l5F6h6xGk01G"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "loginComponent",
        "generated": true
    },
    {
        "id": "sd_FA71l5F6h6xGk01G",
        "type": "PageSwitch",
        "z": "sd_ikfhfteWsIbUuVcK",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "property": "isFirstTimeLogin",
        "propertyType": "bh",
        "propertyGv": "bh.isFirstTimeLogin",
        "rules": [
            {
                "t": "true"
            },
            {
                "t": "false"
            }
        ],
        "checkall": "false",
        "repair": false,
        "outputs": 2,
        "functionName": "sd_FA71l5F6h6xGk01G",
        "category": "Function",
        "x": 1385,
        "y": 360,
        "wires": [
            [
                "sd_tUYtdtRKVfVWM0lu"
            ],
            [
                "sd_0xXMKnb5NvcDPX76"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "loginComponent",
        "generated": true
    },
    {
        "id": "sd_FxdhttEOOGcuVtXK",
        "type": "PageSwitch",
        "z": "sd_ikfhfteWsIbUuVcK",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "property": "loginForm.invalid",
        "propertyType": "this.page",
        "propertyGv": "this.page.loginForm.invalid",
        "rules": [
            {
                "t": "else"
            },
            {
                "t": "true"
            }
        ],
        "checkall": "false",
        "repair": false,
        "outputs": 2,
        "functionName": "sd_FxdhttEOOGcuVtXK",
        "category": "Function",
        "x": 165,
        "y": 420,
        "wires": [
            [
                "sd_7q0RrCOpw7ALlMgL"
            ],
            [
                "sd_gIMb7gIbrAo0Q09p"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "loginComponent",
        "generated": true
    },
    {
        "id": "sd_gIMb7gIbrAo0Q09p",
        "type": "SnackBar",
        "z": "sd_ikfhfteWsIbUuVcK",
        "viewType": "client-pages",
        "nodeType": "flow",
        "name": "",
        "message": {
            "type": "str",
            "value": "All fields are required"
        },
        "action": {
            "type": "str",
            "value": "Ok"
        },
        "duration": {
            "type": "num",
            "value": "3000"
        },
        "horizontalPosition": "center",
        "horizontalPositionMap": "",
        "verticalPosition": "bottom",
        "verticalPositionMap": "",
        "panelClass": {
            "type": "str",
            "value": ""
        },
        "direction": "ltr",
        "functionName": "sd_gIMb7gIbrAo0Q09p",
        "category": "General",
        "x": 280,
        "y": 500,
        "wires": [
            []
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "loginComponent",
        "generated": true
    },
    {
        "id": "sd_ofQAPZQkX6Ylvldd",
        "type": "Log",
        "z": "sd_ikfhfteWsIbUuVcK",
        "viewType": "client-pages",
        "nodeType": "flow",
        "name": "",
        "outputs": 0,
        "logObject": "this.page.loginForm.value",
        "functionName": "sd_ofQAPZQkX6Ylvldd",
        "category": "General",
        "x": 485,
        "y": 320,
        "wires": [],
        "__ssdTypeInputs__": {
            "logObject": {
                "type": "this.page",
                "value": "loginForm.value",
                "constant": false
            }
        },
        "__n_excludedFromValidation__": {},
        "generateNext": true,
        "serviceName": "loginComponent"
    },
    {
        "id": "sd_tUYtdtRKVfVWM0lu",
        "type": "Script",
        "z": "sd_ikfhfteWsIbUuVcK",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "script": "bh.action = 'New Password';",
        "functionName": "sd_tUYtdtRKVfVWM0lu",
        "category": "Function",
        "x": 1505,
        "y": 340,
        "wires": [
            [
                "sd_LpbbEJKLAYxhbNdR"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "loginComponent",
        "generated": true
    },
    {
        "id": "sd_LpbbEJKLAYxhbNdR",
        "type": "Storage",
        "z": "sd_ikfhfteWsIbUuVcK",
        "viewType": "client-pages",
        "nodeType": "flow",
        "name": "",
        "operationType": "setItem",
        "storageType": "sessionStorage",
        "outputs": 1,
        "key": {
            "type": "str",
            "value": "action"
        },
        "value": {
            "type": "bh",
            "value": "action"
        },
        "resultMapping": {},
        "functionName": "sd_LpbbEJKLAYxhbNdR",
        "category": "Storage",
        "x": 1625,
        "y": 340,
        "wires": [
            [
                "sd_kQedG9ymH3bYcKWT"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "loginComponent",
        "generated": true
    },
    {
        "id": "sd_0xXMKnb5NvcDPX76",
        "type": "SnackBar",
        "z": "sd_ikfhfteWsIbUuVcK",
        "viewType": "client-pages",
        "nodeType": "flow",
        "name": "",
        "message": {
            "type": "str",
            "value": "Logged in successfully!"
        },
        "action": {
            "type": "str",
            "value": "Ok"
        },
        "duration": {
            "type": "num",
            "value": "3000"
        },
        "horizontalPosition": "center",
        "verticalPosition": "bottom",
        "panelClass": {
            "type": "str",
            "value": ""
        },
        "direction": "ltr",
        "functionName": "sd_0xXMKnb5NvcDPX76",
        "category": "General",
        "x": 1465,
        "y": 440,
        "wires": [
            [
                "sd_w7pLMcccCEh0xCaL"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "loginComponent",
        "generated": true
    },
    {
        "id": "sd_1dQfjj77Zb9tWDDo",
        "type": "Storage",
        "z": "sd_ikfhfteWsIbUuVcK",
        "viewType": "client-pages",
        "nodeType": "flow",
        "name": "",
        "operationType": "setItem",
        "storageType": "localStorage",
        "outputs": 1,
        "key": {
            "type": "str",
            "value": "selectedPage"
        },
        "value": {
            "type": "str",
            "value": "Login"
        },
        "resultMapping": {},
        "functionName": "sd_1dQfjj77Zb9tWDDo",
        "category": "Storage",
        "x": 665,
        "y": 60,
        "wires": [
            []
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "loginComponent",
        "generated": true
    }
]
