designs/pages/username.json
[
    {
        "id": "sd_bHLkBtLZaWdcrwCz",
        "type": "tab",
        "createdDate": "2024-05-15T12:37:40.075Z",
        "label": "username",
        "disabled": false,
        "info": "",
        "functionSeq": 0,
        "generateNext": true,
        "serviceName": "usernameComponent"
    },
    {
        "id": "sd_lDfsEOrYpyiftX3M",
        "type": "OnInit",
        "z": "sd_bHLkBtLZaWdcrwCz",
        "viewType": "common",
        "nodeType": "start",
        "name": "",
        "functionName": "sd_lDfsEOrYpyiftX3M",
        "category": "Lifecycle Events",
        "x": 45,
        "y": 60,
        "wires": [
            [
                "sd_dxrVY9Rzxi5uTvHQ"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": true,
        "serviceName": "usernameComponent"
    },
    {
        "id": "sd_nOdVft6eatxx7Ukt",
        "type": "PageVariables",
        "z": "sd_bHLkBtLZaWdcrwCz",
        "viewType": "pages",
        "nodeType": "flow",
        "name": "",
        "inputs": 1,
        "outputs": 1,
        "operation": "set",
        "globalVariables": [
            {
                "textIp": "usernameForm",
                "typedIpValue": {
                    "type": "this.page",
                    "value": ""
                }
            },
            {
                "textIp": "usernamePattern",
                "typedIpValue": {
                    "type": "literal",
                    "value": "/^(?=.*[0-9])(?=.*[a-z])(?=.*[A-Z])(?=.*[@]).{8,30}$/"
                }
            }
        ],
        "functionName": "sd_nOdVft6eatxx7Ukt",
        "category": "Function",
        "x": 345,
        "y": 60,
        "wires": [
            [
                "sd_uRHW1CRPVztMBH4M"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "usernameComponent",
        "generated": true
    },
    {
        "id": "sd_yDGmXN7W9fMVyVhN",
        "type": "PageStart",
        "z": "sd_bHLkBtLZaWdcrwCz",
        "viewType": "pages",
        "nodeType": "start",
        "name": "Go Back",
        "outputs": 1,
        "inputVariables": [],
        "localVariables": [],
        "flow_type": "sync",
        "functionName": "goBack",
        "category": "General",
        "x": 85,
        "y": 280,
        "wires": [
            [
                "sd_w7y6dMI2jC8qrxyG"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": true,
        "serviceName": "usernameComponent"
    },
    {
        "id": "sd_dxrVY9Rzxi5uTvHQ",
        "type": "Storage",
        "z": "sd_bHLkBtLZaWdcrwCz",
        "viewType": "client-pages",
        "nodeType": "flow",
        "name": "",
        "operationType": "getItem",
        "storageType": "sessionStorage",
        "outputs": 1,
        "key": {
            "type": "str",
            "value": "user"
        },
        "value": {},
        "resultMapping": {
            "type": "this.page",
            "value": "userDetails"
        },
        "functionName": "sd_dxrVY9Rzxi5uTvHQ",
        "category": "Storage",
        "x": 145,
        "y": 60,
        "wires": [
            [
                "sd_GHFhBt0oZxdnQMSY"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "usernameComponent",
        "generated": true
    },
    {
        "id": "sd_GHFhBt0oZxdnQMSY",
        "type": "UseDependency",
        "z": "sd_bHLkBtLZaWdcrwCz",
        "viewType": "client-pages",
        "nodeType": "flow",
        "name": "",
        "inputs": 1,
        "outputs": 1,
        "property": "",
        "propertyType": "bh",
        "propertyGv": "bh.",
        "alias": "",
        "modules": [
            {
                "textIp": "Validators",
                "typedIpValue": {
                    "type": "this.page",
                    "value": ""
                },
                "injectable": false
            },
            {
                "textIp": "FormControl",
                "typedIpValue": {
                    "type": "this.page",
                    "value": ""
                },
                "injectable": false
            },
            {
                "textIp": "FormGroup",
                "typedIpValue": {
                    "type": "this.page",
                    "value": ""
                },
                "injectable": false
            }
        ],
        "import_all": false,
        "library": "@angular/forms",
        "serviceDesignerType": "pages",
        "functionName": "sd_GHFhBt0oZxdnQMSY",
        "category": "Function",
        "x": 245,
        "y": 60,
        "wires": [
            [
                "sd_nOdVft6eatxx7Ukt"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "usernameComponent",
        "generated": true
    },
    {
        "id": "sd_uRHW1CRPVztMBH4M",
        "type": "Script",
        "z": "sd_bHLkBtLZaWdcrwCz",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "script": "page.usernameForm = new FormGroup({\n    username: new FormControl('', [Validators.required, Validators.pattern(page.usernamePattern)]),\n}) \n\n\nconsole.log(page.usernameForm)\n\nconsole.log(\"userDetailss:\",page.userDetails)\nconsole.log(page.usernameForm)\n// page.parsedStorage = JSON.parse(page.loggedInUser)\n// console.log(\"parsed storage:\", page.parsedStorage)",
        "functionName": "sd_uRHW1CRPVztMBH4M",
        "category": "Function",
        "x": 445,
        "y": 60,
        "wires": [
            []
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "usernameComponent",
        "generated": true
    },
    {
        "id": "sd_w7y6dMI2jC8qrxyG",
        "type": "PageCallService",
        "z": "sd_bHLkBtLZaWdcrwCz",
        "viewType": "pages",
        "nodeType": "flow",
        "name": "",
        "outputs": 1,
        "isValidNode": true,
        "noerr": 0,
        "service": {
            "id": "sd_O7BgeFkazhosv8N2",
            "type": "tab",
            "createdDate": "2024-05-14T08:16:55.985Z",
            "label": "common",
            "disabled": false,
            "info": "",
            "functionSeq": 0,
            "tabType": "client"
        },
        "flow": {
            "flowId": "sd_jJRXnjTcMQmcijs6",
            "flowName": "goBack"
        },
        "inputVariables": [],
        "outputMapping": [],
        "serviceImportPath": "app/sd-services/common",
        "startName": "goBack",
        "inputParams": [],
        "accept_bh": false,
        "accept_csd": true,
        "functionName": "sd_w7y6dMI2jC8qrxyG",
        "category": "General",
        "x": 198,
        "y": 278.1979217529297,
        "wires": [
            []
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "usernameComponent",
        "generated": true
    },
    {
        "id": "sd_8Y55FILZiHv0qHei",
        "type": "PageStart",
        "z": "sd_bHLkBtLZaWdcrwCz",
        "viewType": "pages",
        "nodeType": "start",
        "name": "changeUsername",
        "outputs": 1,
        "inputVariables": [
            {
                "key": "form",
                "defaultValue": {
                    "type": "any",
                    "value": ""
                },
                "output": false
            }
        ],
        "localVariables": [],
        "flow_type": "sync",
        "functionName": "changeUsername",
        "category": "General",
        "x": 65,
        "y": 380,
        "wires": [
            [
                "sd_sGlzf6ICld962W6M"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": true,
        "serviceName": "usernameComponent"
    },
    {
        "id": "sd_sGlzf6ICld962W6M",
        "type": "Environment",
        "z": "sd_bHLkBtLZaWdcrwCz",
        "viewType": "client-pages",
        "nodeType": "flow",
        "name": "",
        "outputs": 1,
        "envMaps": [
            {
                "flowVar": {
                    "type": "this.page",
                    "value": "ssdUrl"
                },
                "envProperty": "ssdURL"
            }
        ],
        "functionName": "sd_sGlzf6ICld962W6M",
        "category": "General",
        "x": 185,
        "y": 380,
        "wires": [
            [
                "sd_CHyEx4ZQtCVvlWFH"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "usernameComponent",
        "generated": true
    },
    {
        "id": "sd_CHyEx4ZQtCVvlWFH",
        "type": "Script",
        "z": "sd_bHLkBtLZaWdcrwCz",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "script": "bh.body = {\n    email: page.userDetails.email,\n    username: page.usernameForm.value.username,\n    collection: 'users'\n};\n\n\nbh.url = page.ssdUrl + 'update';\nbh.url2 = page.ssdUrl + `get-user/${page.userDetails.email}`;\n\n\n",
        "functionName": "sd_CHyEx4ZQtCVvlWFH",
        "category": "Function",
        "x": 265,
        "y": 380,
        "wires": [
            [
                "sd_wYISw7qqKxA6Xq8m"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "usernameComponent",
        "generated": true
    },
    {
        "id": "sd_wYISw7qqKxA6Xq8m",
        "type": "HttpRequest",
        "z": "sd_bHLkBtLZaWdcrwCz",
        "viewType": "client-pages",
        "nodeType": "flow",
        "name": "",
        "method": "put",
        "methodMapping": "",
        "methodMappingObj": {},
        "urlMapping": "bh.url",
        "urlMappingObj": {
            "mapVarType": "bh",
            "mapVarValue": "url"
        },
        "ret": "json",
        "retMapping": "",
        "retMappingObj": {},
        "observe": "",
        "observeMapping": "",
        "observeMappingObj": {},
        "reportProgress": false,
        "withCreds": false,
        "reqBody": "bh.body",
        "reqBodyObj": {
            "mapVarType": "bh",
            "mapVarValue": "body"
        },
        "resultMapping": "this.page.result",
        "resultMappingObj": {
            "mapVarType": "this.page",
            "mapVarValue": "result"
        },
        "headers": {},
        "headersObj": [],
        "headerMapping": "",
        "headerMappingObj": {},
        "params": {},
        "paramsObj": [],
        "paramMapping": "",
        "paramMappingObj": {},
        "functionName": "sd_wYISw7qqKxA6Xq8m",
        "category": "HTTP",
        "x": 345,
        "y": 380,
        "wires": [
            [
                "sd_fNhq50989haHDjT8"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "usernameComponent",
        "generated": true
    },
    {
        "id": "sd_Qnq8xnGbHoHOLnWD",
        "type": "Script",
        "z": "sd_bHLkBtLZaWdcrwCz",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "script": "console.log(\"y\",page.result)\n\nconsole.log(\"x\",page.data)\n\n",
        "functionName": "sd_Qnq8xnGbHoHOLnWD",
        "category": "Function",
        "x": 525,
        "y": 380,
        "wires": [
            [
                "sd_PPlEqPGhsGPk0D3o"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "usernameComponent",
        "generated": true
    },
    {
        "id": "sd_PPlEqPGhsGPk0D3o",
        "type": "Storage",
        "z": "sd_bHLkBtLZaWdcrwCz",
        "viewType": "client-pages",
        "nodeType": "flow",
        "name": "",
        "operationType": "setItem",
        "storageType": "sessionStorage",
        "outputs": 1,
        "key": {
            "type": "str",
            "value": "user"
        },
        "value": {
            "type": "this.page",
            "value": "data"
        },
        "resultMapping": {},
        "functionName": "sd_PPlEqPGhsGPk0D3o",
        "category": "Storage",
        "x": 605,
        "y": 380,
        "wires": [
            [
                "sd_BdkXBLh5tBYukSLx"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "usernameComponent",
        "generated": true
    },
    {
        "id": "sd_BdkXBLh5tBYukSLx",
        "type": "SnackBar",
        "z": "sd_bHLkBtLZaWdcrwCz",
        "viewType": "client-pages",
        "nodeType": "flow",
        "name": "",
        "message": {
            "type": "str",
            "value": "Username Changed"
        },
        "action": {
            "type": "str",
            "value": "OK"
        },
        "duration": {
            "type": "num",
            "value": "4000"
        },
        "horizontalPosition": "center",
        "horizontalPositionMap": "",
        "verticalPosition": "bottom",
        "verticalPositionMap": "",
        "panelClass": {
            "type": "str",
            "value": ""
        },
        "direction": "ltr",
        "functionName": "sd_BdkXBLh5tBYukSLx",
        "category": "General",
        "x": 700,
        "y": 380,
        "wires": [
            []
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "usernameComponent",
        "generated": true
    },
    {
        "id": "sd_fNhq50989haHDjT8",
        "type": "HttpRequest",
        "z": "sd_bHLkBtLZaWdcrwCz",
        "viewType": "client-pages",
        "nodeType": "flow",
        "name": "",
        "method": "get",
        "methodMapping": "",
        "methodMappingObj": {},
        "urlMapping": "bh.url2",
        "urlMappingObj": {
            "mapVarType": "bh",
            "mapVarValue": "url2"
        },
        "ret": "json",
        "retMapping": "",
        "retMappingObj": {},
        "observe": "",
        "observeMapping": "",
        "observeMappingObj": {},
        "reportProgress": false,
        "withCreds": false,
        "reqBody": "bh.body",
        "reqBodyObj": {
            "mapVarType": "bh",
            "mapVarValue": "body"
        },
        "resultMapping": "this.page.data",
        "resultMappingObj": {
            "mapVarType": "this.page",
            "mapVarValue": "data"
        },
        "headers": {},
        "headersObj": [],
        "headerMapping": "",
        "headerMappingObj": {},
        "params": {},
        "paramsObj": [],
        "paramMapping": "",
        "paramMappingObj": {},
        "functionName": "sd_fNhq50989haHDjT8",
        "category": "HTTP",
        "x": 425,
        "y": 380,
        "wires": [
            [
                "sd_Qnq8xnGbHoHOLnWD"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "usernameComponent",
        "generated": true
    }
]
