designs/pages/username.json
[
    {
        "id": "sd_bHLkBtLZaWdcrwCz",
        "type": "tab",
        "createdDate": "2024-05-15T12:37:40.075Z",
        "label": "username",
        "disabled": false,
        "info": "",
        "functionSeq": 0,
        "generateNext": true,
        "serviceName": "usernameComponent"
    },
    {
        "id": "sd_lDfsEOrYpyiftX3M",
        "type": "OnInit",
        "z": "sd_bHLkBtLZaWdcrwCz",
        "viewType": "common",
        "nodeType": "start",
        "name": "",
        "functionName": "sd_lDfsEOrYpyiftX3M",
        "category": "Lifecycle Events",
        "x": 45,
        "y": 60,
        "wires": [
            [
                "sd_GHFhBt0oZxdnQMSY"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": true,
        "serviceName": "usernameComponent"
    },
    {
        "id": "sd_nOdVft6eatxx7Ukt",
        "type": "PageVariables",
        "z": "sd_bHLkBtLZaWdcrwCz",
        "viewType": "pages",
        "nodeType": "flow",
        "name": "",
        "inputs": 1,
        "outputs": 1,
        "operation": "set",
        "globalVariables": [
            {
                "textIp": "usernameForm",
                "typedIpValue": {
                    "type": "this.page",
                    "value": ""
                }
            },
            {
                "textIp": "usernamePattern",
                "typedIpValue": {
                    "type": "literal",
                    "value": "/^(?=.*[0-9])(?=.*[a-z])(?=.*[A-Z])(?=.*[@]).{8,30}$/"
                }
            },
            {
                "textIp": "currentUser",
                "typedIpValue": {
                    "type": "this.page",
                    "value": ""
                }
            },
            {
                "textIp": "ssdUrl",
                "typedIpValue": {
                    "type": "this.page",
                    "value": ""
                }
            },
            {
                "textIp": "showSpinner",
                "typedIpValue": {
                    "type": "literal",
                    "value": "false"
                }
            }
        ],
        "functionName": "sd_nOdVft6eatxx7Ukt",
        "category": "Function",
        "x": 245,
        "y": 60,
        "wires": [
            [
                "sd_sGlzf6ICld962W6M"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "usernameComponent",
        "generated": true
    },
    {
        "id": "sd_dxrVY9Rzxi5uTvHQ",
        "type": "Storage",
        "z": "sd_bHLkBtLZaWdcrwCz",
        "viewType": "client-pages",
        "nodeType": "flow",
        "name": "",
        "operationType": "getItem",
        "storageType": "sessionStorage",
        "outputs": 1,
        "key": {
            "type": "str",
            "value": "user"
        },
        "value": {},
        "resultMapping": {
            "type": "this.page",
            "value": "currentUser"
        },
        "functionName": "sd_dxrVY9Rzxi5uTvHQ",
        "category": "Storage",
        "x": 445,
        "y": 60,
        "wires": [
            [
                "sd_uRHW1CRPVztMBH4M"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "usernameComponent",
        "generated": true
    },
    {
        "id": "sd_GHFhBt0oZxdnQMSY",
        "type": "UseDependency",
        "z": "sd_bHLkBtLZaWdcrwCz",
        "viewType": "client-pages",
        "nodeType": "flow",
        "name": "",
        "inputs": 1,
        "outputs": 1,
        "property": "",
        "propertyType": "bh",
        "propertyGv": "bh.",
        "alias": "",
        "modules": [
            {
                "textIp": "Validators",
                "typedIpValue": {
                    "type": "this.page",
                    "value": ""
                },
                "injectable": false
            },
            {
                "textIp": "FormControl",
                "typedIpValue": {
                    "type": "this.page",
                    "value": ""
                },
                "injectable": false
            },
            {
                "textIp": "FormGroup",
                "typedIpValue": {
                    "type": "this.page",
                    "value": ""
                },
                "injectable": false
            }
        ],
        "import_all": false,
        "library": "@angular/forms",
        "serviceDesignerType": "pages",
        "functionName": "sd_GHFhBt0oZxdnQMSY",
        "category": "Function",
        "x": 145,
        "y": 60,
        "wires": [
            [
                "sd_nOdVft6eatxx7Ukt"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "usernameComponent",
        "generated": true
    },
    {
        "id": "sd_uRHW1CRPVztMBH4M",
        "type": "Script",
        "z": "sd_bHLkBtLZaWdcrwCz",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "script": "page.usernameForm = new FormGroup({\n    username: new FormControl(page.currentUser.username, [Validators.required]),\n})",
        "functionName": "sd_uRHW1CRPVztMBH4M",
        "category": "Function",
        "x": 545,
        "y": 60,
        "wires": [
            []
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "usernameComponent",
        "generated": true
    },
    {
        "id": "sd_8Y55FILZiHv0qHei",
        "type": "PageStart",
        "z": "sd_bHLkBtLZaWdcrwCz",
        "viewType": "pages",
        "nodeType": "start",
        "name": "Submit",
        "outputs": 1,
        "inputVariables": [],
        "localVariables": [],
        "flow_type": "sync",
        "functionName": "submit",
        "category": "General",
        "x": 65,
        "y": 380,
        "wires": [
            [
                "sd_C2YdxHcp1LpP8prO"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": true,
        "serviceName": "usernameComponent"
    },
    {
        "id": "sd_sGlzf6ICld962W6M",
        "type": "Environment",
        "z": "sd_bHLkBtLZaWdcrwCz",
        "viewType": "client-pages",
        "nodeType": "flow",
        "name": "",
        "outputs": 1,
        "envMaps": [
            {
                "flowVar": {
                    "type": "this.page",
                    "value": "ssdUrl"
                },
                "envProperty": "ssdURL"
            }
        ],
        "functionName": "sd_sGlzf6ICld962W6M",
        "category": "General",
        "x": 345,
        "y": 60,
        "wires": [
            [
                "sd_dxrVY9Rzxi5uTvHQ"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "usernameComponent",
        "generated": true
    },
    {
        "id": "sd_wYISw7qqKxA6Xq8m",
        "type": "HttpRequest",
        "z": "sd_bHLkBtLZaWdcrwCz",
        "viewType": "client-pages",
        "nodeType": "flow",
        "name": "",
        "method": "put",
        "methodMappingObj": {},
        "urlMapping": "bh.url",
        "urlMappingObj": {
            "mapVarType": "bh",
            "mapVarValue": "url"
        },
        "ret": "json",
        "retMappingObj": {},
        "observe": "",
        "observeMappingObj": {},
        "reportProgress": false,
        "withCreds": false,
        "reqBody": "bh.body",
        "reqBodyObj": {
            "mapVarType": "bh",
            "mapVarValue": "body"
        },
        "resultMapping": "this.page.result",
        "resultMappingObj": {
            "mapVarType": "this.page",
            "mapVarValue": "result"
        },
        "headers": {},
        "headersObj": [],
        "headerMappingObj": {},
        "params": {},
        "paramsObj": [],
        "paramMappingObj": {},
        "functionName": "sd_wYISw7qqKxA6Xq8m",
        "category": "HTTP",
        "x": 645,
        "y": 380,
        "wires": [
            [
                "sd_kIQus7sqVt4JlcDL"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "usernameComponent",
        "generated": true
    },
    {
        "id": "sd_PPlEqPGhsGPk0D3o",
        "type": "Storage",
        "z": "sd_bHLkBtLZaWdcrwCz",
        "viewType": "client-pages",
        "nodeType": "flow",
        "name": "Update Current User",
        "operationType": "setItem",
        "storageType": "sessionStorage",
        "outputs": 1,
        "key": {
            "type": "str",
            "value": "user"
        },
        "value": {
            "type": "this.page",
            "value": "currentUser"
        },
        "resultMapping": {},
        "functionName": "updateCurrentUser",
        "category": "Storage",
        "x": 845,
        "y": 380,
        "wires": [
            [
                "sd_BdkXBLh5tBYukSLx"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "usernameComponent",
        "generated": true
    },
    {
        "id": "sd_BdkXBLh5tBYukSLx",
        "type": "SnackBar",
        "z": "sd_bHLkBtLZaWdcrwCz",
        "viewType": "client-pages",
        "nodeType": "flow",
        "name": "",
        "message": {
            "type": "str",
            "value": "Username changed successfully!"
        },
        "action": {
            "type": "str",
            "value": "OK"
        },
        "duration": {
            "type": "num",
            "value": "3000"
        },
        "horizontalPosition": "center",
        "verticalPosition": "bottom",
        "panelClass": {
            "type": "str",
            "value": ""
        },
        "direction": "ltr",
        "functionName": "sd_BdkXBLh5tBYukSLx",
        "category": "General",
        "x": 945,
        "y": 380,
        "wires": [
            []
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "usernameComponent",
        "generated": true
    },
    {
        "id": "sd_C2YdxHcp1LpP8prO",
        "type": "Script",
        "z": "sd_bHLkBtLZaWdcrwCz",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "script": "bh.isEdittedName = false;\nif (page.usernameForm.value.username !== page.currentUser.username) {\n    bh.isEdittedName = true;\n}",
        "functionName": "sd_C2YdxHcp1LpP8prO",
        "category": "Function",
        "x": 165,
        "y": 380,
        "wires": [
            [
                "sd_4ZwmHMnhOLsTC6Gx"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "usernameComponent",
        "generated": true
    },
    {
        "id": "sd_URdKdlcrBtv6d2Sn",
        "type": "PageSwitch",
        "z": "sd_bHLkBtLZaWdcrwCz",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "property": "isEdittedName",
        "propertyType": "bh",
        "propertyGv": "bh.isEdittedName",
        "rules": [
            {
                "t": "true"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "false",
        "repair": false,
        "outputs": 2,
        "functionName": "sd_URdKdlcrBtv6d2Sn",
        "category": "Function",
        "x": 405,
        "y": 380,
        "wires": [
            [
                "sd_CHyEx4ZQtCVvlWFH"
            ],
            [
                "sd_gojr8id6OsIyxozo"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "usernameComponent",
        "generated": true
    },
    {
        "id": "sd_gojr8id6OsIyxozo",
        "type": "SnackBar",
        "z": "sd_bHLkBtLZaWdcrwCz",
        "viewType": "client-pages",
        "nodeType": "flow",
        "name": "",
        "message": {
            "type": "str",
            "value": "Username is not unique!"
        },
        "action": {
            "type": "str",
            "value": "Ok"
        },
        "duration": {
            "type": "num",
            "value": "3000"
        },
        "horizontalPosition": "center",
        "verticalPosition": "bottom",
        "panelClass": {
            "type": "str",
            "value": ""
        },
        "direction": "ltr",
        "functionName": "sd_gojr8id6OsIyxozo",
        "category": "General",
        "x": 505,
        "y": 460,
        "wires": [
            []
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "usernameComponent",
        "generated": true
    },
    {
        "id": "sd_4ZwmHMnhOLsTC6Gx",
        "type": "PageSwitch",
        "z": "sd_bHLkBtLZaWdcrwCz",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "property": "usernameForm.invalid",
        "propertyType": "this.page",
        "propertyGv": "this.page.usernameForm.invalid",
        "rules": [
            {
                "t": "else"
            },
            {
                "t": "true"
            }
        ],
        "checkall": "false",
        "repair": false,
        "outputs": 2,
        "functionName": "sd_4ZwmHMnhOLsTC6Gx",
        "category": "Function",
        "x": 265,
        "y": 380,
        "wires": [
            [
                "sd_URdKdlcrBtv6d2Sn"
            ],
            [
                "sd_aKj8O2pj357xkldt"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "usernameComponent",
        "generated": true
    },
    {
        "id": "sd_aKj8O2pj357xkldt",
        "type": "SnackBar",
        "z": "sd_bHLkBtLZaWdcrwCz",
        "viewType": "client-pages",
        "nodeType": "flow",
        "name": "",
        "message": {
            "type": "str",
            "value": "Field is required!"
        },
        "action": {
            "type": "str",
            "value": "Ok"
        },
        "duration": {
            "type": "num",
            "value": "3000"
        },
        "horizontalPosition": "center",
        "verticalPosition": "bottom",
        "panelClass": {
            "type": "str",
            "value": ""
        },
        "direction": "ltr",
        "functionName": "sd_aKj8O2pj357xkldt",
        "category": "General",
        "x": 365,
        "y": 480,
        "wires": [
            []
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "usernameComponent",
        "generated": true
    },
    {
        "id": "sd_CHyEx4ZQtCVvlWFH",
        "type": "Script",
        "z": "sd_bHLkBtLZaWdcrwCz",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "script": "page.showSpinner = true;\nbh.url = page.ssdUrl + 'update';\nbh.body = {\n    email: page.currentUser.email,\n    username: page.usernameForm.value.username,\n    collection: 'users'\n};\n\n\n",
        "functionName": "sd_CHyEx4ZQtCVvlWFH",
        "category": "Function",
        "x": 545,
        "y": 380,
        "wires": [
            [
                "sd_wYISw7qqKxA6Xq8m"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "usernameComponent",
        "generated": true
    },
    {
        "id": "sd_kIQus7sqVt4JlcDL",
        "type": "Script",
        "z": "sd_bHLkBtLZaWdcrwCz",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "script": "page.showSpinner = false;\npage.currentUser.username = page.usernameForm.value.username\n",
        "functionName": "sd_kIQus7sqVt4JlcDL",
        "category": "Function",
        "x": 745,
        "y": 380,
        "wires": [
            [
                "sd_PPlEqPGhsGPk0D3o"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "usernameComponent",
        "generated": true
    }
]
