designs/pages/view_transactions.json
[
    {
        "id": "sd_kp9oBTcqwP8tLzjP",
        "type": "tab",
        "createdDate": "2024-05-14T06:52:49.881Z",
        "label": "view_transactions",
        "disabled": false,
        "info": "",
        "functionSeq": 0,
        "generateNext": true,
        "serviceName": "view_transactionsComponent"
    },
    {
        "id": "sd_K5NHmbmLJZLJQmKr",
        "type": "OnInit",
        "z": "sd_kp9oBTcqwP8tLzjP",
        "viewType": "common",
        "nodeType": "start",
        "name": "",
        "functionName": "sd_K5NHmbmLJZLJQmKr",
        "category": "Lifecycle Events",
        "x": 45,
        "y": 40,
        "wires": [
            [
                "sd_kf5vK3nhsEfEJS6b"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": true,
        "serviceName": "view_transactionsComponent"
    },
    {
        "id": "sd_Sr7vn4Z7hXrVNx77",
        "type": "PageStart",
        "z": "sd_kp9oBTcqwP8tLzjP",
        "viewType": "pages",
        "nodeType": "start",
        "name": "go back",
        "outputs": 1,
        "inputVariables": [],
        "localVariables": [],
        "flow_type": "sync",
        "functionName": "goBack",
        "category": "General",
        "x": 105,
        "y": 180,
        "wires": [
            [
                "sd_3WsT5cgxjILzgAEg"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": true,
        "serviceName": "view_transactionsComponent"
    },
    {
        "id": "sd_DnMTqbMgscweVaTf",
        "type": "Script",
        "z": "sd_kp9oBTcqwP8tLzjP",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "script": "page.location.back()",
        "functionName": "sd_DnMTqbMgscweVaTf",
        "category": "Function",
        "x": 360,
        "y": 180,
        "wires": [
            []
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "view_transactionsComponent",
        "generated": true
    },
    {
        "id": "sd_3WsT5cgxjILzgAEg",
        "type": "UseDependency",
        "z": "sd_kp9oBTcqwP8tLzjP",
        "viewType": "client-pages",
        "nodeType": "flow",
        "name": "",
        "inputs": 1,
        "outputs": 1,
        "property": "",
        "propertyType": "bh",
        "propertyGv": "bh.",
        "alias": "",
        "modules": [
            {
                "textIp": "Location",
                "typedIpValue": {
                    "type": "this.page",
                    "value": "location"
                },
                "injectable": true
            }
        ],
        "import_all": false,
        "library": "@angular/common",
        "serviceDesignerType": "pages",
        "functionName": "sd_3WsT5cgxjILzgAEg",
        "category": "Function",
        "x": 225,
        "y": 180,
        "wires": [
            [
                "sd_DnMTqbMgscweVaTf"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "view_transactionsComponent",
        "generated": true
    },
    {
        "id": "sd_qgs1V0XSdLd3smGC",
        "type": "PageStart",
        "z": "sd_kp9oBTcqwP8tLzjP",
        "viewType": "pages",
        "nodeType": "start",
        "name": "go to search",
        "outputs": 1,
        "inputVariables": [],
        "localVariables": [],
        "flow_type": "sync",
        "functionName": "goToSearch",
        "category": "General",
        "x": 145,
        "y": 320,
        "wires": [
            [
                "sd_OiIEySJfDIqsnu5f"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": true,
        "serviceName": "view_transactionsComponent"
    },
    {
        "id": "sd_OiIEySJfDIqsnu5f",
        "type": "Navigation",
        "z": "sd_kp9oBTcqwP8tLzjP",
        "viewType": "client-pages",
        "nodeType": "flow",
        "name": "",
        "path": "/search",
        "pathMap": "",
        "pathparams": "",
        "pathparamsMap": "",
        "qparams": "",
        "qparamsMap": "",
        "qparamsArray": "",
        "resultMapping": "",
        "functionName": "sd_OiIEySJfDIqsnu5f",
        "category": "Navigation",
        "x": 285,
        "y": 320,
        "wires": [
            []
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "view_transactionsComponent",
        "generated": true
    },
    {
        "id": "sd_NO1swfx7Djl88TaU",
        "type": "HttpRequest",
        "z": "sd_kp9oBTcqwP8tLzjP",
        "viewType": "client-pages",
        "nodeType": "flow",
        "name": "getAirtime",
        "method": "get",
        "methodMappingObj": {},
        "urlMapping": "bh.url",
        "urlMappingObj": {
            "mapVarType": "bh",
            "mapVarValue": "url"
        },
        "ret": "json",
        "retMappingObj": {},
        "observe": "",
        "observeMappingObj": {},
        "reportProgress": false,
        "withCreds": false,
        "reqBodyObj": {
            "mapVarType": "this.page",
            "mapVarValue": ""
        },
        "resultMapping": "this.page.airtime",
        "resultMappingObj": {
            "mapVarType": "this.page",
            "mapVarValue": "airtime"
        },
        "headers": {},
        "headersObj": [],
        "headerMappingObj": {},
        "params": {},
        "paramsObj": [],
        "paramMappingObj": {},
        "functionName": "getAirtime",
        "category": "HTTP",
        "x": 485,
        "y": 40,
        "wires": [
            [
                "sd_ywShD8cOBT5apeHm"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "view_transactionsComponent",
        "generated": true
    },
    {
        "id": "sd_GFUVMLwhBkIKvPjv",
        "type": "Environment",
        "z": "sd_kp9oBTcqwP8tLzjP",
        "viewType": "client-pages",
        "nodeType": "flow",
        "name": "",
        "outputs": 1,
        "envMaps": [
            {
                "flowVar": {
                    "type": "this.page",
                    "value": "ssdURL"
                },
                "envProperty": "ssdURL"
            }
        ],
        "functionName": "sd_GFUVMLwhBkIKvPjv",
        "category": "General",
        "x": 225,
        "y": 40,
        "wires": [
            [
                "sd_6Ihta6dFH2WqedTq"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "view_transactionsComponent",
        "generated": true
    },
    {
        "id": "sd_UtIdsMpnbEzdy33G",
        "type": "Script",
        "z": "sd_kp9oBTcqwP8tLzjP",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "script": "bh.url = page.ssdURL + `get-airtime/${page.loggedInUser.email}`\nbh.url2 =  page.ssdURL + `get-electricity/${page.loggedInUser.email}`\nbh.url3 = page.ssdURL + `get-ewallet/${page.loggedInUser.email}`\nbh.url4 = page.ssdURL + `get-pay/${page.loggedInUser.email}`\nbh.url5 = page.ssdURL + `get-scan/${page.loggedInUser.email}`\n\nbh.body = {\n    \"email\": page.loggedInUser.email\n}\n\npage.showSpinner = true;\n\n\n",
        "functionName": "sd_UtIdsMpnbEzdy33G",
        "category": "Function",
        "x": 405,
        "y": 40,
        "wires": [
            [
                "sd_NO1swfx7Djl88TaU"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "view_transactionsComponent",
        "generated": true
    },
    {
        "id": "sd_ywShD8cOBT5apeHm",
        "type": "HttpRequest",
        "z": "sd_kp9oBTcqwP8tLzjP",
        "viewType": "client-pages",
        "nodeType": "flow",
        "name": "getElectricity",
        "method": "get",
        "methodMappingObj": {},
        "urlMapping": "bh.url2",
        "urlMappingObj": {
            "mapVarType": "bh",
            "mapVarValue": "url2"
        },
        "ret": "json",
        "retMappingObj": {},
        "observe": "",
        "observeMappingObj": {},
        "reportProgress": false,
        "withCreds": false,
        "reqBody": "bh.body",
        "reqBodyObj": {
            "mapVarType": "bh",
            "mapVarValue": "body"
        },
        "resultMapping": "this.page.electricity",
        "resultMappingObj": {
            "mapVarType": "this.page",
            "mapVarValue": "electricity"
        },
        "headers": {},
        "headersObj": [],
        "headerMappingObj": {},
        "params": {},
        "paramsObj": [],
        "paramMappingObj": {},
        "functionName": "getElectricity",
        "category": "HTTP",
        "x": 605,
        "y": 40,
        "wires": [
            [
                "sd_lNXTuv9JhUg8NEh8"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "view_transactionsComponent",
        "generated": true
    },
    {
        "id": "sd_lNXTuv9JhUg8NEh8",
        "type": "HttpRequest",
        "z": "sd_kp9oBTcqwP8tLzjP",
        "viewType": "client-pages",
        "nodeType": "flow",
        "name": "getEwallet",
        "method": "get",
        "methodMappingObj": {},
        "urlMapping": "bh.url3",
        "urlMappingObj": {
            "mapVarType": "bh",
            "mapVarValue": "url3"
        },
        "ret": "json",
        "retMappingObj": {},
        "observe": "",
        "observeMappingObj": {},
        "reportProgress": false,
        "withCreds": false,
        "reqBodyObj": {
            "mapVarType": "this.page",
            "mapVarValue": ""
        },
        "resultMapping": "this.page.ewallet",
        "resultMappingObj": {
            "mapVarType": "this.page",
            "mapVarValue": "ewallet"
        },
        "headers": {},
        "headersObj": [],
        "headerMappingObj": {},
        "params": {},
        "paramsObj": [],
        "paramMappingObj": {},
        "functionName": "getEwallet",
        "category": "HTTP",
        "x": 705,
        "y": 40,
        "wires": [
            [
                "sd_Yu8yEAuVIKQrq9PN"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "view_transactionsComponent",
        "generated": true
    },
    {
        "id": "sd_Yu8yEAuVIKQrq9PN",
        "type": "HttpRequest",
        "z": "sd_kp9oBTcqwP8tLzjP",
        "viewType": "client-pages",
        "nodeType": "flow",
        "name": "getPay",
        "method": "get",
        "methodMappingObj": {},
        "urlMapping": "bh.url4",
        "urlMappingObj": {
            "mapVarType": "bh",
            "mapVarValue": "url4"
        },
        "ret": "json",
        "retMappingObj": {},
        "observe": "",
        "observeMappingObj": {},
        "reportProgress": false,
        "withCreds": false,
        "reqBody": "bh.body",
        "reqBodyObj": {
            "mapVarType": "bh",
            "mapVarValue": "body"
        },
        "resultMapping": "this.page.pay",
        "resultMappingObj": {
            "mapVarType": "this.page",
            "mapVarValue": "pay"
        },
        "headers": {},
        "headersObj": [],
        "headerMappingObj": {},
        "params": {},
        "paramsObj": [],
        "paramMappingObj": {},
        "functionName": "getPay",
        "category": "HTTP",
        "x": 805,
        "y": 40,
        "wires": [
            [
                "sd_iGTVKxedK2f0tho1"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "view_transactionsComponent",
        "generated": true
    },
    {
        "id": "sd_6Ihta6dFH2WqedTq",
        "type": "Storage",
        "z": "sd_kp9oBTcqwP8tLzjP",
        "viewType": "client-pages",
        "nodeType": "flow",
        "name": "",
        "operationType": "getItem",
        "storageType": "sessionStorage",
        "outputs": 1,
        "key": {
            "type": "str",
            "value": "user"
        },
        "value": {},
        "resultMapping": {
            "type": "this.page",
            "value": "loggedInUser"
        },
        "functionName": "sd_6Ihta6dFH2WqedTq",
        "category": "Storage",
        "x": 320,
        "y": 40,
        "wires": [
            [
                "sd_UtIdsMpnbEzdy33G"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "view_transactionsComponent",
        "generated": true
    },
    {
        "id": "sd_QXMibve5VdwFRL9r",
        "type": "Script",
        "z": "sd_kp9oBTcqwP8tLzjP",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "script": "page.showSpinner = false;",
        "functionName": "sd_QXMibve5VdwFRL9r",
        "category": "Function",
        "x": 965,
        "y": 40,
        "wires": [
            [
                "sd_4oYRr5H41YvEZUZT"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "view_transactionsComponent",
        "generated": true
    },
    {
        "id": "sd_iGTVKxedK2f0tho1",
        "type": "HttpRequest",
        "z": "sd_kp9oBTcqwP8tLzjP",
        "viewType": "client-pages",
        "nodeType": "flow",
        "name": "getScan",
        "method": "get",
        "methodMappingObj": {},
        "urlMapping": "bh.url5",
        "urlMappingObj": {
            "mapVarType": "bh",
            "mapVarValue": "url5"
        },
        "ret": "json",
        "retMappingObj": {},
        "observe": "",
        "observeMappingObj": {},
        "reportProgress": false,
        "withCreds": false,
        "reqBodyObj": {
            "mapVarType": "this.page",
            "mapVarValue": ""
        },
        "resultMapping": "this.page.scan",
        "resultMappingObj": {
            "mapVarType": "this.page",
            "mapVarValue": "scan"
        },
        "headers": {},
        "headersObj": [],
        "headerMappingObj": {},
        "params": {},
        "paramsObj": [],
        "paramMappingObj": {},
        "functionName": "getScan",
        "category": "HTTP",
        "x": 885,
        "y": 40,
        "wires": [
            [
                "sd_QXMibve5VdwFRL9r"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "view_transactionsComponent",
        "generated": true
    },
    {
        "id": "sd_4oYRr5H41YvEZUZT",
        "type": "PageVariables",
        "z": "sd_kp9oBTcqwP8tLzjP",
        "viewType": "pages",
        "nodeType": "flow",
        "name": "",
        "inputs": 1,
        "outputs": 1,
        "operation": "set",
        "globalVariables": [
            {
                "textIp": "electricityArr",
                "typedIpValue": {
                    "type": "this.page",
                    "value": "electricity"
                }
            },
            {
                "textIp": "airtimeArr",
                "typedIpValue": {
                    "type": "this.page",
                    "value": "airtime"
                }
            },
            {
                "textIp": "scanArr",
                "typedIpValue": {
                    "type": "this.page",
                    "value": "scan"
                }
            },
            {
                "textIp": "payArr",
                "typedIpValue": {
                    "type": "this.page",
                    "value": "pay"
                }
            },
            {
                "textIp": "eWalletArr",
                "typedIpValue": {
                    "type": "this.page",
                    "value": "ewallet"
                }
            }
        ],
        "functionName": "sd_4oYRr5H41YvEZUZT",
        "category": "Function",
        "x": 1065,
        "y": 40,
        "wires": [
            []
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "view_transactionsComponent",
        "generated": true
    },
    {
        "id": "sd_ZBBG9MMOgDqDwzZG",
        "type": "Log",
        "z": "sd_kp9oBTcqwP8tLzjP",
        "viewType": "client-pages",
        "nodeType": "flow",
        "name": "",
        "outputs": 0,
        "logObject": "this.page.pay",
        "functionName": "sd_ZBBG9MMOgDqDwzZG",
        "category": "General",
        "x": 885,
        "y": 140,
        "wires": [],
        "__ssdTypeInputs__": {
            "logObject": {
                "type": "this.page",
                "value": "pay",
                "constant": false
            }
        },
        "__n_excludedFromValidation__": {},
        "generateNext": true,
        "serviceName": "view_transactionsComponent"
    },
    {
        "id": "sd_kf5vK3nhsEfEJS6b",
        "type": "PageVariables",
        "z": "sd_kp9oBTcqwP8tLzjP",
        "viewType": "pages",
        "nodeType": "flow",
        "name": "",
        "inputs": 1,
        "outputs": 1,
        "operation": "set",
        "globalVariables": [
            {
                "textIp": "showSpinner",
                "typedIpValue": {
                    "type": "literal",
                    "value": "false"
                }
            }
        ],
        "functionName": "sd_kf5vK3nhsEfEJS6b",
        "category": "Function",
        "x": 140,
        "y": 40,
        "wires": [
            [
                "sd_GFUVMLwhBkIKvPjv"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "view_transactionsComponent",
        "generated": true
    }
]
