designs/pages/features/buy_electricity.json
[
    {
        "id": "sd_zfSgx6DaziJIt7ws",
        "type": "tab",
        "createdDate": "2024-05-16T06:14:36.802Z",
        "label": "buy_electricity",
        "disabled": false,
        "info": "",
        "functionSeq": 0,
        "generateNext": true,
        "serviceName": "buy_electricityComponent"
    },
    {
        "id": "sd_ZwPp3oGDVg1iIWd4",
        "type": "OnInit",
        "z": "sd_zfSgx6DaziJIt7ws",
        "viewType": "common",
        "nodeType": "start",
        "name": "",
        "functionName": "sd_ZwPp3oGDVg1iIWd4",
        "category": "Lifecycle Events",
        "x": 45,
        "y": 40,
        "wires": [
            [
                "sd_IfSSwRERBH4XQxJH"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": true,
        "serviceName": "buy_electricityComponent"
    },
    {
        "id": "sd_WflFAq94qqVyQOV6",
        "type": "PageVariables",
        "z": "sd_zfSgx6DaziJIt7ws",
        "viewType": "pages",
        "nodeType": "flow",
        "name": "",
        "inputs": 1,
        "outputs": 1,
        "operation": "set",
        "globalVariables": [
            {
                "textIp": "quote",
                "typedIpValue": {
                    "type": "literal",
                    "value": ""
                }
            },
            {
                "textIp": "showSpinner",
                "typedIpValue": {
                    "type": "literal",
                    "value": "false"
                }
            }
        ],
        "functionName": "sd_WflFAq94qqVyQOV6",
        "category": "Function",
        "x": 245,
        "y": 40,
        "wires": [
            [
                "sd_mHUWSZ76nH2kyQwZ"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "buy_electricityComponent",
        "generated": true
    },
    {
        "id": "sd_wTwI5KXp8W9baa6R",
        "type": "PageStart",
        "z": "sd_zfSgx6DaziJIt7ws",
        "viewType": "pages",
        "nodeType": "start",
        "name": "go back",
        "outputs": 1,
        "inputVariables": [],
        "localVariables": [],
        "flow_type": "sync",
        "functionName": "goBack",
        "category": "General",
        "x": 85,
        "y": 380,
        "wires": [
            [
                "sd_PWsTbDR05jXbzKTy"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": true,
        "serviceName": "buy_electricityComponent"
    },
    {
        "id": "sd_YWfVfFZvLk9wAyQu",
        "type": "Script",
        "z": "sd_zfSgx6DaziJIt7ws",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "script": "page.location.back()\n",
        "functionName": "sd_YWfVfFZvLk9wAyQu",
        "category": "Function",
        "x": 325,
        "y": 380,
        "wires": [
            []
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "buy_electricityComponent",
        "generated": true
    },
    {
        "id": "sd_PWsTbDR05jXbzKTy",
        "type": "UseDependency",
        "z": "sd_zfSgx6DaziJIt7ws",
        "viewType": "client-pages",
        "nodeType": "flow",
        "name": "",
        "inputs": 1,
        "outputs": 1,
        "property": "",
        "propertyType": "bh",
        "propertyGv": "bh.",
        "alias": "",
        "modules": [
            {
                "textIp": "Location",
                "typedIpValue": {
                    "type": "this.page",
                    "value": "location"
                },
                "injectable": true
            }
        ],
        "import_all": false,
        "library": "@angular/common",
        "serviceDesignerType": "pages",
        "functionName": "sd_PWsTbDR05jXbzKTy",
        "category": "Function",
        "x": 185,
        "y": 380,
        "wires": [
            [
                "sd_YWfVfFZvLk9wAyQu"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "buy_electricityComponent",
        "generated": true
    },
    {
        "id": "sd_QJljhIzH0nQatkB8",
        "type": "PageStart",
        "z": "sd_zfSgx6DaziJIt7ws",
        "viewType": "pages",
        "nodeType": "start",
        "name": "submit",
        "outputs": 1,
        "inputVariables": [
            {
                "key": "form",
                "defaultValue": {
                    "type": "any",
                    "value": ""
                },
                "output": false
            }
        ],
        "localVariables": [],
        "flow_type": "sync",
        "functionName": "submit",
        "category": "General",
        "x": 25,
        "y": 160,
        "wires": [
            [
                "sd_3FuyYvLatFAEaCYY"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": true,
        "serviceName": "buy_electricityComponent"
    },
    {
        "id": "sd_eXX8BsfxhmCCZceN",
        "type": "PageCallService",
        "z": "sd_zfSgx6DaziJIt7ws",
        "viewType": "pages",
        "nodeType": "flow",
        "name": "",
        "outputs": 1,
        "isValidNode": true,
        "noerr": 0,
        "service": {
            "id": "sd_O7BgeFkazhosv8N2",
            "type": "tab",
            "createdDate": "2024-05-14T08:16:55.985Z",
            "label": "common",
            "disabled": false,
            "info": "",
            "functionSeq": 0,
            "tabType": "client"
        },
        "flow": {
            "flowId": "sd_vO7ZpSwQ0nvvbLo3",
            "flowName": "update"
        },
        "inputVariables": [
            {
                "key": "newQuote",
                "map": true,
                "valueType": "this.page",
                "value": "quote"
            }
        ],
        "outputMapping": [],
        "serviceImportPath": "app/sd-services/common",
        "startName": "update",
        "inputParams": [
            "this.page.quote"
        ],
        "accept_bh": false,
        "accept_csd": true,
        "functionName": "sd_eXX8BsfxhmCCZceN",
        "category": "General",
        "x": 565,
        "y": 380,
        "wires": [
            []
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": true,
        "serviceName": "buy_electricityComponent"
    },
    {
        "id": "sd_zz43ZgH2Icyxac5u",
        "type": "Script",
        "z": "sd_zfSgx6DaziJIt7ws",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "script": "// console.log(\"new bh :\", bh.currentQuote.input.newQuote)\npage.currentQuote = page.loggedInUser.balance;\n\nconst date = new Date();\n\nconst day = date.getDate();\nconst month = date.toLocaleString('default', { month: 'long' });\nconst year = date.getFullYear();\nconst hours = String(date.getHours()).padStart(2, '0');\nconst minutes = String(date.getMinutes()).padStart(2, '0');\n\npage.formattedDate = `${day} ${month} ${year} ${hours}:${minutes}`;\n\nbh.date = new Date().getTime()\n\npage.electricityForm = new FormGroup({\n    customer:  new FormControl(page.loggedInUser.name),\n    meterNumber: new FormControl('', Validators.required),\n    amount: new FormControl('', Validators.required),\n    cellphone: new FormControl('', Validators.required),\n    email: new FormControl(page.loggedInUser.email),\n    transType:new FormControl(\"electricity\"),\n    transDate: new FormControl(bh.date)\n})\n",
        "functionName": "sd_zz43ZgH2Icyxac5u",
        "category": "Function",
        "x": 465,
        "y": 40,
        "wires": [
            []
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "buy_electricityComponent",
        "generated": true
    },
    {
        "id": "sd_mHUWSZ76nH2kyQwZ",
        "type": "Storage",
        "z": "sd_zfSgx6DaziJIt7ws",
        "viewType": "client-pages",
        "nodeType": "flow",
        "name": "",
        "operationType": "getItem",
        "storageType": "sessionStorage",
        "outputs": 1,
        "key": {
            "type": "str",
            "value": "user"
        },
        "value": {},
        "resultMapping": {
            "type": "this.page",
            "value": "loggedInUser"
        },
        "functionName": "sd_mHUWSZ76nH2kyQwZ",
        "category": "Storage",
        "x": 345,
        "y": 40,
        "wires": [
            [
                "sd_zz43ZgH2Icyxac5u"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "buy_electricityComponent",
        "generated": true
    },
    {
        "id": "sd_IfSSwRERBH4XQxJH",
        "type": "UseDependency",
        "z": "sd_zfSgx6DaziJIt7ws",
        "viewType": "client-pages",
        "nodeType": "flow",
        "name": "",
        "inputs": 1,
        "outputs": 1,
        "property": "",
        "propertyType": "bh",
        "propertyGv": "bh.",
        "alias": "",
        "modules": [
            {
                "textIp": "FormControl",
                "typedIpValue": {
                    "type": "this.page",
                    "value": ""
                },
                "injectable": false
            },
            {
                "textIp": "FormGroup",
                "typedIpValue": {
                    "type": "this.page",
                    "value": ""
                },
                "injectable": false
            },
            {
                "textIp": "Validators",
                "typedIpValue": {
                    "type": "this.page",
                    "value": ""
                },
                "injectable": false
            }
        ],
        "import_all": false,
        "library": "@angular/forms",
        "serviceDesignerType": "pages",
        "functionName": "sd_IfSSwRERBH4XQxJH",
        "category": "Function",
        "x": 165,
        "y": 40,
        "wires": [
            [
                "sd_WflFAq94qqVyQOV6"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "buy_electricityComponent",
        "generated": true
    },
    {
        "id": "sd_uuViWYba2ueOJw37",
        "type": "Script",
        "z": "sd_zfSgx6DaziJIt7ws",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "script": "page.loggedInUser.balance = page.loggedInUser.balance - page.electricityForm.value.amount;",
        "functionName": "sd_uuViWYba2ueOJw37",
        "category": "Function",
        "x": 405,
        "y": 160,
        "wires": [
            [
                "sd_ZNL962tT5IeCTqBZ"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "buy_electricityComponent",
        "generated": true
    },
    {
        "id": "sd_ZNL962tT5IeCTqBZ",
        "type": "Storage",
        "z": "sd_zfSgx6DaziJIt7ws",
        "viewType": "client-pages",
        "nodeType": "flow",
        "name": "",
        "operationType": "setItem",
        "storageType": "sessionStorage",
        "outputs": 1,
        "key": {
            "type": "str",
            "value": "user"
        },
        "value": {
            "type": "this.page",
            "value": "loggedInUser"
        },
        "resultMapping": {},
        "functionName": "sd_ZNL962tT5IeCTqBZ",
        "category": "Storage",
        "x": 505,
        "y": 160,
        "wires": [
            [
                "sd_OXfSViGaz0gjW5Jn"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "buy_electricityComponent",
        "generated": true
    },
    {
        "id": "sd_21gHL2xhMj3IYVca",
        "type": "Navigation",
        "z": "sd_zfSgx6DaziJIt7ws",
        "viewType": "client-pages",
        "nodeType": "flow",
        "name": "",
        "path": "/bank",
        "pathMap": "",
        "pathparams": "",
        "pathparamsMap": "",
        "qparams": "",
        "qparamsMap": "",
        "qparamsArray": "",
        "resultMapping": "",
        "functionName": "sd_21gHL2xhMj3IYVca",
        "category": "Navigation",
        "x": 1285,
        "y": 160,
        "wires": [
            []
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "buy_electricityComponent",
        "generated": true
    },
    {
        "id": "sd_OXfSViGaz0gjW5Jn",
        "type": "Environment",
        "z": "sd_zfSgx6DaziJIt7ws",
        "viewType": "client-pages",
        "nodeType": "flow",
        "name": "",
        "outputs": 1,
        "envMaps": [
            {
                "flowVar": {
                    "type": "this.page",
                    "value": "ssdURL"
                },
                "envProperty": "ssdURL"
            }
        ],
        "functionName": "sd_OXfSViGaz0gjW5Jn",
        "category": "General",
        "x": 605,
        "y": 160,
        "wires": [
            [
                "sd_Vy7Re1ff3VKGjGux"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "buy_electricityComponent",
        "generated": true
    },
    {
        "id": "sd_cfsMwgXg1D8NTyNt",
        "type": "HttpRequest",
        "z": "sd_zfSgx6DaziJIt7ws",
        "viewType": "client-pages",
        "nodeType": "flow",
        "name": "buy-post",
        "method": "post",
        "methodMapping": "",
        "methodMappingObj": {},
        "urlMapping": "bh.url",
        "urlMappingObj": {
            "mapVarType": "bh",
            "mapVarValue": "url"
        },
        "ret": "json",
        "retMapping": "",
        "retMappingObj": {},
        "observe": "",
        "observeMapping": "",
        "observeMappingObj": {},
        "reportProgress": false,
        "withCreds": false,
        "reqBody": "bh.body",
        "reqBodyObj": {
            "mapVarType": "bh",
            "mapVarValue": "body"
        },
        "resultMapping": "this.page.result",
        "resultMappingObj": {
            "mapVarType": "this.page",
            "mapVarValue": "result"
        },
        "headers": {},
        "headersObj": [],
        "headerMapping": "",
        "headerMappingObj": {},
        "params": {},
        "paramsObj": [],
        "paramMapping": "",
        "paramMappingObj": {},
        "functionName": "buyPost",
        "category": "HTTP",
        "x": 785,
        "y": 160,
        "wires": [
            [
                "sd_lk2FRezJkeUEMuOc"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "buy_electricityComponent",
        "generated": true
    },
    {
        "id": "sd_Vy7Re1ff3VKGjGux",
        "type": "Script",
        "z": "sd_zfSgx6DaziJIt7ws",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "script": "bh.url = page.ssdURL + \"buy-electricity\"\nbh.url_update = page.ssdURL + \"update\"\nbh.url_user = page.ssdURL + \"get-users\"\n\n\nbh.body = page.electricityForm.value\n\nbh.body2 = {\n    email: page.loggedInUser.email,\n    collection: 'users',\n    balance: page.loggedInUser.balance\n}",
        "functionName": "sd_Vy7Re1ff3VKGjGux",
        "category": "Function",
        "x": 705,
        "y": 160,
        "wires": [
            [
                "sd_cfsMwgXg1D8NTyNt"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "buy_electricityComponent",
        "generated": true
    },
    {
        "id": "sd_lk2FRezJkeUEMuOc",
        "type": "HttpRequest",
        "z": "sd_zfSgx6DaziJIt7ws",
        "viewType": "client-pages",
        "nodeType": "flow",
        "name": "update",
        "method": "put",
        "methodMapping": "",
        "methodMappingObj": {},
        "urlMapping": "bh.url_update",
        "urlMappingObj": {
            "mapVarType": "bh",
            "mapVarValue": "url_update"
        },
        "ret": "json",
        "retMapping": "",
        "retMappingObj": {},
        "observe": "",
        "observeMapping": "",
        "observeMappingObj": {},
        "reportProgress": false,
        "withCreds": false,
        "reqBody": "bh.body2",
        "reqBodyObj": {
            "mapVarType": "bh",
            "mapVarValue": "body2"
        },
        "resultMapping": "this.page.update",
        "resultMappingObj": {
            "mapVarType": "this.page",
            "mapVarValue": "update"
        },
        "headers": {},
        "headersObj": [],
        "headerMapping": "",
        "headerMappingObj": {},
        "params": {},
        "paramsObj": [],
        "paramMapping": "",
        "paramMappingObj": {},
        "functionName": "update",
        "category": "HTTP",
        "x": 865,
        "y": 160,
        "wires": [
            [
                "sd_J4DFmjGIhq6tmnVs"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "buy_electricityComponent",
        "generated": true
    },
    {
        "id": "sd_86j6RevOd8e3ZKkO",
        "type": "SnackBar",
        "z": "sd_zfSgx6DaziJIt7ws",
        "viewType": "client-pages",
        "nodeType": "flow",
        "name": "",
        "message": {
            "type": "str",
            "value": "Purchase Successful"
        },
        "action": {
            "type": "str",
            "value": "Ok"
        },
        "duration": {
            "type": "num",
            "value": "3000"
        },
        "horizontalPosition": "center",
        "horizontalPositionMap": "",
        "verticalPosition": "bottom",
        "verticalPositionMap": "",
        "panelClass": {
            "type": "str",
            "value": ""
        },
        "direction": "ltr",
        "functionName": "sd_86j6RevOd8e3ZKkO",
        "category": "General",
        "x": 1205,
        "y": 160,
        "wires": [
            [
                "sd_21gHL2xhMj3IYVca"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "buy_electricityComponent",
        "generated": true
    },
    {
        "id": "sd_lmOQOnE9gGW0Jqxz",
        "type": "SnackBar",
        "z": "sd_zfSgx6DaziJIt7ws",
        "viewType": "client-pages",
        "nodeType": "flow",
        "name": "",
        "message": {
            "type": "str",
            "value": "Insufficent funds"
        },
        "action": {
            "type": "str",
            "value": "Ok"
        },
        "duration": {
            "type": "num",
            "value": "3000"
        },
        "horizontalPosition": "center",
        "horizontalPositionMap": "",
        "verticalPosition": "bottom",
        "verticalPositionMap": "",
        "panelClass": {
            "type": "str",
            "value": ""
        },
        "direction": "ltr",
        "functionName": "sd_lmOQOnE9gGW0Jqxz",
        "category": "General",
        "x": 385,
        "y": 240,
        "wires": [
            [
                "sd_SrvyCFRE6hVopx2K"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "buy_electricityComponent",
        "generated": true
    },
    {
        "id": "sd_7cVyguTzWL9kbtS0",
        "type": "PageSwitch",
        "z": "sd_zfSgx6DaziJIt7ws",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "property": "loggedInUser.balance",
        "propertyType": "this.page",
        "propertyGv": "this.page.loggedInUser.balance",
        "rules": [
            {
                "t": "gte",
                "v": "electricityForm.value.amount",
                "vt": "this.page",
                "gv": "this.page.electricityForm.value.amount"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "false",
        "repair": false,
        "outputs": 2,
        "functionName": "sd_7cVyguTzWL9kbtS0",
        "category": "Function",
        "x": 305,
        "y": 160,
        "wires": [
            [
                "sd_uuViWYba2ueOJw37"
            ],
            [
                "sd_lmOQOnE9gGW0Jqxz"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "buy_electricityComponent",
        "generated": true
    },
    {
        "id": "sd_KBRZtw4iiZARs8GS",
        "type": "PageSwitch",
        "z": "sd_zfSgx6DaziJIt7ws",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "property": "electricityForm.status",
        "propertyType": "this.page",
        "propertyGv": "this.page.electricityForm.status",
        "rules": [
            {
                "t": "eq",
                "v": "VALID",
                "vt": "str",
                "gv": "\"VALID\""
            },
            {
                "t": "else"
            }
        ],
        "checkall": "false",
        "repair": false,
        "outputs": 2,
        "functionName": "sd_KBRZtw4iiZARs8GS",
        "category": "Function",
        "x": 185,
        "y": 160,
        "wires": [
            [
                "sd_7cVyguTzWL9kbtS0"
            ],
            [
                "sd_PgTZ58JiDkGAIVFP"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "buy_electricityComponent",
        "generated": true
    },
    {
        "id": "sd_PgTZ58JiDkGAIVFP",
        "type": "SnackBar",
        "z": "sd_zfSgx6DaziJIt7ws",
        "viewType": "client-pages",
        "nodeType": "flow",
        "name": "",
        "message": {
            "type": "str",
            "value": "Please fill in the empty fields"
        },
        "action": {
            "type": "str",
            "value": "OK"
        },
        "duration": {
            "type": "num",
            "value": "3000"
        },
        "horizontalPosition": "center",
        "verticalPosition": "bottom",
        "panelClass": {
            "type": "str",
            "value": ""
        },
        "direction": "ltr",
        "functionName": "sd_PgTZ58JiDkGAIVFP",
        "category": "General",
        "x": 205,
        "y": 260,
        "wires": [
            [
                "sd_125ExBii1ZdSTOZ6"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "buy_electricityComponent",
        "generated": true
    },
    {
        "id": "sd_3FuyYvLatFAEaCYY",
        "type": "Script",
        "z": "sd_zfSgx6DaziJIt7ws",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "script": "page.showSpinner = true",
        "functionName": "sd_3FuyYvLatFAEaCYY",
        "category": "Function",
        "x": 105,
        "y": 160,
        "wires": [
            [
                "sd_KBRZtw4iiZARs8GS"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "buy_electricityComponent",
        "generated": true
    },
    {
        "id": "sd_J4DFmjGIhq6tmnVs",
        "type": "HttpRequest",
        "z": "sd_zfSgx6DaziJIt7ws",
        "viewType": "client-pages",
        "nodeType": "flow",
        "name": "get user",
        "method": "get",
        "methodMapping": "",
        "methodMappingObj": {},
        "urlMapping": "bh.url_user",
        "urlMappingObj": {
            "mapVarType": "bh",
            "mapVarValue": "url_user"
        },
        "ret": "json",
        "retMapping": "",
        "retMappingObj": {},
        "observe": "",
        "observeMapping": "",
        "observeMappingObj": {},
        "reportProgress": false,
        "withCreds": false,
        "reqBody": "",
        "reqBodyObj": {
            "mapVarType": "bh",
            "mapVarValue": ""
        },
        "resultMapping": "this.page.get_user",
        "resultMappingObj": {
            "mapVarType": "this.page",
            "mapVarValue": "get_user"
        },
        "headers": {},
        "headersObj": [],
        "headerMapping": "",
        "headerMappingObj": {},
        "params": {},
        "paramsObj": [],
        "paramMapping": "",
        "paramMappingObj": {},
        "functionName": "getUser",
        "category": "HTTP",
        "x": 945,
        "y": 160,
        "wires": [
            [
                "sd_Rt05YTmeLNTPXNTh"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "buy_electricityComponent",
        "generated": true
    },
    {
        "id": "sd_Rt05YTmeLNTPXNTh",
        "type": "Script",
        "z": "sd_zfSgx6DaziJIt7ws",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "script": "bh.found = page.get_user.find((user:any) => {\n    return user.email == page.loggedInUser.email\n})\n\npage.showSpinner = false\n",
        "functionName": "sd_Rt05YTmeLNTPXNTh",
        "category": "Function",
        "x": 1045,
        "y": 160,
        "wires": [
            [
                "sd_ZKQPTBamrzGHxSgI"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "buy_electricityComponent",
        "generated": true
    },
    {
        "id": "sd_ZKQPTBamrzGHxSgI",
        "type": "Storage",
        "z": "sd_zfSgx6DaziJIt7ws",
        "viewType": "client-pages",
        "nodeType": "flow",
        "name": "",
        "operationType": "setItem",
        "storageType": "sessionStorage",
        "outputs": 1,
        "key": {
            "type": "str",
            "value": "user"
        },
        "value": {
            "type": "bh",
            "value": "found"
        },
        "resultMapping": {},
        "functionName": "sd_ZKQPTBamrzGHxSgI",
        "category": "Storage",
        "x": 1125,
        "y": 160,
        "wires": [
            [
                "sd_86j6RevOd8e3ZKkO"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "buy_electricityComponent",
        "generated": true
    },
    {
        "id": "sd_pa0RfEjLU5Ic3COL",
        "type": "PageStart",
        "z": "sd_zfSgx6DaziJIt7ws",
        "viewType": "pages",
        "nodeType": "start",
        "name": "allowNumbers",
        "outputs": 1,
        "inputVariables": [
            {
                "key": "event",
                "defaultValue": {
                    "type": "any",
                    "value": ""
                },
                "output": false
            }
        ],
        "localVariables": [],
        "flow_type": "sync",
        "functionName": "allowNumbers",
        "category": "General",
        "x": 85,
        "y": 500,
        "wires": [
            [
                "sd_vf9jthAVSFYPJbwi"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": true,
        "serviceName": "buy_electricityComponent"
    },
    {
        "id": "sd_vf9jthAVSFYPJbwi",
        "type": "Script",
        "z": "sd_zfSgx6DaziJIt7ws",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "script": "bh.allowedKeys = ['Backspace', 'ArrowLeft', 'ArrowRight', 'Delete', 'Control']; // Add any other allowed keys here\n    if (bh.allowedKeys.includes(bh.input.event.key) || (bh.input.event.ctrlKey && (bh.input.event.key === 'v' || bh.input.event.key === 'c'))) {\n      return; // Allow these keys\n    }\n\n   \n\n\n    if (!/^\\d$/.test(bh.input.event.key)) {\n      bh.input.event.preventDefault(); // Prevent non-numeric keys\n    }",
        "functionName": "sd_vf9jthAVSFYPJbwi",
        "category": "Function",
        "x": 170,
        "y": 500,
        "wires": [
            []
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "buy_electricityComponent",
        "generated": true
    },
    {
        "id": "sd_SrvyCFRE6hVopx2K",
        "type": "Script",
        "z": "sd_zfSgx6DaziJIt7ws",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "script": "page.showSpinner = false;",
        "functionName": "sd_SrvyCFRE6hVopx2K",
        "category": "Function",
        "x": 465,
        "y": 240,
        "wires": [
            []
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "buy_electricityComponent",
        "generated": true
    },
    {
        "id": "sd_125ExBii1ZdSTOZ6",
        "type": "Script",
        "z": "sd_zfSgx6DaziJIt7ws",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "script": "page.showSpinner = false;",
        "functionName": "sd_125ExBii1ZdSTOZ6",
        "category": "Function",
        "x": 285,
        "y": 260,
        "wires": [
            []
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "buy_electricityComponent",
        "generated": true
    }
]
