designs/pages/features/ewallet.json
[
    {
        "id": "sd_lgtChNQJf2qX02UG",
        "type": "tab",
        "createdDate": "2024-05-16T18:08:30.413Z",
        "label": "ewallet",
        "disabled": false,
        "info": "",
        "functionSeq": 0,
        "generateNext": true,
        "serviceName": "ewalletComponent"
    },
    {
        "id": "sd_RN7hllGaoHFIGKfZ",
        "type": "OnInit",
        "z": "sd_lgtChNQJf2qX02UG",
        "viewType": "common",
        "nodeType": "start",
        "name": "",
        "functionName": "sd_RN7hllGaoHFIGKfZ",
        "category": "Lifecycle Events",
        "x": 45,
        "y": 60,
        "wires": [
            [
                "sd_kTNhpdwIUiB5YW4A"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": true,
        "serviceName": "ewalletComponent"
    },
    {
        "id": "sd_1phC2MwaB28CR0D4",
        "type": "PageStart",
        "z": "sd_lgtChNQJf2qX02UG",
        "viewType": "pages",
        "nodeType": "start",
        "name": "go back",
        "outputs": 1,
        "inputVariables": [],
        "localVariables": [],
        "flow_type": "sync",
        "functionName": "goBack",
        "category": "General",
        "x": 225,
        "y": 180,
        "wires": [
            [
                "sd_YtZwxNvBGKIYKDPj"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": true,
        "serviceName": "ewalletComponent"
    },
    {
        "id": "sd_TqH897bC0nz3OEUT",
        "type": "Script",
        "z": "sd_lgtChNQJf2qX02UG",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "script": "page.location.back()\n",
        "functionName": "sd_TqH897bC0nz3OEUT",
        "category": "Function",
        "x": 480,
        "y": 180,
        "wires": [
            []
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "ewalletComponent",
        "generated": true
    },
    {
        "id": "sd_YtZwxNvBGKIYKDPj",
        "type": "UseDependency",
        "z": "sd_lgtChNQJf2qX02UG",
        "viewType": "client-pages",
        "nodeType": "flow",
        "name": "",
        "inputs": 1,
        "outputs": 1,
        "property": "",
        "propertyType": "bh",
        "propertyGv": "bh.",
        "alias": "",
        "modules": [
            {
                "textIp": "Location",
                "typedIpValue": {
                    "type": "this.page",
                    "value": "location"
                },
                "injectable": true
            }
        ],
        "import_all": false,
        "library": "@angular/common",
        "serviceDesignerType": "pages",
        "functionName": "sd_YtZwxNvBGKIYKDPj",
        "category": "Function",
        "x": 345,
        "y": 180,
        "wires": [
            [
                "sd_TqH897bC0nz3OEUT"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "ewalletComponent",
        "generated": true
    },
    {
        "id": "sd_yH9RhqdKZgTlfLF9",
        "type": "PageStart",
        "z": "sd_lgtChNQJf2qX02UG",
        "viewType": "pages",
        "nodeType": "start",
        "name": "send",
        "outputs": 1,
        "inputVariables": [],
        "localVariables": [],
        "flow_type": "sync",
        "functionName": "send",
        "category": "General",
        "x": 45,
        "y": 320,
        "wires": [
            [
                "sd_OnSUPPFMBUNz3qXm"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": true,
        "serviceName": "ewalletComponent"
    },
    {
        "id": "sd_Jm45EC1HjOc0Til9",
        "type": "Script",
        "z": "sd_lgtChNQJf2qX02UG",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "script": "page.showSpinner = true;\npage.loggedInUser.balance = page.loggedInUser.balance - page.ewalletForm.value.amount;\n",
        "functionName": "sd_Jm45EC1HjOc0Til9",
        "category": "Function",
        "x": 365,
        "y": 300,
        "wires": [
            [
                "sd_r8tm4SfEpQZwMiOP"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "ewalletComponent",
        "generated": true
    },
    {
        "id": "sd_wBaHh0763j38xP64",
        "type": "Navigation",
        "z": "sd_lgtChNQJf2qX02UG",
        "viewType": "client-pages",
        "nodeType": "flow",
        "name": "",
        "path": "/home/bank",
        "functionName": "sd_wBaHh0763j38xP64",
        "category": "Navigation",
        "x": 1145,
        "y": 300,
        "wires": [
            []
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "ewalletComponent",
        "generated": true
    },
    {
        "id": "sd_r8tm4SfEpQZwMiOP",
        "type": "Environment",
        "z": "sd_lgtChNQJf2qX02UG",
        "viewType": "client-pages",
        "nodeType": "flow",
        "name": "",
        "outputs": 1,
        "envMaps": [
            {
                "flowVar": {
                    "type": "this.page",
                    "value": "ssdURL"
                },
                "envProperty": "ssdURL"
            }
        ],
        "functionName": "sd_r8tm4SfEpQZwMiOP",
        "category": "General",
        "x": 465,
        "y": 300,
        "wires": [
            [
                "sd_X4wo6MWSDt6k4TJ9"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "ewalletComponent",
        "generated": true
    },
    {
        "id": "sd_lnBzQH0qh2i6tbcJ",
        "type": "HttpRequest",
        "z": "sd_lgtChNQJf2qX02UG",
        "viewType": "client-pages",
        "nodeType": "flow",
        "name": "send_ewallet",
        "method": "post",
        "methodMapping": "",
        "methodMappingObj": {},
        "urlMapping": "bh.url",
        "urlMappingObj": {
            "mapVarType": "bh",
            "mapVarValue": "url"
        },
        "ret": "json",
        "retMapping": "",
        "retMappingObj": {},
        "observe": "",
        "observeMapping": "",
        "observeMappingObj": {},
        "reportProgress": false,
        "withCreds": false,
        "reqBody": "bh.body",
        "reqBodyObj": {
            "mapVarType": "bh",
            "mapVarValue": "body"
        },
        "resultMapping": "this.page.result",
        "resultMappingObj": {
            "mapVarType": "this.page",
            "mapVarValue": "result"
        },
        "headers": {},
        "headersObj": [],
        "headerMapping": "",
        "headerMappingObj": {},
        "params": {},
        "paramsObj": [],
        "paramMapping": "",
        "paramMappingObj": {},
        "functionName": "sendEwallet",
        "category": "HTTP",
        "x": 645,
        "y": 300,
        "wires": [
            [
                "sd_3JoUcgHKLhQQMcnP"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "ewalletComponent",
        "generated": true
    },
    {
        "id": "sd_X4wo6MWSDt6k4TJ9",
        "type": "Script",
        "z": "sd_lgtChNQJf2qX02UG",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "script": "bh.url = page.ssdURL + \"ewallet\"\nbh.url2 = page.ssdURL + \"update\"\nbh.url_user = page.ssdURL + \"get-users\"\n\nbh.body = page.ewalletForm.value\n\nbh.body2 = {\n    email: page.loggedInUser.email,\n    collection: 'users',\n    balance: page.loggedInUser.balance\n}",
        "functionName": "sd_X4wo6MWSDt6k4TJ9",
        "category": "Function",
        "x": 565,
        "y": 300,
        "wires": [
            [
                "sd_lnBzQH0qh2i6tbcJ"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "ewalletComponent",
        "generated": true
    },
    {
        "id": "sd_3JoUcgHKLhQQMcnP",
        "type": "HttpRequest",
        "z": "sd_lgtChNQJf2qX02UG",
        "viewType": "client-pages",
        "nodeType": "flow",
        "name": "update",
        "method": "put",
        "methodMapping": "",
        "methodMappingObj": {},
        "urlMapping": "bh.url2",
        "urlMappingObj": {
            "mapVarType": "bh",
            "mapVarValue": "url2"
        },
        "ret": "json",
        "retMapping": "",
        "retMappingObj": {},
        "observe": "",
        "observeMapping": "",
        "observeMappingObj": {},
        "reportProgress": false,
        "withCreds": false,
        "reqBody": "bh.body2",
        "reqBodyObj": {
            "mapVarType": "bh",
            "mapVarValue": "body2"
        },
        "resultMapping": "this.page.update",
        "resultMappingObj": {
            "mapVarType": "this.page",
            "mapVarValue": "update"
        },
        "headers": {},
        "headersObj": [],
        "headerMapping": "",
        "headerMappingObj": {},
        "params": {},
        "paramsObj": [],
        "paramMapping": "",
        "paramMappingObj": {},
        "functionName": "update",
        "category": "HTTP",
        "x": 725,
        "y": 300,
        "wires": [
            [
                "sd_UX53ofbJtG11eGVm"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "ewalletComponent",
        "generated": true
    },
    {
        "id": "sd_lkytglxcN3IN0Nrp",
        "type": "SnackBar",
        "z": "sd_lgtChNQJf2qX02UG",
        "viewType": "client-pages",
        "nodeType": "flow",
        "name": "",
        "message": {
            "type": "str",
            "value": "eWallet Successful"
        },
        "action": {
            "type": "str",
            "value": "Ok"
        },
        "duration": {
            "type": "num",
            "value": "3000"
        },
        "horizontalPosition": "center",
        "horizontalPositionMap": "",
        "verticalPosition": "bottom",
        "verticalPositionMap": "",
        "panelClass": {
            "type": "str",
            "value": ""
        },
        "direction": "ltr",
        "functionName": "sd_lkytglxcN3IN0Nrp",
        "category": "General",
        "x": 1065,
        "y": 300,
        "wires": [
            [
                "sd_wBaHh0763j38xP64"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "ewalletComponent",
        "generated": true
    },
    {
        "id": "sd_8gRcQKgo7rGWCf8f",
        "type": "PageVariables",
        "z": "sd_lgtChNQJf2qX02UG",
        "viewType": "pages",
        "nodeType": "flow",
        "name": "",
        "inputs": 1,
        "outputs": 1,
        "operation": "set",
        "globalVariables": [
            {
                "textIp": "showSpinner",
                "typedIpValue": {
                    "type": "literal",
                    "value": "false"
                }
            }
        ],
        "functionName": "sd_8gRcQKgo7rGWCf8f",
        "category": "Function",
        "x": 245,
        "y": 60,
        "wires": [
            [
                "sd_kZgzC8EObqLtlnGU"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "ewalletComponent",
        "generated": true
    },
    {
        "id": "sd_ejUFnfZNlysDod57",
        "type": "Script",
        "z": "sd_lgtChNQJf2qX02UG",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "script": "// console.log(\"new bh :\", bh.currentQuote.input.newQuote)\npage.currentQuote = page.loggedInUser.balance;\n\n// if (bh.currentQuote) {\n//     console.log('value');\n//     page.currentQuote = bh.currentQuote.input.newQuote;\n//     console.log(\"new bh :\", bh.currentQuote.input.newQuote);\n// } else {\n//     console.log('no value');\n// }\n\nconst date = new Date();\n\nconst day = date.getDate();\nconst month = date.toLocaleString('default', { month: 'long' });\nconst year = date.getFullYear();\nconst hours = String(date.getHours()).padStart(2, '0');\nconst minutes = String(date.getMinutes()).padStart(2, '0');\n\npage.formattedDate = `${day} ${month} ${year} ${hours}:${minutes}`;\n\npage.ewalletForm = new FormGroup({\n    firstName:  new FormControl(page.loggedInUser.name),\n    email:  new FormControl(page.loggedInUser.email),\n    amount: new FormControl(''),\n    cellNumber: new FormControl(''),\n    transactionDate: new FormControl(page.formattedDate)\n})\n",
        "functionName": "sd_ejUFnfZNlysDod57",
        "category": "Function",
        "x": 465,
        "y": 60,
        "wires": [
            [
                "sd_UC6Yc7vmTzhFhAbG"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "ewalletComponent",
        "generated": true
    },
    {
        "id": "sd_kZgzC8EObqLtlnGU",
        "type": "Storage",
        "z": "sd_lgtChNQJf2qX02UG",
        "viewType": "client-pages",
        "nodeType": "flow",
        "name": "",
        "operationType": "getItem",
        "storageType": "sessionStorage",
        "outputs": 1,
        "key": {
            "type": "str",
            "value": "user"
        },
        "value": {},
        "resultMapping": {
            "type": "this.page",
            "value": "loggedInUser"
        },
        "functionName": "sd_kZgzC8EObqLtlnGU",
        "category": "Storage",
        "x": 345,
        "y": 60,
        "wires": [
            [
                "sd_ejUFnfZNlysDod57"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "ewalletComponent",
        "generated": true
    },
    {
        "id": "sd_kTNhpdwIUiB5YW4A",
        "type": "UseDependency",
        "z": "sd_lgtChNQJf2qX02UG",
        "viewType": "client-pages",
        "nodeType": "flow",
        "name": "",
        "inputs": 1,
        "outputs": 1,
        "property": "",
        "propertyType": "bh",
        "propertyGv": "bh.",
        "alias": "",
        "modules": [
            {
                "textIp": "FormControl",
                "typedIpValue": {
                    "type": "this.page",
                    "value": ""
                },
                "injectable": false
            },
            {
                "textIp": "FormGroup",
                "typedIpValue": {
                    "type": "this.page",
                    "value": ""
                },
                "injectable": false
            },
            {
                "textIp": "Validators",
                "typedIpValue": {
                    "type": "this.page",
                    "value": ""
                },
                "injectable": false
            }
        ],
        "import_all": false,
        "library": "@angular/forms",
        "serviceDesignerType": "pages",
        "functionName": "sd_kTNhpdwIUiB5YW4A",
        "category": "Function",
        "x": 165,
        "y": 60,
        "wires": [
            [
                "sd_8gRcQKgo7rGWCf8f"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "ewalletComponent",
        "generated": true
    },
    {
        "id": "sd_y8NPVOYtgWYXmVH1",
        "type": "SnackBar",
        "z": "sd_lgtChNQJf2qX02UG",
        "viewType": "client-pages",
        "nodeType": "flow",
        "name": "",
        "message": {
            "type": "str",
            "value": "Insufficent funds"
        },
        "action": {
            "type": "str",
            "value": "Ok"
        },
        "duration": {
            "type": "num",
            "value": "3000"
        },
        "horizontalPosition": "center",
        "horizontalPositionMap": "",
        "verticalPosition": "bottom",
        "verticalPositionMap": "",
        "panelClass": {
            "type": "str",
            "value": ""
        },
        "direction": "ltr",
        "functionName": "sd_y8NPVOYtgWYXmVH1",
        "category": "General",
        "x": 365,
        "y": 400,
        "wires": [
            []
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "ewalletComponent",
        "generated": true
    },
    {
        "id": "sd_KpidmSIY6Y1p6PJ3",
        "type": "PageSwitch",
        "z": "sd_lgtChNQJf2qX02UG",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "property": "loggedInUser.balance",
        "propertyType": "this.page",
        "propertyGv": "this.page.loggedInUser.balance",
        "rules": [
            {
                "t": "gte",
                "v": "ewalletForm.value.amount",
                "vt": "this.page",
                "gv": "this.page.ewalletForm.value.amount"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "false",
        "repair": false,
        "outputs": 2,
        "functionName": "sd_KpidmSIY6Y1p6PJ3",
        "category": "Function",
        "x": 265,
        "y": 320,
        "wires": [
            [
                "sd_Jm45EC1HjOc0Til9"
            ],
            [
                "sd_y8NPVOYtgWYXmVH1"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "ewalletComponent",
        "generated": true
    },
    {
        "id": "sd_HGRTJ7UpyDA4nPij",
        "type": "PageStart",
        "z": "sd_lgtChNQJf2qX02UG",
        "viewType": "pages",
        "nodeType": "start",
        "name": "allowNumbers",
        "outputs": 1,
        "inputVariables": [
            {
                "key": "event",
                "defaultValue": {
                    "type": "any",
                    "value": ""
                },
                "output": false
            }
        ],
        "localVariables": [],
        "flow_type": "sync",
        "functionName": "allowNumbers",
        "category": "General",
        "x": 65,
        "y": 520,
        "wires": [
            [
                "sd_R7mMy4CLbqOVfK40"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": true,
        "serviceName": "ewalletComponent"
    },
    {
        "id": "sd_R7mMy4CLbqOVfK40",
        "type": "Script",
        "z": "sd_lgtChNQJf2qX02UG",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "script": "bh.allowedKeys = ['Backspace', 'ArrowLeft', 'ArrowRight', 'Delete', 'Control']; // Add any other allowed keys here\n    if (bh.allowedKeys.includes(bh.input.event.key) || (bh.input.event.ctrlKey && (bh.input.event.key === 'v' || bh.input.event.key === 'c'))) {\n      return; // Allow these keys\n    }\n\n    if (!/^\\d$/.test(bh.input.event.key)) {\n      bh.input.event.preventDefault(); // Prevent non-numeric keys\n    }",
        "functionName": "sd_R7mMy4CLbqOVfK40",
        "category": "Function",
        "x": 150,
        "y": 520,
        "wires": [
            []
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "ewalletComponent",
        "generated": true
    },
    {
        "id": "sd_UX53ofbJtG11eGVm",
        "type": "HttpRequest",
        "z": "sd_lgtChNQJf2qX02UG",
        "viewType": "client-pages",
        "nodeType": "flow",
        "name": "get user",
        "method": "get",
        "methodMappingObj": {},
        "urlMapping": "bh.url_user",
        "urlMappingObj": {
            "mapVarType": "bh",
            "mapVarValue": "url_user"
        },
        "ret": "json",
        "retMappingObj": {},
        "observe": "",
        "observeMappingObj": {},
        "reportProgress": false,
        "withCreds": false,
        "reqBodyObj": {
            "mapVarType": "bh",
            "mapVarValue": ""
        },
        "resultMapping": "this.page.get_user",
        "resultMappingObj": {
            "mapVarType": "this.page",
            "mapVarValue": "get_user"
        },
        "headers": {},
        "headersObj": [],
        "headerMappingObj": {},
        "params": {},
        "paramsObj": [],
        "paramMappingObj": {},
        "functionName": "getUser",
        "category": "HTTP",
        "x": 805,
        "y": 300,
        "wires": [
            [
                "sd_FNEDdD8RKmhrAfPt"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "ewalletComponent",
        "generated": true
    },
    {
        "id": "sd_FNEDdD8RKmhrAfPt",
        "type": "Script",
        "z": "sd_lgtChNQJf2qX02UG",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "script": "bh.found = page.get_user.find((user:any) => {\n    return user.email == page.loggedInUser.email\n})\n\npage.showSpinner = false;\n",
        "functionName": "sd_FNEDdD8RKmhrAfPt",
        "category": "Function",
        "x": 885,
        "y": 300,
        "wires": [
            [
                "sd_mfVB2S0l2eO7gW8X"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "ewalletComponent",
        "generated": true
    },
    {
        "id": "sd_mfVB2S0l2eO7gW8X",
        "type": "Storage",
        "z": "sd_lgtChNQJf2qX02UG",
        "viewType": "client-pages",
        "nodeType": "flow",
        "name": "",
        "operationType": "setItem",
        "storageType": "sessionStorage",
        "outputs": 1,
        "key": {
            "type": "str",
            "value": "user"
        },
        "value": {
            "type": "bh",
            "value": "found"
        },
        "resultMapping": {},
        "functionName": "sd_mfVB2S0l2eO7gW8X",
        "category": "Storage",
        "x": 965,
        "y": 300,
        "wires": [
            [
                "sd_lkytglxcN3IN0Nrp"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "ewalletComponent",
        "generated": true
    },
    {
        "id": "sd_OnSUPPFMBUNz3qXm",
        "type": "PageSwitch",
        "z": "sd_lgtChNQJf2qX02UG",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "property": "ewalletForm.status",
        "propertyType": "this.page",
        "propertyGv": "this.page.ewalletForm.status",
        "rules": [
            {
                "t": "eq",
                "v": "VALID",
                "vt": "str",
                "gv": "\"VALID\""
            },
            {
                "t": "else"
            }
        ],
        "checkall": "false",
        "repair": false,
        "outputs": 2,
        "functionName": "sd_OnSUPPFMBUNz3qXm",
        "category": "Function",
        "x": 145,
        "y": 320,
        "wires": [
            [
                "sd_KpidmSIY6Y1p6PJ3"
            ],
            [
                "sd_KTQtj2xIkv7GmW38"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "ewalletComponent",
        "generated": true
    },
    {
        "id": "sd_KTQtj2xIkv7GmW38",
        "type": "SnackBar",
        "z": "sd_lgtChNQJf2qX02UG",
        "viewType": "client-pages",
        "nodeType": "flow",
        "name": "",
        "message": {
            "type": "str",
            "value": "Fill in all form fields"
        },
        "action": {
            "type": "str",
            "value": "Ok"
        },
        "duration": {
            "type": "num",
            "value": "3000"
        },
        "horizontalPosition": "center",
        "horizontalPositionMap": "",
        "verticalPosition": "bottom",
        "verticalPositionMap": "",
        "panelClass": {
            "type": "str",
            "value": ""
        },
        "direction": "ltr",
        "functionName": "sd_KTQtj2xIkv7GmW38",
        "category": "General",
        "x": 225,
        "y": 420,
        "wires": [
            []
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "ewalletComponent",
        "generated": true
    },
    {
        "id": "sd_UC6Yc7vmTzhFhAbG",
        "type": "Storage",
        "z": "sd_lgtChNQJf2qX02UG",
        "viewType": "client-pages",
        "nodeType": "flow",
        "name": "",
        "operationType": "setItem",
        "storageType": "localStorage",
        "outputs": 1,
        "key": {
            "type": "str",
            "value": "selectedPage"
        },
        "value": {
            "type": "str",
            "value": "eWallet"
        },
        "resultMapping": {},
        "functionName": "sd_UC6Yc7vmTzhFhAbG",
        "category": "Storage",
        "x": 565,
        "y": 60,
        "wires": [
            []
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "ewalletComponent",
        "generated": true
    }
]
