designs/pages/features/pay.json
[
    {
        "id": "sd_EPI84HNraRNITcfQ",
        "type": "tab",
        "createdDate": "2024-05-17T06:49:47.062Z",
        "label": "pay",
        "disabled": false,
        "info": "",
        "functionSeq": 0,
        "generateNext": true,
        "serviceName": "payComponent"
    },
    {
        "id": "sd_6GhdTfAuBFE9oMiE",
        "type": "OnInit",
        "z": "sd_EPI84HNraRNITcfQ",
        "viewType": "common",
        "nodeType": "start",
        "name": "",
        "functionName": "sd_6GhdTfAuBFE9oMiE",
        "category": "Lifecycle Events",
        "x": 30,
        "y": 30,
        "wires": [
            [
                "sd_ZhlDKIJRRL4nzAgh"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": true,
        "serviceName": "payComponent"
    },
    {
        "id": "sd_mdqDUC8ULYpYbes1",
        "type": "PageStart",
        "z": "sd_EPI84HNraRNITcfQ",
        "viewType": "pages",
        "nodeType": "start",
        "name": "go back",
        "outputs": 1,
        "inputVariables": [],
        "localVariables": [],
        "flow_type": "sync",
        "functionName": "goBack",
        "category": "General",
        "x": 45,
        "y": 160,
        "wires": [
            [
                "sd_1EOLIrXTI0AkSa1Z"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": true,
        "serviceName": "payComponent"
    },
    {
        "id": "sd_bmX0GiQp6NaZ3grS",
        "type": "Script",
        "z": "sd_EPI84HNraRNITcfQ",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "script": "page.location.back()\n",
        "functionName": "sd_bmX0GiQp6NaZ3grS",
        "category": "Function",
        "x": 265,
        "y": 160,
        "wires": [
            []
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "payComponent",
        "generated": true
    },
    {
        "id": "sd_1EOLIrXTI0AkSa1Z",
        "type": "UseDependency",
        "z": "sd_EPI84HNraRNITcfQ",
        "viewType": "client-pages",
        "nodeType": "flow",
        "name": "",
        "inputs": 1,
        "outputs": 1,
        "property": "",
        "propertyType": "bh",
        "propertyGv": "bh.",
        "alias": "",
        "modules": [
            {
                "textIp": "Location",
                "typedIpValue": {
                    "type": "this.page",
                    "value": "location"
                },
                "injectable": true
            }
        ],
        "import_all": false,
        "library": "@angular/common",
        "serviceDesignerType": "pages",
        "functionName": "sd_1EOLIrXTI0AkSa1Z",
        "category": "Function",
        "x": 165,
        "y": 160,
        "wires": [
            [
                "sd_bmX0GiQp6NaZ3grS"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "payComponent",
        "generated": true
    },
    {
        "id": "sd_Z07RwCfbca3o40KI",
        "type": "PageVariables",
        "z": "sd_EPI84HNraRNITcfQ",
        "viewType": "pages",
        "nodeType": "flow",
        "name": "",
        "inputs": 1,
        "outputs": 1,
        "operation": "set",
        "globalVariables": [
            {
                "textIp": "quote",
                "typedIpValue": {
                    "type": "literal",
                    "value": ""
                }
            },
            {
                "textIp": "showSpinner",
                "typedIpValue": {
                    "type": "literal",
                    "value": "false"
                }
            }
        ],
        "functionName": "sd_Z07RwCfbca3o40KI",
        "category": "Function",
        "x": 245,
        "y": 40,
        "wires": [
            [
                "sd_94UUEejAMkL5eMjJ"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "payComponent",
        "generated": true
    },
    {
        "id": "sd_5nGehRQGAKuqGXV3",
        "type": "Script",
        "z": "sd_EPI84HNraRNITcfQ",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "script": "// console.log(\"new bh :\", bh.currentQuote.input.newQuote)\npage.currentQuote = page.loggedInUser.balance;\n\n// if (bh.currentQuote) {\n//     console.log('value');\n//     page.currentQuote = bh.currentQuote.input.newQuote;\n//     console.log(\"new bh :\", bh.currentQuote.input.newQuote);\n// } else {\n//     console.log('no value');\n// }\n\nconst date = new Date();\n\nconst day = date.getDate();\nconst month = date.toLocaleString('default', { month: 'long' });\nconst year = date.getFullYear();\nconst hours = String(date.getHours()).padStart(2, '0');\nconst minutes = String(date.getMinutes()).padStart(2, '0');\n\npage.formattedDate = `${day} ${month} ${year} ${hours}:${minutes}`;\n\npage.payForm = new FormGroup({\n    customer: new FormControl(page.loggedInUser.name),\n    recipientName:  new FormControl(''),\n    cardNumber: new FormControl(page.loggedInUser.accountNumber),\n    amount: new FormControl(''),\n    ownRef: new FormControl(''),\n    recipientRef:  new FormControl(''),\n    email: new FormControl(page.loggedInUser.email),\n    sendProof:  new FormControl(''),\n    transactionDate: new FormControl(page.formattedDate)\n})\n",
        "functionName": "sd_5nGehRQGAKuqGXV3",
        "category": "Function",
        "x": 425,
        "y": 40,
        "wires": [
            [
                "sd_tFci8iV2ctBF5MIl"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "payComponent",
        "generated": true
    },
    {
        "id": "sd_94UUEejAMkL5eMjJ",
        "type": "Storage",
        "z": "sd_EPI84HNraRNITcfQ",
        "viewType": "client-pages",
        "nodeType": "flow",
        "name": "",
        "operationType": "getItem",
        "storageType": "sessionStorage",
        "outputs": 1,
        "key": {
            "type": "str",
            "value": "user"
        },
        "value": {},
        "resultMapping": {
            "type": "this.page",
            "value": "loggedInUser"
        },
        "functionName": "sd_94UUEejAMkL5eMjJ",
        "category": "Storage",
        "x": 325,
        "y": 40,
        "wires": [
            [
                "sd_5nGehRQGAKuqGXV3"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "payComponent",
        "generated": true
    },
    {
        "id": "sd_ZhlDKIJRRL4nzAgh",
        "type": "UseDependency",
        "z": "sd_EPI84HNraRNITcfQ",
        "viewType": "client-pages",
        "nodeType": "flow",
        "name": "",
        "inputs": 1,
        "outputs": 1,
        "property": "",
        "propertyType": "bh",
        "propertyGv": "bh.",
        "alias": "",
        "modules": [
            {
                "textIp": "FormControl",
                "typedIpValue": {
                    "type": "this.page",
                    "value": ""
                },
                "injectable": false
            },
            {
                "textIp": "FormGroup",
                "typedIpValue": {
                    "type": "this.page",
                    "value": ""
                },
                "injectable": false
            },
            {
                "textIp": "Validators",
                "typedIpValue": {
                    "type": "this.page",
                    "value": ""
                },
                "injectable": false
            }
        ],
        "import_all": false,
        "library": "@angular/forms",
        "serviceDesignerType": "pages",
        "functionName": "sd_ZhlDKIJRRL4nzAgh",
        "category": "Function",
        "x": 145,
        "y": 40,
        "wires": [
            [
                "sd_Z07RwCfbca3o40KI"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "payComponent",
        "generated": true
    },
    {
        "id": "sd_INsPkoF2I6stXxZP",
        "type": "PageStart",
        "z": "sd_EPI84HNraRNITcfQ",
        "viewType": "pages",
        "nodeType": "start",
        "name": "submit",
        "outputs": 1,
        "inputVariables": [],
        "localVariables": [],
        "flow_type": "sync",
        "functionName": "submit",
        "category": "General",
        "x": 45,
        "y": 360,
        "wires": [
            [
                "sd_mYq7iz7SEzt8K1tZ"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": true,
        "serviceName": "payComponent"
    },
    {
        "id": "sd_87u5vf1sAWZgg8wZ",
        "type": "Script",
        "z": "sd_EPI84HNraRNITcfQ",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "script": "page.showSpinner = true;\npage.loggedInUser.balance = page.loggedInUser.balance - page.payForm.value.amount;\n",
        "functionName": "sd_87u5vf1sAWZgg8wZ",
        "category": "Function",
        "x": 305,
        "y": 280,
        "wires": [
            [
                "sd_wuJbdiHRyvy8O0e6"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "payComponent",
        "generated": true
    },
    {
        "id": "sd_te8Ame92IoqQehLd",
        "type": "Navigation",
        "z": "sd_EPI84HNraRNITcfQ",
        "viewType": "client-pages",
        "nodeType": "flow",
        "name": "",
        "path": "/bank",
        "pathMap": "",
        "pathparams": "",
        "pathparamsMap": "",
        "qparams": "",
        "qparamsMap": "",
        "qparamsArray": "",
        "resultMapping": "",
        "functionName": "sd_te8Ame92IoqQehLd",
        "category": "Navigation",
        "x": 1085,
        "y": 280,
        "wires": [
            []
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "payComponent",
        "generated": true
    },
    {
        "id": "sd_wuJbdiHRyvy8O0e6",
        "type": "Environment",
        "z": "sd_EPI84HNraRNITcfQ",
        "viewType": "client-pages",
        "nodeType": "flow",
        "name": "",
        "outputs": 1,
        "envMaps": [
            {
                "flowVar": {
                    "type": "this.page",
                    "value": "ssdURL"
                },
                "envProperty": "ssdURL"
            }
        ],
        "functionName": "sd_wuJbdiHRyvy8O0e6",
        "category": "General",
        "x": 405,
        "y": 280,
        "wires": [
            [
                "sd_Tcg4UXywzDFqRyjt"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "payComponent",
        "generated": true
    },
    {
        "id": "sd_Tcg4UXywzDFqRyjt",
        "type": "Script",
        "z": "sd_EPI84HNraRNITcfQ",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "script": "bh.url = page.ssdURL + \"pay\"\nbh.url_update = page.ssdURL + \"update\"\nbh.url_user = page.ssdURL + \"get-users\"\n\n// Add in pay\nbh.body = page.payForm.value\n\n// update in users\nbh.body2 = {\n    email: page.loggedInUser.email,\n    collection: 'users',\n    balance: page.loggedInUser.balance\n}",
        "functionName": "sd_Tcg4UXywzDFqRyjt",
        "category": "Function",
        "x": 505,
        "y": 280,
        "wires": [
            [
                "sd_rmwAjgJ2A0YZw6xb"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "payComponent",
        "generated": true
    },
    {
        "id": "sd_yegflL4smDHdpDeI",
        "type": "SnackBar",
        "z": "sd_EPI84HNraRNITcfQ",
        "viewType": "client-pages",
        "nodeType": "flow",
        "name": "",
        "message": {
            "type": "str",
            "value": "Pay Successful"
        },
        "action": {
            "type": "str",
            "value": "Ok"
        },
        "duration": {
            "type": "num",
            "value": "3000"
        },
        "horizontalPosition": "center",
        "horizontalPositionMap": "",
        "verticalPosition": "bottom",
        "verticalPositionMap": "",
        "panelClass": {
            "type": "str",
            "value": ""
        },
        "direction": "ltr",
        "functionName": "sd_yegflL4smDHdpDeI",
        "category": "General",
        "x": 1005,
        "y": 280,
        "wires": [
            [
                "sd_te8Ame92IoqQehLd"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "payComponent",
        "generated": true
    },
    {
        "id": "sd_2M9yLasHjJOVIazz",
        "type": "SnackBar",
        "z": "sd_EPI84HNraRNITcfQ",
        "viewType": "client-pages",
        "nodeType": "flow",
        "name": "",
        "message": {
            "type": "str",
            "value": "Insufficent funds"
        },
        "action": {
            "type": "str",
            "value": "Ok"
        },
        "duration": {
            "type": "num",
            "value": "3000"
        },
        "horizontalPosition": "center",
        "horizontalPositionMap": "",
        "verticalPosition": "bottom",
        "verticalPositionMap": "",
        "panelClass": {
            "type": "str",
            "value": ""
        },
        "direction": "ltr",
        "functionName": "sd_2M9yLasHjJOVIazz",
        "category": "General",
        "x": 305,
        "y": 400,
        "wires": [
            []
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "payComponent",
        "generated": true
    },
    {
        "id": "sd_mN43q02NijFPwvIP",
        "type": "PageSwitch",
        "z": "sd_EPI84HNraRNITcfQ",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "property": "loggedInUser.balance",
        "propertyType": "this.page",
        "propertyGv": "this.page.loggedInUser.balance",
        "rules": [
            {
                "t": "gte",
                "v": "payForm.value.amount",
                "vt": "this.page",
                "gv": "this.page.payForm.value.amount"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "false",
        "repair": false,
        "outputs": 2,
        "functionName": "sd_mN43q02NijFPwvIP",
        "category": "Function",
        "x": 225,
        "y": 340,
        "wires": [
            [
                "sd_87u5vf1sAWZgg8wZ"
            ],
            [
                "sd_2M9yLasHjJOVIazz"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "payComponent",
        "generated": true
    },
    {
        "id": "sd_wU87Sten91GyJyJA",
        "type": "PageStart",
        "z": "sd_EPI84HNraRNITcfQ",
        "viewType": "pages",
        "nodeType": "start",
        "name": "allowNumbers",
        "outputs": 1,
        "inputVariables": [
            {
                "key": "event",
                "defaultValue": {
                    "type": "any",
                    "value": ""
                },
                "output": false
            }
        ],
        "localVariables": [],
        "flow_type": "sync",
        "functionName": "allowNumbers",
        "category": "General",
        "x": 105,
        "y": 580,
        "wires": [
            [
                "sd_v9qn1dR9qFe8IDbr"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": true,
        "serviceName": "payComponent"
    },
    {
        "id": "sd_v9qn1dR9qFe8IDbr",
        "type": "Script",
        "z": "sd_EPI84HNraRNITcfQ",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "script": "bh.allowedKeys = ['Backspace', 'ArrowLeft', 'ArrowRight', 'Delete', 'Control']; // Add any other allowed keys here\n    if (bh.allowedKeys.includes(bh.input.event.key) || (bh.input.event.ctrlKey && (bh.input.event.key === 'v' || bh.input.event.key === 'c'))) {\n      return; // Allow these keys\n    }\n\n   \n\n\n    if (!/^\\d$/.test(bh.input.event.key)) {\n      bh.input.event.preventDefault(); // Prevent non-numeric keys\n    }",
        "functionName": "sd_v9qn1dR9qFe8IDbr",
        "category": "Function",
        "x": 190,
        "y": 580,
        "wires": [
            []
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "payComponent",
        "generated": true
    },
    {
        "id": "sd_rmwAjgJ2A0YZw6xb",
        "type": "HttpRequest",
        "z": "sd_EPI84HNraRNITcfQ",
        "viewType": "client-pages",
        "nodeType": "flow",
        "name": "buy-post",
        "method": "post",
        "methodMapping": "",
        "methodMappingObj": {},
        "urlMapping": "bh.url",
        "urlMappingObj": {
            "mapVarType": "bh",
            "mapVarValue": "url"
        },
        "ret": "json",
        "retMapping": "",
        "retMappingObj": {},
        "observe": "",
        "observeMapping": "",
        "observeMappingObj": {},
        "reportProgress": false,
        "withCreds": false,
        "reqBody": "bh.body",
        "reqBodyObj": {
            "mapVarType": "bh",
            "mapVarValue": "body"
        },
        "resultMapping": "this.page.result",
        "resultMappingObj": {
            "mapVarType": "this.page",
            "mapVarValue": "result"
        },
        "headers": {},
        "headersObj": [],
        "headerMapping": "",
        "headerMappingObj": {},
        "params": {},
        "paramsObj": [],
        "paramMapping": "",
        "paramMappingObj": {},
        "functionName": "buyPost",
        "category": "HTTP",
        "x": 585,
        "y": 280,
        "wires": [
            [
                "sd_oDh5uXHf5qoEZzTv"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "payComponent",
        "generated": true
    },
    {
        "id": "sd_oDh5uXHf5qoEZzTv",
        "type": "HttpRequest",
        "z": "sd_EPI84HNraRNITcfQ",
        "viewType": "client-pages",
        "nodeType": "flow",
        "name": "update",
        "method": "put",
        "methodMapping": "",
        "methodMappingObj": {},
        "urlMapping": "bh.url_update",
        "urlMappingObj": {
            "mapVarType": "bh",
            "mapVarValue": "url_update"
        },
        "ret": "json",
        "retMapping": "",
        "retMappingObj": {},
        "observe": "",
        "observeMapping": "",
        "observeMappingObj": {},
        "reportProgress": false,
        "withCreds": false,
        "reqBody": "bh.body2",
        "reqBodyObj": {
            "mapVarType": "bh",
            "mapVarValue": "body2"
        },
        "resultMapping": "this.page.update",
        "resultMappingObj": {
            "mapVarType": "this.page",
            "mapVarValue": "update"
        },
        "headers": {},
        "headersObj": [],
        "headerMapping": "",
        "headerMappingObj": {},
        "params": {},
        "paramsObj": [],
        "paramMapping": "",
        "paramMappingObj": {},
        "functionName": "update",
        "category": "HTTP",
        "x": 665,
        "y": 280,
        "wires": [
            [
                "sd_zWNR3bKbToUrCEoF"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "payComponent",
        "generated": true
    },
    {
        "id": "sd_zWNR3bKbToUrCEoF",
        "type": "HttpRequest",
        "z": "sd_EPI84HNraRNITcfQ",
        "viewType": "client-pages",
        "nodeType": "flow",
        "name": "get user",
        "method": "get",
        "methodMapping": "",
        "methodMappingObj": {},
        "urlMapping": "bh.url_user",
        "urlMappingObj": {
            "mapVarType": "bh",
            "mapVarValue": "url_user"
        },
        "ret": "json",
        "retMapping": "",
        "retMappingObj": {},
        "observe": "",
        "observeMapping": "",
        "observeMappingObj": {},
        "reportProgress": false,
        "withCreds": false,
        "reqBody": "",
        "reqBodyObj": {
            "mapVarType": "bh",
            "mapVarValue": ""
        },
        "resultMapping": "this.page.get_user",
        "resultMappingObj": {
            "mapVarType": "this.page",
            "mapVarValue": "get_user"
        },
        "headers": {},
        "headersObj": [],
        "headerMapping": "",
        "headerMappingObj": {},
        "params": {},
        "paramsObj": [],
        "paramMapping": "",
        "paramMappingObj": {},
        "functionName": "getUser",
        "category": "HTTP",
        "x": 745,
        "y": 280,
        "wires": [
            [
                "sd_U2xXQRRxoE5SCP4h"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "payComponent",
        "generated": true
    },
    {
        "id": "sd_U2xXQRRxoE5SCP4h",
        "type": "Script",
        "z": "sd_EPI84HNraRNITcfQ",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "script": "bh.found = page.get_user.find((user:any) => {\n    return user.email == page.loggedInUser.email\n})\n\npage.showSpinner = false;\n",
        "functionName": "sd_U2xXQRRxoE5SCP4h",
        "category": "Function",
        "x": 845,
        "y": 280,
        "wires": [
            [
                "sd_0BVRABPBifM9oHQD"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "payComponent",
        "generated": true
    },
    {
        "id": "sd_0BVRABPBifM9oHQD",
        "type": "Storage",
        "z": "sd_EPI84HNraRNITcfQ",
        "viewType": "client-pages",
        "nodeType": "flow",
        "name": "",
        "operationType": "setItem",
        "storageType": "sessionStorage",
        "outputs": 1,
        "key": {
            "type": "str",
            "value": "user"
        },
        "value": {
            "type": "bh",
            "value": "found"
        },
        "resultMapping": {},
        "functionName": "sd_0BVRABPBifM9oHQD",
        "category": "Storage",
        "x": 925,
        "y": 280,
        "wires": [
            [
                "sd_yegflL4smDHdpDeI"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "payComponent",
        "generated": true
    },
    {
        "id": "sd_mYq7iz7SEzt8K1tZ",
        "type": "PageSwitch",
        "z": "sd_EPI84HNraRNITcfQ",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "property": "payForm.status",
        "propertyType": "this.page",
        "propertyGv": "this.page.payForm.status",
        "rules": [
            {
                "t": "eq",
                "v": "VALID",
                "vt": "str",
                "gv": "\"VALID\""
            },
            {
                "t": "else"
            }
        ],
        "checkall": "false",
        "repair": false,
        "outputs": 2,
        "functionName": "sd_mYq7iz7SEzt8K1tZ",
        "category": "Function",
        "x": 125,
        "y": 360,
        "wires": [
            [
                "sd_mN43q02NijFPwvIP"
            ],
            [
                "sd_METwXwgOsk2ebHtJ"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "payComponent",
        "generated": true
    },
    {
        "id": "sd_METwXwgOsk2ebHtJ",
        "type": "SnackBar",
        "z": "sd_EPI84HNraRNITcfQ",
        "viewType": "client-pages",
        "nodeType": "flow",
        "name": "",
        "message": {
            "type": "str",
            "value": "Fill in all fields"
        },
        "action": {
            "type": "str",
            "value": "Ok"
        },
        "duration": {
            "type": "num",
            "value": "3000"
        },
        "horizontalPosition": "center",
        "horizontalPositionMap": "",
        "verticalPosition": "bottom",
        "verticalPositionMap": "",
        "panelClass": {
            "type": "str",
            "value": ""
        },
        "direction": "ltr",
        "functionName": "sd_METwXwgOsk2ebHtJ",
        "category": "General",
        "x": 205,
        "y": 420,
        "wires": [
            []
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "payComponent",
        "generated": true
    },
    {
        "id": "sd_tFci8iV2ctBF5MIl",
        "type": "Storage",
        "z": "sd_EPI84HNraRNITcfQ",
        "viewType": "client-pages",
        "nodeType": "flow",
        "name": "",
        "operationType": "setItem",
        "storageType": "localStorage",
        "outputs": 1,
        "key": {
            "type": "str",
            "value": "selectedPage"
        },
        "value": {
            "type": "str",
            "value": "Pay"
        },
        "resultMapping": {},
        "functionName": "sd_tFci8iV2ctBF5MIl",
        "category": "Storage",
        "x": 525,
        "y": 40,
        "wires": [
            []
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "payComponent",
        "generated": true
    }
]
