designs/pages/features/pay.json
[
    {
        "id": "sd_EPI84HNraRNITcfQ",
        "type": "tab",
        "createdDate": "2024-05-17T06:49:47.062Z",
        "label": "pay",
        "disabled": false,
        "info": "",
        "functionSeq": 0,
        "generateNext": true,
        "serviceName": "payComponent"
    },
    {
        "id": "sd_6GhdTfAuBFE9oMiE",
        "type": "OnInit",
        "z": "sd_EPI84HNraRNITcfQ",
        "viewType": "common",
        "nodeType": "start",
        "name": "",
        "functionName": "sd_6GhdTfAuBFE9oMiE",
        "category": "Lifecycle Events",
        "x": 30,
        "y": 30,
        "wires": [
            [
                "sd_ZhlDKIJRRL4nzAgh"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": true,
        "serviceName": "payComponent"
    },
    {
        "id": "sd_mdqDUC8ULYpYbes1",
        "type": "PageStart",
        "z": "sd_EPI84HNraRNITcfQ",
        "viewType": "pages",
        "nodeType": "start",
        "name": "go back",
        "outputs": 1,
        "inputVariables": [],
        "localVariables": [],
        "flow_type": "sync",
        "functionName": "goBack",
        "category": "General",
        "x": 45,
        "y": 160,
        "wires": [
            [
                "sd_1EOLIrXTI0AkSa1Z"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": true,
        "serviceName": "payComponent"
    },
    {
        "id": "sd_bmX0GiQp6NaZ3grS",
        "type": "Script",
        "z": "sd_EPI84HNraRNITcfQ",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "script": "page.location.back()\n",
        "functionName": "sd_bmX0GiQp6NaZ3grS",
        "category": "Function",
        "x": 300,
        "y": 160,
        "wires": [
            []
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "payComponent",
        "generated": true
    },
    {
        "id": "sd_1EOLIrXTI0AkSa1Z",
        "type": "UseDependency",
        "z": "sd_EPI84HNraRNITcfQ",
        "viewType": "client-pages",
        "nodeType": "flow",
        "name": "",
        "inputs": 1,
        "outputs": 1,
        "property": "",
        "propertyType": "bh",
        "propertyGv": "bh.",
        "alias": "",
        "modules": [
            {
                "textIp": "Location",
                "typedIpValue": {
                    "type": "this.page",
                    "value": "location"
                },
                "injectable": true
            }
        ],
        "import_all": false,
        "library": "@angular/common",
        "serviceDesignerType": "pages",
        "functionName": "sd_1EOLIrXTI0AkSa1Z",
        "category": "Function",
        "x": 165,
        "y": 160,
        "wires": [
            [
                "sd_bmX0GiQp6NaZ3grS"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "payComponent",
        "generated": true
    },
    {
        "id": "sd_Z07RwCfbca3o40KI",
        "type": "PageVariables",
        "z": "sd_EPI84HNraRNITcfQ",
        "viewType": "pages",
        "nodeType": "flow",
        "name": "",
        "inputs": 1,
        "outputs": 1,
        "operation": "set",
        "globalVariables": [
            {
                "textIp": "quote",
                "typedIpValue": {
                    "type": "literal",
                    "value": ""
                }
            }
        ],
        "functionName": "sd_Z07RwCfbca3o40KI",
        "category": "Function",
        "x": 225,
        "y": 40,
        "wires": [
            [
                "sd_94UUEejAMkL5eMjJ"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "payComponent",
        "generated": true
    },
    {
        "id": "sd_5nGehRQGAKuqGXV3",
        "type": "Script",
        "z": "sd_EPI84HNraRNITcfQ",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "script": "// console.log(\"new bh :\", bh.currentQuote.input.newQuote)\npage.currentQuote = page.loggedInUser.balance;\n\n// if (bh.currentQuote) {\n//     console.log('value');\n//     page.currentQuote = bh.currentQuote.input.newQuote;\n//     console.log(\"new bh :\", bh.currentQuote.input.newQuote);\n// } else {\n//     console.log('no value');\n// }\n\nconst date = new Date();\n\nconst day = date.getDate();\nconst month = date.toLocaleString('default', { month: 'long' });\nconst year = date.getFullYear();\nconst hours = String(date.getHours()).padStart(2, '0');\nconst minutes = String(date.getMinutes()).padStart(2, '0');\n\npage.formattedDate = `${day} ${month} ${year} ${hours}:${minutes}`;\n\nconsole.log('page', page)\n\npage.payForm = new FormGroup({\n    customer: new FormControl(page.loggedInUser.name),\n    recipientName:  new FormControl(''),\n    cardNumber: new FormControl(page.loggedInUser.accountNumber),\n    amount: new FormControl(''),\n    ownRef: new FormControl(''),\n    recipientRef:  new FormControl(''),\n    email: new FormControl(page.loggedInUser.email),\n    sendProof:  new FormControl(''),\n    transactionDate: new FormControl(page.formattedDate)\n})\n",
        "functionName": "sd_5nGehRQGAKuqGXV3",
        "category": "Function",
        "x": 445,
        "y": 40,
        "wires": [
            []
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "payComponent",
        "generated": true
    },
    {
        "id": "sd_94UUEejAMkL5eMjJ",
        "type": "Storage",
        "z": "sd_EPI84HNraRNITcfQ",
        "viewType": "client-pages",
        "nodeType": "flow",
        "name": "",
        "operationType": "getItem",
        "storageType": "sessionStorage",
        "outputs": 1,
        "key": {
            "type": "str",
            "value": "user"
        },
        "value": {},
        "resultMapping": {
            "type": "this.page",
            "value": "loggedInUser"
        },
        "functionName": "sd_94UUEejAMkL5eMjJ",
        "category": "Storage",
        "x": 325,
        "y": 40,
        "wires": [
            [
                "sd_5nGehRQGAKuqGXV3"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "payComponent",
        "generated": true
    },
    {
        "id": "sd_ZhlDKIJRRL4nzAgh",
        "type": "UseDependency",
        "z": "sd_EPI84HNraRNITcfQ",
        "viewType": "client-pages",
        "nodeType": "flow",
        "name": "",
        "inputs": 1,
        "outputs": 1,
        "property": "",
        "propertyType": "bh",
        "propertyGv": "bh.",
        "alias": "",
        "modules": [
            {
                "textIp": "FormControl",
                "typedIpValue": {
                    "type": "this.page",
                    "value": ""
                },
                "injectable": false
            },
            {
                "textIp": "FormGroup",
                "typedIpValue": {
                    "type": "this.page",
                    "value": ""
                },
                "injectable": false
            },
            {
                "textIp": "Validators",
                "typedIpValue": {
                    "type": "this.page",
                    "value": ""
                },
                "injectable": false
            }
        ],
        "import_all": false,
        "library": "@angular/forms",
        "serviceDesignerType": "pages",
        "functionName": "sd_ZhlDKIJRRL4nzAgh",
        "category": "Function",
        "x": 145,
        "y": 40,
        "wires": [
            [
                "sd_Z07RwCfbca3o40KI"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "payComponent",
        "generated": true
    },
    {
        "id": "sd_INsPkoF2I6stXxZP",
        "type": "PageStart",
        "z": "sd_EPI84HNraRNITcfQ",
        "viewType": "pages",
        "nodeType": "start",
        "name": "submit",
        "outputs": 1,
        "inputVariables": [],
        "localVariables": [],
        "flow_type": "sync",
        "functionName": "submit",
        "category": "General",
        "x": 45,
        "y": 340,
        "wires": [
            [
                "sd_mN43q02NijFPwvIP"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": true,
        "serviceName": "payComponent"
    },
    {
        "id": "sd_87u5vf1sAWZgg8wZ",
        "type": "Script",
        "z": "sd_EPI84HNraRNITcfQ",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "script": "console.log('submitted page', page.payForm.value)\n\npage.loggedInUser.balance = page.loggedInUser.balance - page.payForm.value.amount;\n\nconsole.log('page', page)",
        "functionName": "sd_87u5vf1sAWZgg8wZ",
        "category": "Function",
        "x": 205,
        "y": 340,
        "wires": [
            [
                "sd_TlB7htOQ8ofL8HQx"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "payComponent",
        "generated": true
    },
    {
        "id": "sd_TlB7htOQ8ofL8HQx",
        "type": "Storage",
        "z": "sd_EPI84HNraRNITcfQ",
        "viewType": "client-pages",
        "nodeType": "flow",
        "name": "",
        "operationType": "setItem",
        "storageType": "sessionStorage",
        "outputs": 1,
        "key": {
            "type": "str",
            "value": "user"
        },
        "value": {
            "type": "this.page",
            "value": "loggedInUser"
        },
        "resultMapping": {},
        "functionName": "sd_TlB7htOQ8ofL8HQx",
        "category": "Storage",
        "x": 305,
        "y": 340,
        "wires": [
            [
                "sd_wuJbdiHRyvy8O0e6"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "payComponent",
        "generated": true
    },
    {
        "id": "sd_te8Ame92IoqQehLd",
        "type": "Navigation",
        "z": "sd_EPI84HNraRNITcfQ",
        "viewType": "client-pages",
        "nodeType": "flow",
        "name": "",
        "path": "/bank",
        "pathMap": "",
        "pathparams": "",
        "pathparamsMap": "",
        "qparams": "",
        "qparamsMap": "",
        "qparamsArray": "",
        "resultMapping": "",
        "functionName": "sd_te8Ame92IoqQehLd",
        "category": "Navigation",
        "x": 825,
        "y": 340,
        "wires": [
            []
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "payComponent",
        "generated": true
    },
    {
        "id": "sd_wuJbdiHRyvy8O0e6",
        "type": "Environment",
        "z": "sd_EPI84HNraRNITcfQ",
        "viewType": "client-pages",
        "nodeType": "flow",
        "name": "",
        "outputs": 1,
        "envMaps": [
            {
                "flowVar": {
                    "type": "this.page",
                    "value": "ssdUrl"
                },
                "envProperty": "ssdURL"
            }
        ],
        "functionName": "sd_wuJbdiHRyvy8O0e6",
        "category": "General",
        "x": 405,
        "y": 340,
        "wires": [
            [
                "sd_Tcg4UXywzDFqRyjt"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "payComponent",
        "generated": true
    },
    {
        "id": "sd_DYB2LfCrhED6xWGT",
        "type": "HttpRequest",
        "z": "sd_EPI84HNraRNITcfQ",
        "viewType": "client-pages",
        "nodeType": "flow",
        "name": "",
        "method": "post",
        "methodMapping": "",
        "methodMappingObj": {},
        "urlMapping": "bh.url",
        "urlMappingObj": {
            "mapVarType": "bh",
            "mapVarValue": "url"
        },
        "ret": "json",
        "retMapping": "",
        "retMappingObj": {},
        "observe": "",
        "observeMapping": "",
        "observeMappingObj": {},
        "reportProgress": false,
        "withCreds": false,
        "reqBody": "bh.body",
        "reqBodyObj": {
            "mapVarType": "bh",
            "mapVarValue": "body"
        },
        "resultMapping": "this.page.result",
        "resultMappingObj": {
            "mapVarType": "this.page",
            "mapVarValue": "result"
        },
        "headers": {},
        "headersObj": [],
        "headerMapping": "",
        "headerMappingObj": {},
        "params": {},
        "paramsObj": [],
        "paramMapping": "",
        "paramMappingObj": {},
        "functionName": "sd_DYB2LfCrhED6xWGT",
        "category": "HTTP",
        "x": 585,
        "y": 340,
        "wires": [
            [
                "sd_uxzf2cB3321WVCck"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "payComponent",
        "generated": true
    },
    {
        "id": "sd_Tcg4UXywzDFqRyjt",
        "type": "Script",
        "z": "sd_EPI84HNraRNITcfQ",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "script": "bh.url = `https://111e-169-239-176-9.ngrok-free.app/api/pay`\nbh.url2 = `https://111e-169-239-176-9.ngrok-free.app/api/update`\n\n// Add in pay\nbh.body = page.payForm.value\n\n// update in users\nbh.body2 = {\n    email: page.loggedInUser.email,\n    collection: 'users',\n    balance: page.loggedInUser.balance\n}",
        "functionName": "sd_Tcg4UXywzDFqRyjt",
        "category": "Function",
        "x": 505,
        "y": 340,
        "wires": [
            [
                "sd_DYB2LfCrhED6xWGT"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "payComponent",
        "generated": true
    },
    {
        "id": "sd_uxzf2cB3321WVCck",
        "type": "HttpRequest",
        "z": "sd_EPI84HNraRNITcfQ",
        "viewType": "client-pages",
        "nodeType": "flow",
        "name": "",
        "method": "put",
        "methodMapping": "",
        "methodMappingObj": {},
        "urlMapping": "bh.url2",
        "urlMappingObj": {
            "mapVarType": "bh",
            "mapVarValue": "url2"
        },
        "ret": "json",
        "retMapping": "",
        "retMappingObj": {},
        "observe": "",
        "observeMapping": "",
        "observeMappingObj": {},
        "reportProgress": false,
        "withCreds": false,
        "reqBody": "bh.body2",
        "reqBodyObj": {
            "mapVarType": "bh",
            "mapVarValue": "body2"
        },
        "resultMapping": "this.page.update",
        "resultMappingObj": {
            "mapVarType": "this.page",
            "mapVarValue": "update"
        },
        "headers": {},
        "headersObj": [],
        "headerMapping": "",
        "headerMappingObj": {},
        "params": {},
        "paramsObj": [],
        "paramMapping": "",
        "paramMappingObj": {},
        "functionName": "sd_uxzf2cB3321WVCck",
        "category": "HTTP",
        "x": 665,
        "y": 340,
        "wires": [
            [
                "sd_yegflL4smDHdpDeI"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "payComponent",
        "generated": true
    },
    {
        "id": "sd_yegflL4smDHdpDeI",
        "type": "SnackBar",
        "z": "sd_EPI84HNraRNITcfQ",
        "viewType": "client-pages",
        "nodeType": "flow",
        "name": "",
        "message": {
            "type": "str",
            "value": "Pay Successful"
        },
        "action": {
            "type": "str",
            "value": "Ok"
        },
        "duration": {
            "type": "num",
            "value": "3000"
        },
        "horizontalPosition": "center",
        "horizontalPositionMap": "",
        "verticalPosition": "bottom",
        "verticalPositionMap": "",
        "panelClass": {
            "type": "str",
            "value": ""
        },
        "direction": "ltr",
        "functionName": "sd_yegflL4smDHdpDeI",
        "category": "General",
        "x": 745,
        "y": 340,
        "wires": [
            [
                "sd_te8Ame92IoqQehLd"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "payComponent",
        "generated": true
    },
    {
        "id": "sd_2M9yLasHjJOVIazz",
        "type": "SnackBar",
        "z": "sd_EPI84HNraRNITcfQ",
        "viewType": "client-pages",
        "nodeType": "flow",
        "name": "",
        "message": {
            "type": "str",
            "value": "Insufficent funds"
        },
        "action": {
            "type": "str",
            "value": "Ok"
        },
        "duration": {
            "type": "num",
            "value": "3000"
        },
        "horizontalPosition": "center",
        "horizontalPositionMap": "",
        "verticalPosition": "bottom",
        "verticalPositionMap": "",
        "panelClass": {
            "type": "str",
            "value": ""
        },
        "direction": "ltr",
        "functionName": "sd_2M9yLasHjJOVIazz",
        "category": "General",
        "x": 125,
        "y": 460,
        "wires": [
            []
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "payComponent",
        "generated": true
    },
    {
        "id": "sd_mN43q02NijFPwvIP",
        "type": "PageSwitch",
        "z": "sd_EPI84HNraRNITcfQ",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "property": "loggedInUser.balance",
        "propertyType": "this.page",
        "propertyGv": "this.page.loggedInUser.balance",
        "rules": [
            {
                "t": "gte",
                "v": "payForm.value.amount",
                "vt": "this.page",
                "gv": "this.page.payForm.value.amount"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "false",
        "repair": false,
        "outputs": 2,
        "functionName": "sd_mN43q02NijFPwvIP",
        "category": "Function",
        "x": 125,
        "y": 340,
        "wires": [
            [
                "sd_87u5vf1sAWZgg8wZ"
            ],
            [
                "sd_2M9yLasHjJOVIazz"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "payComponent",
        "generated": true
    }
]
