designs/pages/features/qr_code_reader.json
[
    {
        "id": "sd_AOv9kIt72QmNixpa",
        "type": "tab",
        "createdDate": "2024-05-15T07:30:19.634Z",
        "label": "qr_code_reader",
        "disabled": false,
        "info": "",
        "functionSeq": 0,
        "generateNext": true,
        "serviceName": "qr_code_readerComponent"
    },
    {
        "id": "sd_CNBBqa9xYYQzraID",
        "type": "OnInit",
        "z": "sd_AOv9kIt72QmNixpa",
        "viewType": "common",
        "nodeType": "start",
        "name": "",
        "functionName": "sd_CNBBqa9xYYQzraID",
        "category": "Lifecycle Events",
        "x": 45,
        "y": 40,
        "wires": [
            [
                "sd_tS4QeW0tWbtwlwf1"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": true,
        "serviceName": "qr_code_readerComponent"
    },
    {
        "id": "sd_tS4QeW0tWbtwlwf1",
        "type": "PageVariables",
        "z": "sd_AOv9kIt72QmNixpa",
        "viewType": "pages",
        "nodeType": "flow",
        "name": "",
        "inputs": 1,
        "outputs": 1,
        "operation": "set",
        "globalVariables": [
            {
                "textIp": "showSpinner",
                "typedIpValue": {
                    "type": "literal",
                    "value": "false"
                }
            }
        ],
        "functionName": "sd_tS4QeW0tWbtwlwf1",
        "category": "Function",
        "x": 125,
        "y": 40,
        "wires": [
            [
                "sd_fINOKqWSNegNVblj"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "qr_code_readerComponent",
        "generated": true
    },
    {
        "id": "sd_IaPEY5gAM9QL2Zh4",
        "type": "PageStart",
        "z": "sd_AOv9kIt72QmNixpa",
        "viewType": "pages",
        "nodeType": "start",
        "name": "go back",
        "outputs": 1,
        "inputVariables": [],
        "localVariables": [],
        "flow_type": "sync",
        "functionName": "goBack",
        "category": "General",
        "x": 85,
        "y": 160,
        "wires": [
            [
                "sd_6FAeldNSGa6Uql2w"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": true,
        "serviceName": "qr_code_readerComponent"
    },
    {
        "id": "sd_wkoF8gW7CdJX16if",
        "type": "Script",
        "z": "sd_AOv9kIt72QmNixpa",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "script": "page.location.back()\n",
        "functionName": "sd_wkoF8gW7CdJX16if",
        "category": "Function",
        "x": 340,
        "y": 160,
        "wires": [
            []
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "qr_code_readerComponent",
        "generated": true
    },
    {
        "id": "sd_6FAeldNSGa6Uql2w",
        "type": "UseDependency",
        "z": "sd_AOv9kIt72QmNixpa",
        "viewType": "client-pages",
        "nodeType": "flow",
        "name": "",
        "inputs": 1,
        "outputs": 1,
        "property": "",
        "propertyType": "bh",
        "propertyGv": "bh.",
        "alias": "",
        "modules": [
            {
                "textIp": "Location",
                "typedIpValue": {
                    "type": "this.page",
                    "value": "location"
                },
                "injectable": true
            }
        ],
        "import_all": false,
        "library": "@angular/common",
        "serviceDesignerType": "pages",
        "functionName": "sd_6FAeldNSGa6Uql2w",
        "category": "Function",
        "x": 205,
        "y": 160,
        "wires": [
            [
                "sd_wkoF8gW7CdJX16if"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "qr_code_readerComponent",
        "generated": true
    },
    {
        "id": "sd_hERbmQfiGKDFVTdC",
        "type": "PageStart",
        "z": "sd_AOv9kIt72QmNixpa",
        "viewType": "pages",
        "nodeType": "start",
        "name": "viewData",
        "outputs": 1,
        "inputVariables": [
            {
                "key": "action",
                "defaultValue": {
                    "type": "any",
                    "value": ""
                },
                "output": false
            }
        ],
        "localVariables": [],
        "flow_type": "sync",
        "functionName": "viewData",
        "category": "General",
        "x": 100,
        "y": 300,
        "wires": [
            [
                "sd_GfcIe9RgKA14Oy0X"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": true,
        "serviceName": "qr_code_readerComponent"
    },
    {
        "id": "sd_GfcIe9RgKA14Oy0X",
        "type": "Script",
        "z": "sd_AOv9kIt72QmNixpa",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "script": "\n\n   if(bh.input.action) {\n    const data = JSON.stringify(bh.input.action.data.value[0].value)\n    const parsed = JSON.parse(data)\n    bh.scanned = JSON.parse(parsed)\n    bh.scanned.belongsTo = page.user.email\n    bh.scanned.transDate = new Date()\n    bh.scanned.transType = \"scan_to_pay\"\n    bh.scanned.statement = bh.scanned.itemName\n    bh.scanned.moneyType = 'moneyOut'\n    bh.scanned._id = new Date().getTime();\n    bh.scanned['email'] = page.user.email\n    delete bh.scanned['accountNumber']\n    page.showSpinner = true\n}",
        "functionName": "sd_GfcIe9RgKA14Oy0X",
        "category": "Function",
        "x": 185,
        "y": 300,
        "wires": [
            [
                "sd_Q732udEvExH85ymY"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "qr_code_readerComponent",
        "generated": true
    },
    {
        "id": "sd_fINOKqWSNegNVblj",
        "type": "Storage",
        "z": "sd_AOv9kIt72QmNixpa",
        "viewType": "client-pages",
        "nodeType": "flow",
        "name": "",
        "operationType": "getItem",
        "storageType": "sessionStorage",
        "outputs": 1,
        "key": {
            "type": "str",
            "value": "user"
        },
        "value": {},
        "resultMapping": {
            "type": "this.page",
            "value": "user"
        },
        "functionName": "sd_fINOKqWSNegNVblj",
        "category": "Storage",
        "x": 240,
        "y": 40,
        "wires": [
            []
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "qr_code_readerComponent",
        "generated": true
    },
    {
        "id": "sd_Q732udEvExH85ymY",
        "type": "Environment",
        "z": "sd_AOv9kIt72QmNixpa",
        "viewType": "client-pages",
        "nodeType": "flow",
        "name": "",
        "outputs": 1,
        "envMaps": [
            {
                "flowVar": {
                    "type": "this.page",
                    "value": "ssdURL"
                },
                "envProperty": "ssdURL"
            }
        ],
        "functionName": "sd_Q732udEvExH85ymY",
        "category": "General",
        "x": 280,
        "y": 300,
        "wires": [
            [
                "sd_hjj29cqmNZyDSYRA"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "qr_code_readerComponent",
        "generated": true
    },
    {
        "id": "sd_hjj29cqmNZyDSYRA",
        "type": "Script",
        "z": "sd_AOv9kIt72QmNixpa",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "script": "bh.url = page.ssdURL + \"scan-payment\"\nbh.url_update = page.ssdURL + \"update\"\nbh.url_user = page.ssdURL + \"get-users\"\n\nbh.difference = page.user.balance - bh.scanned.amount\n\nbh.body = {\n    email: page.user.email,\n    balance : bh.difference,\n    collection : \"users\",\n    amount: bh.scanned.amount\n}\n\n\n",
        "functionName": "sd_hjj29cqmNZyDSYRA",
        "category": "Function",
        "x": 365,
        "y": 300,
        "wires": [
            [
                "sd_m7lT5x0dyAM3txcJ"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "qr_code_readerComponent",
        "generated": true
    },
    {
        "id": "sd_m7lT5x0dyAM3txcJ",
        "type": "PageSwitch",
        "z": "sd_AOv9kIt72QmNixpa",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "property": "user.balance",
        "propertyType": "this.page",
        "propertyGv": "this.page.user.balance",
        "rules": [
            {
                "t": "gte",
                "v": "scanned.amount",
                "vt": "bh",
                "gv": "bh.scanned.amount"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "false",
        "repair": false,
        "outputs": 2,
        "functionName": "sd_m7lT5x0dyAM3txcJ",
        "category": "Function",
        "x": 440,
        "y": 300,
        "wires": [
            [
                "sd_663pfADz7NdrrjfM"
            ],
            [
                "sd_iEk6KDPN7nSJgy9b"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "qr_code_readerComponent",
        "generated": true
    },
    {
        "id": "sd_iEk6KDPN7nSJgy9b",
        "type": "SnackBar",
        "z": "sd_AOv9kIt72QmNixpa",
        "viewType": "client-pages",
        "nodeType": "flow",
        "name": "",
        "message": {
            "type": "str",
            "value": "Insuficient funds"
        },
        "action": {
            "type": "str",
            "value": ""
        },
        "duration": {
            "type": "num",
            "value": ""
        },
        "horizontalPosition": "center",
        "horizontalPositionMap": "",
        "verticalPosition": "bottom",
        "verticalPositionMap": "",
        "panelClass": {
            "type": "str",
            "value": ""
        },
        "direction": "ltr",
        "functionName": "sd_iEk6KDPN7nSJgy9b",
        "category": "General",
        "x": 525,
        "y": 360,
        "wires": [
            []
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "qr_code_readerComponent",
        "generated": true
    },
    {
        "id": "sd_663pfADz7NdrrjfM",
        "type": "HttpRequest",
        "z": "sd_AOv9kIt72QmNixpa",
        "viewType": "client-pages",
        "nodeType": "flow",
        "name": "scanner",
        "method": "post",
        "methodMapping": "",
        "methodMappingObj": {},
        "urlMapping": "bh.url",
        "urlMappingObj": {
            "mapVarType": "bh",
            "mapVarValue": "url"
        },
        "ret": "json",
        "retMapping": "",
        "retMappingObj": {},
        "observe": "",
        "observeMapping": "",
        "observeMappingObj": {},
        "reportProgress": false,
        "withCreds": false,
        "reqBody": "bh.scanned",
        "reqBodyObj": {
            "mapVarType": "bh",
            "mapVarValue": "scanned"
        },
        "resultMapping": "this.page.result",
        "resultMappingObj": {
            "mapVarType": "this.page",
            "mapVarValue": "result"
        },
        "headers": {},
        "headersObj": [],
        "headerMapping": "",
        "headerMappingObj": {},
        "params": {},
        "paramsObj": [],
        "paramMapping": "",
        "paramMappingObj": {},
        "functionName": "scanner",
        "category": "HTTP",
        "x": 525,
        "y": 240,
        "wires": [
            [
                "sd_CQBHxM4rQPlBpSON"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "qr_code_readerComponent",
        "generated": true
    },
    {
        "id": "sd_CQBHxM4rQPlBpSON",
        "type": "HttpRequest",
        "z": "sd_AOv9kIt72QmNixpa",
        "viewType": "client-pages",
        "nodeType": "flow",
        "name": "update user",
        "method": "put",
        "methodMapping": "",
        "methodMappingObj": {},
        "urlMapping": "bh.url_update",
        "urlMappingObj": {
            "mapVarType": "bh",
            "mapVarValue": "url_update"
        },
        "ret": "json",
        "retMapping": "",
        "retMappingObj": {},
        "observe": "",
        "observeMapping": "",
        "observeMappingObj": {},
        "reportProgress": false,
        "withCreds": false,
        "reqBody": "bh.body",
        "reqBodyObj": {
            "mapVarType": "bh",
            "mapVarValue": "body"
        },
        "resultMapping": "this.page.update_results",
        "resultMappingObj": {
            "mapVarType": "this.page",
            "mapVarValue": "update_results"
        },
        "headers": {},
        "headersObj": [],
        "headerMapping": "",
        "headerMappingObj": {},
        "params": {},
        "paramsObj": [],
        "paramMapping": "",
        "paramMappingObj": {},
        "functionName": "updateUser",
        "category": "HTTP",
        "x": 605,
        "y": 240,
        "wires": [
            [
                "sd_rT5pfQdV6MB1EVEo"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "qr_code_readerComponent",
        "generated": true
    },
    {
        "id": "sd_rT5pfQdV6MB1EVEo",
        "type": "HttpRequest",
        "z": "sd_AOv9kIt72QmNixpa",
        "viewType": "client-pages",
        "nodeType": "flow",
        "name": "get-user",
        "method": "get",
        "methodMapping": "",
        "methodMappingObj": {},
        "urlMapping": "bh.url_user",
        "urlMappingObj": {
            "mapVarType": "bh",
            "mapVarValue": "url_user"
        },
        "ret": "json",
        "retMapping": "",
        "retMappingObj": {},
        "observe": "",
        "observeMapping": "",
        "observeMappingObj": {},
        "reportProgress": false,
        "withCreds": false,
        "reqBody": "",
        "reqBodyObj": {
            "mapVarType": "bh",
            "mapVarValue": ""
        },
        "resultMapping": "this.page.users_results",
        "resultMappingObj": {
            "mapVarType": "this.page",
            "mapVarValue": "users_results"
        },
        "headers": {},
        "headersObj": [],
        "headerMapping": "",
        "headerMappingObj": {},
        "params": {},
        "paramsObj": [],
        "paramMapping": "",
        "paramMappingObj": {},
        "functionName": "getUser",
        "category": "HTTP",
        "x": 685,
        "y": 240,
        "wires": [
            [
                "sd_Fpb5KSqsPMPlnxt4"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "qr_code_readerComponent",
        "generated": true
    },
    {
        "id": "sd_Fpb5KSqsPMPlnxt4",
        "type": "Script",
        "z": "sd_AOv9kIt72QmNixpa",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "script": "bh.currentUser = page.users_results.find((user:any) =>{\n    return user.email == page.user.email\n})\n\npage.showSpinner = false\n",
        "functionName": "sd_Fpb5KSqsPMPlnxt4",
        "category": "Function",
        "x": 765,
        "y": 240,
        "wires": [
            [
                "sd_npQatSY15TuyrsgD"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "qr_code_readerComponent",
        "generated": true
    },
    {
        "id": "sd_npQatSY15TuyrsgD",
        "type": "Storage",
        "z": "sd_AOv9kIt72QmNixpa",
        "viewType": "client-pages",
        "nodeType": "flow",
        "name": "",
        "operationType": "setItem",
        "storageType": "sessionStorage",
        "outputs": 1,
        "key": {
            "type": "str",
            "value": "user"
        },
        "value": {
            "type": "bh",
            "value": "currentUser"
        },
        "resultMapping": {},
        "functionName": "sd_npQatSY15TuyrsgD",
        "category": "Storage",
        "x": 845,
        "y": 240,
        "wires": [
            [
                "sd_Zuae4FuwHVc4AIUJ"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "qr_code_readerComponent",
        "generated": true
    },
    {
        "id": "sd_Zuae4FuwHVc4AIUJ",
        "type": "Navigation",
        "z": "sd_AOv9kIt72QmNixpa",
        "viewType": "client-pages",
        "nodeType": "flow",
        "name": "",
        "path": "/home",
        "pathMap": "",
        "pathparams": "",
        "pathparamsMap": "",
        "qparams": "",
        "qparamsMap": "",
        "qparamsArray": "",
        "resultMapping": "",
        "functionName": "sd_Zuae4FuwHVc4AIUJ",
        "category": "Navigation",
        "x": 925,
        "y": 240,
        "wires": [
            [
                "sd_Lhi3K1SeUqzMUG5J"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "qr_code_readerComponent",
        "generated": true
    },
    {
        "id": "sd_Lhi3K1SeUqzMUG5J",
        "type": "SnackBar",
        "z": "sd_AOv9kIt72QmNixpa",
        "viewType": "client-pages",
        "nodeType": "flow",
        "name": "",
        "message": {
            "type": "str",
            "value": "payment successful!"
        },
        "action": {
            "type": "str",
            "value": "OK"
        },
        "duration": {
            "type": "num",
            "value": "3000"
        },
        "horizontalPosition": "center",
        "verticalPosition": "bottom",
        "panelClass": {
            "type": "str",
            "value": ""
        },
        "direction": "ltr",
        "functionName": "sd_Lhi3K1SeUqzMUG5J",
        "category": "General",
        "x": 1005,
        "y": 240,
        "wires": [
            []
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "qr_code_readerComponent",
        "generated": true
    }
]
